In [1]:
import numpy as np 
import pandas as pd 
import csv
import re

In [2]:
#Notebook crashes if all rows are allowed to display 
pd.set_option('max_colwidth', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

Hyposisis that the following data can be incorrect due to the registration form shortfalls.

- Companies does not check if Company name is a trade mark. Not sure if they allow only one company per name. We may companies with exsact names?
- Postcodes in the new form are now valideted but not full dresses if address is provided manually. Do we have companies with valid postcodes but not addresses that were regestered recently?
- Countries are now restricted to UK only. No foreign companies registered recently? 

https://www.gov.uk/government/publications/incorporation-and-names/annex-a-sensitive-words-and-expressions-or-words-that-could-imply-a-connection-with-government

In [3]:
df = pd.read_csv('BasicCompanyDataAsOneFile-2020-07-01.csv', low_memory=False)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4671966 entries, 0 to 4671965
Data columns (total 55 columns):
 #   Column                              Dtype
---  ------                              -----
 0   CompanyName                         object
 1    CompanyNumber                      object
 2   RegAddress.CareOf                   object
 3   RegAddress.POBox                    object
 4   RegAddress.AddressLine1             object
 5    RegAddress.AddressLine2            object
 6   RegAddress.PostTown                 object
 7   RegAddress.County                   object
 8   RegAddress.Country                  object
 9   RegAddress.PostCode                 object
 10  CompanyCategory                     object
 11  CompanyStatus                       object
 12  CountryOfOrigin                     object
 13  DissolutionDate                     float64
 14  IncorporationDate                   object
 15  Accounts.AccountRefDay              float64
 16  Accounts.AccountRefMonth            float64
 17  Accounts.NextDueDate                object
 18  Accounts.LastMadeUpDate             object
 19  Accounts.AccountCategory            object
 20  Returns.NextDueDate                 object
 21  Returns.LastMadeUpDate              object
 22  Mortgages.NumMortCharges            int64
 23  Mortgages.NumMortOutstanding        int64
 24  Mortgages.NumMortPartSatisfied      int64
 25  Mortgages.NumMortSatisfied          int64
 26  SICCode.SicText_1                   object
 27  SICCode.SicText_2                   object
 28  SICCode.SicText_3                   object
 29  SICCode.SicText_4                   object
 30  LimitedPartnerships.NumGenPartners  int64
 31  LimitedPartnerships.NumLimPartners  int64
 32  URI                                 object
 33  PreviousName_1.CONDATE              object
 34   PreviousName_1.CompanyName         object
 35   PreviousName_2.CONDATE             object
 36   PreviousName_2.CompanyName         object
 37  PreviousName_3.CONDATE              object
 38   PreviousName_3.CompanyName         object
 39  PreviousName_4.CONDATE              object
 40   PreviousName_4.CompanyName         object
 41  PreviousName_5.CONDATE              object
 42   PreviousName_5.CompanyName         object
 43  PreviousName_6.CONDATE              object
 44   PreviousName_6.CompanyName         object
 45  PreviousName_7.CONDATE              object
 46   PreviousName_7.CompanyName         object
 47  PreviousName_8.CONDATE              object
 48   PreviousName_8.CompanyName         object
 49  PreviousName_9.CONDATE              object
 50   PreviousName_9.CompanyName         object
 51  PreviousName_10.CONDATE             object
 52   PreviousName_10.CompanyName        object
 53  ConfStmtNextDueDate                 object
 54   ConfStmtLastMadeUpDate             object
dtypes: float64(3), int64(6), object(46)
memory usage: 1.9+ GB

In [5]:
# listing all the column names
df.columns

Index(['CompanyName', ' CompanyNumber', 'RegAddress.CareOf',
       'RegAddress.POBox', 'RegAddress.AddressLine1',
       ' RegAddress.AddressLine2', 'RegAddress.PostTown', 'RegAddress.County',
       'RegAddress.Country', 'RegAddress.PostCode', 'CompanyCategory',
       'CompanyStatus', 'CountryOfOrigin', 'DissolutionDate',
       'IncorporationDate', 'Accounts.AccountRefDay',
       'Accounts.AccountRefMonth', 'Accounts.NextDueDate',
       'Accounts.LastMadeUpDate', 'Accounts.AccountCategory',
       'Returns.NextDueDate', 'Returns.LastMadeUpDate',
       'Mortgages.NumMortCharges', 'Mortgages.NumMortOutstanding',
       'Mortgages.NumMortPartSatisfied', 'Mortgages.NumMortSatisfied',
       'SICCode.SicText_1', 'SICCode.SicText_2', 'SICCode.SicText_3',
       'SICCode.SicText_4', 'LimitedPartnerships.NumGenPartners',
       'LimitedPartnerships.NumLimPartners', 'URI', 'PreviousName_1.CONDATE',
       ' PreviousName_1.CompanyName', ' PreviousName_2.CONDATE',
       ' PreviousName_2.CompanyName', 'PreviousName_3.CONDATE',
       ' PreviousName_3.CompanyName', 'PreviousName_4.CONDATE',
       ' PreviousName_4.CompanyName', 'PreviousName_5.CONDATE',
       ' PreviousName_5.CompanyName', 'PreviousName_6.CONDATE',
       ' PreviousName_6.CompanyName', 'PreviousName_7.CONDATE',
       ' PreviousName_7.CompanyName', 'PreviousName_8.CONDATE',
       ' PreviousName_8.CompanyName', 'PreviousName_9.CONDATE',
       ' PreviousName_9.CompanyName', 'PreviousName_10.CONDATE',
       ' PreviousName_10.CompanyName', 'ConfStmtNextDueDate',
       ' ConfStmtLastMadeUpDate'],
      dtype='object')

In [13]:
# deleting columns that we don't need to speed up processing of the file 
# nearly 5 million records is a lot for my CPU
df.drop(columns=[' PreviousName_10.CompanyName', 'PreviousName_10.CONDATE'], inplace=True)
df.drop(columns=[' PreviousName_9.CompanyName', 'PreviousName_9.CONDATE'], inplace=True)
df.drop(columns=[' PreviousName_8.CompanyName', 'PreviousName_8.CONDATE'], inplace=True)
df.drop(columns=[' PreviousName_7.CompanyName', 'PreviousName_7.CONDATE'], inplace=True)
df.drop(columns=[' PreviousName_6.CompanyName', 'PreviousName_6.CONDATE'], inplace=True)
df.drop(columns=[' PreviousName_5.CompanyName', 'PreviousName_5.CONDATE'], inplace=True)
df.drop(columns=[' PreviousName_4.CompanyName', 'PreviousName_4.CONDATE'], inplace=True)
df.drop(columns=[' PreviousName_3.CompanyName', 'PreviousName_3.CONDATE'], inplace=True)
df.drop(columns=[' PreviousName_2.CompanyName', ' PreviousName_2.CONDATE'], inplace=True)
df.drop(columns=[' PreviousName_1.CompanyName', 'PreviousName_1.CONDATE'], inplace=True)

In [18]:
# checking that the columns were removed
df.columns

Index(['CompanyName', ' CompanyNumber', 'RegAddress.CareOf',
       'RegAddress.POBox', 'RegAddress.AddressLine1',
       ' RegAddress.AddressLine2', 'RegAddress.PostTown', 'RegAddress.County',
       'RegAddress.Country', 'RegAddress.PostCode', 'CompanyCategory',
       'CompanyStatus', 'CountryOfOrigin', 'DissolutionDate',
       'IncorporationDate', 'Accounts.AccountRefDay',
       'Accounts.AccountRefMonth', 'Accounts.NextDueDate',
       'Accounts.LastMadeUpDate', 'Accounts.AccountCategory',
       'Returns.NextDueDate', 'Returns.LastMadeUpDate',
       'Mortgages.NumMortCharges', 'Mortgages.NumMortOutstanding',
       'Mortgages.NumMortPartSatisfied', 'Mortgages.NumMortSatisfied',
       'SICCode.SicText_1', 'SICCode.SicText_2', 'SICCode.SicText_3',
       'SICCode.SicText_4', 'LimitedPartnerships.NumGenPartners',
       'LimitedPartnerships.NumLimPartners', 'URI', 'ConfStmtNextDueDate',
       ' ConfStmtLastMadeUpDate'],
      dtype='object')

In [20]:
# saving file without columns as csv and loading it as a dataframe
df.to_csv('Basic_CH_Data_2020_07_01.csv')
df = pd.read_csv('Basic_CH_Data_2020_07_01.csv')

In [21]:
df.head(100)

,Unnamed: 0,CompanyName,CompanyNumber,RegAddress.CareOf,RegAddress.POBox,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,CompanyCategory,CompanyStatus,CountryOfOrigin,DissolutionDate,IncorporationDate,Accounts.AccountRefDay,Accounts.AccountRefMonth,Accounts.NextDueDate,Accounts.LastMadeUpDate,Accounts.AccountCategory,Returns.NextDueDate,Returns.LastMadeUpDate,Mortgages.NumMortCharges,Mortgages.NumMortOutstanding,Mortgages.NumMortPartSatisfied,Mortgages.NumMortSatisfied,SICCode.SicText_1,SICCode.SicText_2,SICCode.SicText_3,SICCode.SicText_4,LimitedPartnerships.NumGenPartners,LimitedPartnerships.NumLimPartners,URI,ConfStmtNextDueDate,ConfStmtLastMadeUpDate
0,0,! LTD,08209948,NaN,NaN,METROHOUSE 57 PEPPER ROAD,HUNSLET,LEEDS,YORKSHIRE,NaN,LS10 2RU,Private Limited Company,Active,United Kingdom,NaN,11/09/2012,30.0,9.0,30/09/2020,30/09/2018,DORMANT,09/10/2016,11/09/2015,0,0,0,0,99999 - Dormant Company,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/08209948,23/10/2020,11/09/2019
1,1,!? LTD,11399177,NaN,NaN,THE STUDIO HATHERLOW HOUSE,HATHERLOW,ROMILEY,NaN,UNITED KINGDOM,SK6 3DY,Private Limited Company,Active,United Kingdom,NaN,05/06/2018,30.0,6.0,30/06/2021,30/06/2019,TOTAL EXEMPTION FULL,03/07/2019,NaN,0,0,0,0,47710 - Retail sale of clothing in specialised stores,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/11399177,19/06/2021,05/06/2020
2,2,!BIG IMPACT GRAPHICS LIMITED,11743365,NaN,NaN,372 OLD STREET,335 ROSDEN HOUSE,LONDON,NaN,UNITED KINGDOM,EC1V 9LT,Private Limited Company,Active,United Kingdom,NaN,28/12/2018,31.0,12.0,28/12/2020,NaN,NO ACCOUNTS FILED,25/01/2020,NaN,0,0,0,0,18129 - Printing n.e.c.,59112 - Video production activities,63120 - Web portals,74201 - Portrait photographic activities,0,0,http://business.data.gov.uk/id/company/11743365,07/02/2021,27/12/2019
3,3,!L PRODUCTIONS LIMITED,12402527,NaN,NaN,95 MARMION AVENUE,NaN,CHINGFORD,NaN,ENGLAND,E4 8EJ,Private Limited Company,Active,United Kingdom,NaN,14/01/2020,31.0,1.0,14/10/2021,NaN,NO ACCOUNTS FILED,11/02/2021,NaN,0,0,0,0,90030 - Artistic creation,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/12402527,24/02/2021,NaN
4,4,!NKED LTD,12234705,NaN,NaN,29 CORRY DRIVE,NaN,LONDON,NaN,UNITED KINGDOM,SW9 8QS,Private Limited Company,Active,United Kingdom,NaN,30/09/2019,30.0,9.0,30/06/2021,NaN,NO ACCOUNTS FILED,28/10/2020,NaN,0,0,0,0,47710 - Retail sale of clothing in specialised stores,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/12234705,10/11/2020,NaN
5,5,!NNOV8 LIMITED,11006939,NaN,NaN,OLD BARN FARM,HARTFIELD ROAD,EDENBRIDGE,NaN,ENGLAND,TN8 5NF,Private Limited Company,Active,United Kingdom,NaN,11/10/2017,31.0,3.0,31/03/2021,31/03/2019,NaN,08/11/2018,NaN,0,0,0,0,62090 - Other information technology service activities,70229 - Management consultancy activities other than financial management,NaN,NaN,0,0,http://business.data.gov.uk/id/company/11006939,21/11/2020,10/10/2019
6,6,!NSPIRED INVESTMENTS LTD,SC606050,NaN,NaN,26 POLMUIR ROAD,NaN,ABERDEEN,NaN,SCOTLAND,AB11 7SY,Private Limited Company,Active,United Kingdom,NaN,22/08/2018,31.0,8.0,22/08/2020,NaN,NO ACCOUNTS FILED,19/09/2019,NaN,2,2,0,0,68209 - Other letting and operating of own or leased real estate,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/SC606050,12/03/2021,29/01/2020
7,7,!NSPIRED LTD,SC421617,NaN,NaN,26 POLMUIR ROAD,NaN,ABERDEEN,NaN,UNITED KINGDOM,AB11 7SY,Private Limited Company,Active,United Kingdom,NaN,11/04/2012,30.0,3.0,30/03/2021,30/03/2019,TOTAL EXEMPTION FULL,09/05/2017,11/04/2016,0,0,0,0,70229 - Management consultancy activities other than financial management,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/SC421617,25/04/2021,11/04/2020
8,8,!NVERTD DESIGNS LIMITED,09152972,NaN,NaN,10 PENNARD ROAD,NaN,LONDON,NaN,ENGLAND,W12 8DS,Private Limited Company,Active,United Kingdom,NaN,30/07/2014,31.0,7.0,30/04/2021,31/07/2019,NaN,27/08/2016,30/07/2015,0,0,0,0,58190 - Other publishing activities,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/09152972,10/09/2020,30/07/2019
9,9,!OBAC LIMITED,FC031362,NaN,NaN,1ST AND 2ND FLOORS ELIZABETH HOUSE,LES RUETIES BRAYES,ST PETER PORT,GUERNSEY,GUERNSEY,GY1 1EW,Other company type,Active,CHANNEL ISLANDS,NaN,30/11/2012,31.0,12.0,NaN,31/12/2018,FULL,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC031362,14/12/2016,NaN
10,10,!OBAC UK LIMITED,07687209,NaN,NaN,UNIT 9 BERRY COURT FARM BRAMLEY ROAD,LITTLE LONDON,TADLEY,HAMPSHIRE,NaN,RG26 5AT,Private Limited Company,Active,United Kingdom,NaN,29/06/2011,29.0,12.0,29/12/2020,31/12/2018,SMALL,27/07/2017,29/06/2016,1,1,0,0,70229 - Management consultancy activities other than financial management,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/07687209,10/08/2020,29/06/2019
11,11,!YOZO FASS LIMITED,02714021,NaN,NaN,1 VERONICA HOUSE,WICKHAM ROAD,BROCKLEY,NaN,NaN,SE4 1NQ,Private Limited Company,Active,United Kingdom,NaN,12/05/1992,31.0,3.0,31/03/2021,31/03/2019,DORMANT,09/06/2017,12/05/2016,0,0,0,0,90010 - Performing arts,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/02714021,26/05/2021,12/05/2020
12,12,""" BROOK VIEW ""MECHANICAL AND ELECTRICAL ENGINEERING SERVICES LIMITED",10275228,NaN,NaN,62 STAKES ROAD,PURBROOK,WATERLOOVILLE,HAMPSHIRE,ENGLAND,PO7 5NT,Private Limited Company,Active,United Kingdom,NaN,12/07/2016,31.0,7.0,30/04/2021,31/07/2019,DORMANT,09/08/2017,NaN,0,0,0,0,33200 - Installation of industrial machinery and equipment,99999 - Dormant Company,NaN,NaN,0,0,http://business.data.gov.uk/id/company/10275228,22/08/2020,11/07/2019
13,13,"""1 C O LIMITED""",03811958,NaN,NaN,FANE COURT,GREEN ROAD SHIPBOURNE,TONBRIDGE,KENT,NaN,TN11 9PL,Private Limited Company,Active,United Kingdom,NaN,22/07/1999,30.0,9.0,30/06/2021,30/09/2019,DORMANT,19/08/2016,22/07/2015,0,0,0,0,70229 - Management consultancy activities other than financial management,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/03811958,02/09/2020,22/07/2019
14,14,"""1ST RATE"" PSYCHOLOGY SERVICES LTD",11303802,NaN,NaN,116 ALEXANDRA ROAD,NaN,GREAT WAKERING,ESSEX,UNITED KINGDOM,SS3 0GW,Private Limited Company,Active,United Kingdom,NaN,11/04/2018,29.0,4.0,29/04/2021,29/04/2019,NaN,09/05/2019,NaN,0,0,0,0,85600 - Educational support services,86900 - Other human health activities,NaN,NaN,0,0,http://business.data.gov.uk/id/company/11303802,24/04/2021,10/04/2020
15,15,"""2 ECOUTE"" LIMITED",06439541,NaN,NaN,38 PAXTON GARDENS,WOKING,SURREY,NaN,NaN,GU21 5TS,Private Limited Company,Active,United Kingdom,NaN,28/11/2007,30.0,11.0,31/08/2021,30/11/2019,DORMANT,26/12/2016,28/11/2015,0,0,0,0,99999 - Dormant Company,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/06439541,09/01/2021,28/11/2019
16,16,"""20-20 VOICE"" CANCER",CE000952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charitable Incorporated Organisation,Active,United Kingdom,NaN,17/04/2014,NaN,NaN,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/CE000952,NaN,NaN
17,17,"""243 RUGBY ROAD MANAGEMENT COMPANY LIMITED""",05914136,NaN,NaN,154 - 155 GREAT CHARLES STREET QUEENSWAY,NaN,BIRMINGHAM,NaN,ENGLAND,B3 3LP,"PRI/LTD BY GUAR/NSC (Private, limited by guarantee, no share capital)",Active,United Kingdom,NaN,23/08/2006,31.0,8.0,31/05/2021,31/08/2019,NaN,20/09/2016,23/08/2015,0,0,0,0,98000 - Residents property management,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/05914136,04/10/2020,23/08/2019
18,18,"""309"" WEST END LANE MANAGEMENT LIMITED",02943302,NaN,NaN,269 FARNBOROUGH ROAD,NaN,FARNBOROUGH,HAMPSHIRE,NaN,GU14 7LY,Private Limited Company,Active,United Kingdom,NaN,28/06/1994,24.0,12.0,24/12/2020,24/12/2018,DORMANT,26/07/2017,28/06/2016,0,0,0,0,98000 - Residents property management,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/02943302,11/09/2020,31/07/2019
19,19,"""786"" MAZ OFFICE SUPPORT LIMITED",10694769,NaN,NaN,136 EMPRESS AVENUE,NaN,ILFORD,NaN,UNITED KINGDOM,IG1 3DF,Private Limited Company,Active,United Kingdom,NaN,28/03/2017,30.0,4.0,31/01/2022,30/04/2020,NaN,25/04/2018,NaN,0,0,0,0,82110 - Combined office administrative service activities,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/10694769,10/04/2021,27/03/2020
20,20,"""7S&S"" LTD",10159974,NaN,NaN,8 SEATON ROAD,NaN,HAYES,NaN,ENGLAND,UB3 1NS,Private Limited Company,Active,United Kingdom,NaN,03/05/2016,31.0,5.0,31/05/2021,31/05/2019,NaN,31/05/2017,NaN,0,0,0,0,47910 - Retail sale via mail order houses or via Internet,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/10159974,16/05/2021,02/05/2020
21,21,"""A TASTE OF TUSCANY"" LTD",06473722,NaN,NaN,5 ELSTREE GATE,ELSTREE WAY,BOREHAMWOOD,HERTFORDSHIRE,NaN,WD6 1JD,Private Limited Company,Active,United Kingdom,NaN,15/01/2008,31.0,12.0,31/12/2020,31/12/2018,TOTAL EXEMPTION FULL,12/02/2017,15/01/2016,0,0,0,0,56101 - Licensed restaurants,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/06473722,26/02/2021,15/01/2020
22,22,"""A"" CERAMICS LIMITED",04494986,NaN,NaN,132 MANCHESTER ROAD,SHAW,OLDHAM,LANCASHIRE,NaN,OL2 7DD,Private Limited Company,Active,United Kingdom,NaN,25/07/2002,31.0,7.0,30/04/2021,31/07/2019,TOTAL EXEMPTION FULL,22/08/2016,25/07/2015,1,1,0,0,86230 - Dental practice activities,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/04494986,05/09/2020,25/07/2019
23,23,"""A"" CONCEPT LIMITED",02537158,NaN,NaN,BEAUFORT HOUSE,5 MIDDLESEX STREET,LONDON,NaN,NaN,E1 7AA,Private Limited Company,Active,United Kingdom,NaN,05/09/1990,30.0,6.0,30/06/2021,30/06/2019,TOTAL EXEMPTION FULL,03/10/2016,05/09/2015,2,0,0,2,64209 - Activities of other holding companies n.e.c.,73110 - Advertising agencies,NaN,NaN,0,0,http://business.data.gov.uk/id/company/02537158,17/10/2020,05/09/2019
24,24,"""A.B.J.Z DRIVER HIRE "" LTD",09151627,NaN,NaN,25 ASHFORD ROAD,NaN,PLYMOUTH,NaN,ENGLAND,PL4 7BL,Private Limited Company,Active,United Kingdom,NaN,29/07/2014,31.0,7.0,30/04/2021,31/07/2019,TOTAL EXEMPTION FULL,25/08/2016,28/07/2015,0,0,0,0,82990 - Other business support service activities n.e.c.,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/09151627,17/09/2020,06/08/2019
25,25,"""A.K.WELDING SERVICE"" LTD",08981806,NaN,NaN,2 NEW PASSAGE ROAD,PILNING,BRISTOL,NaN,ENGLAND,BS35 4ND,Private Limited Company,Active,United Kingdom,NaN,07/04/2014,30.0,4.0,30/04/2021,30/04/2019,TOTAL EXEMPTION FULL,05/05/2017,07/04/2016,0,0,0,0,41201 - Construction of commercial buildings,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/08981806,01/12/2020,20/10/2019
26,26,"""AJA PROPERTY DEVELOPMENT LTD""",05651002,NaN,NaN,10 WOODBERRY AVENUE,HARROW,MIDDLESEX,NaN,NaN,HA2 6AU,Private Limited Company,Active,United Kingdom,NaN,12/12/2005,31.0,12.0,31/12/2020,31/12/2018,NaN,09/01/2017,12/12/2015,0,0,0,0,68209 - Other letting and operating of own or leased real estate,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/05651002,23/01/2021,12/12/2019
27,27,"""ALL ABOUT ME"" FULL STOP LIMITED",11513658,NaN,NaN,16 BROADWAY AVENUE,NaN,CROYDON,ENGLAND,ENGLAND,CR0 2LP,Private Limited Company,Active,United Kingdom,NaN,13/08/2018,31.0,8.0,31/05/2021,31/08/2019,DORMANT,10/09/2019,NaN,0,0,0,0,82990 - Other business support service activities n.e.c.,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/11513658,23/09/2020,12/08/2019
28,28,"""ALL WRAPPED UP"" EVENTS MANAGEMENT LTD",SC313991,NaN,NaN,13 RUTLAND STREET,NaN,EDINBURGH,NaN,SCOTLAND,EH1 2AE,Private Limited Company,Active,United Kingdom,NaN,03/01/2007,28.0,2.0,28/02/2021,28/02/2019,NaN,31/01/2017,03/01/2016,0,0,0,0,82990 - Other business support service activities n.e.c.,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/SC313991,14/02/2021,03/01/2020
29,29,"""ALLWELL"" ORGANIC LTD",11191833,NaN,NaN,142 TODDINGTON ROAD,NaN,LUTON,BEDFORDSHIRE,ENGLAND,LU4 9DY,Private Limited Company,Active,United Kingdom,NaN,07/02/2018,28.0,2.0,28/02/2021,28/02/2019,DORMANT,07/03/2019,NaN,0,0,0,0,99999 - Dormant Company,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/11191833,02/06/2021,19/05/2020
30,30,"""ALTAI CASHMERE"" LLC",FC027187,NaN,NaN,"BUILDING LEFT TO THE ""TUUL""",DRY CLEANING,KHAN-UUL DISTRICT,"ULAANBAATAR, MONGOLIA",MONGOLIA,NaN,Other company type,Active,MONGOLIA,NaN,14/06/2006,30.0,6.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC027187,26/12/2016,NaN
31,31,"""AN IDEAL LIFE???"" CIC",12459056,NaN,NaN,197 CLAREMONT ROAD,NaN,MANCHESTER,NaN,ENGLAND,M14 4JF,Community Interest Company,Active,United Kingdom,NaN,12/02/2020,29.0,2.0,12/11/2021,NaN,NO ACCOUNTS FILED,12/03/2021,NaN,0,0,0,0,85600 - Educational support services,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/12459056,25/03/2021,NaN
32,32,"""AND BREATHE"" LTD",09008930,NaN,NaN,20 HORNCASTLE ROAD,NaN,BOSTON,NaN,NaN,PE21 9BU,Private Limited Company,Active,United Kingdom,NaN,24/04/2014,30.0,4.0,30/04/2021,30/04/2019,NaN,22/05/2017,24/04/2016,0,0,0,0,86900 - Other human health activities,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/09008930,08/05/2021,24/04/2020
33,33,"""ANDI'S GIFT""",CE012989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charitable Incorporated Organisation,Active,United Kingdom,NaN,22/01/2018,NaN,NaN,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/CE012989,NaN,NaN
34,34,"""ANIA WALDI"" TRANS LTD",10228158,NaN,NaN,15 SPIRE VIEW,NaN,SALISBURY,NaN,ENGLAND,SP2 7GN,Private Limited Company,Active,United Kingdom,NaN,13/06/2016,30.0,6.0,30/06/2021,30/06/2019,TOTAL EXEMPTION FULL,11/07/2017,NaN,0,0,0,0,49410 - Freight transport by road,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/10228158,26/06/2020,12/06/2019
35,35,"""ARTHUR BALFOUR"",CONSERVATIVE WORKING MEN'S CLUB LIMITED",IP10067R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Registered Society,Active,United Kingdom,NaN,01/01/1981,NaN,NaN,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/IP10067R,15/01/2017,NaN
36,36,"""AS I HAVE LOVED YOU"" LIMITED",08181359,NaN,NaN,HOLLY HOUSE,220 NEW LONDON ROAD,CHELMSFORD,NaN,ENGLAND,CM2 9AE,"PRI/LTD BY GUAR/NSC (Private, limited by guarantee, no share capital)",Active,United Kingdom,NaN,16/08/2012,31.0,8.0,31/05/2021,31/08/2019,DORMANT,22/07/2017,24/06/2016,0,0,0,0,74990 - Non-trading company,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/08181359,05/08/2020,24/06/2019
37,37,"""AUTOCONTEX"" AUTOMOBIL CONTAINER EXPRESS GMBH",FC018262,NaN,NaN,BRANCH REGISTRATION,REFER TO PARENT REGISTRY,NaN,NaN,GERMANY,NaN,Other company type,Active,WEST GERMANY,NaN,01/11/1994,30.0,11.0,NaN,31/12/2002,FULL,NaN,NaN,2,2,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC018262,01/12/2016,NaN
38,38,"""AVICENNA-MED"" LTD",12127911,NaN,NaN,3 REDSAND CLOSE,NaN,WILLENHALL,NaN,ENGLAND,WV12 4EZ,Private Limited Company,Active,United Kingdom,NaN,29/07/2019,31.0,7.0,29/04/2021,NaN,NO ACCOUNTS FILED,26/08/2020,NaN,0,0,0,0,86900 - Other human health activities,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/12127911,08/09/2020,NaN
39,39,"""B"" COOL LIMITED",05318740,NaN,NaN,C/O CHARNWOOD ACCOUNTANTS THE POINT GRANITE WAY,MOUNTSORREL,LOUGHBOROUGH,LEICESTERSHIRE,NaN,LE12 7TZ,Private Limited Company,Active,United Kingdom,NaN,21/12/2004,31.0,12.0,30/09/2021,31/12/2019,TOTAL EXEMPTION FULL,18/01/2017,21/12/2015,0,0,0,0,"43220 - Plumbing, heat and air-conditioning installation",NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/05318740,01/02/2021,21/12/2019
40,40,"""B"" JEWELLED LIMITED",09584663,NaN,NaN,65 NEWMARKET LANE,METHLEY,LEEDS,NaN,UNITED KINGDOM,LS26 9DN,Private Limited Company,Active,United Kingdom,NaN,11/05/2015,31.0,5.0,31/05/2021,31/05/2019,TOTAL EXEMPTION FULL,08/06/2017,11/05/2016,0,0,0,0,86900 - Other human health activities,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/09584663,25/05/2021,11/05/2020
41,41,"""BACHELORS"" LIMITED(THE)",00807672,NaN,NaN,47A HIGH STREET,BANSTEAD,SURREY,NaN,NaN,SM7 2NL,Private Limited Company,Liquidation,United Kingdom,NaN,03/06/1964,30.0,6.0,30/04/2003,NaN,NO ACCOUNTS FILED,NaN,NaN,1,1,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00807672,17/06/2017,NaN
42,42,"""BAMEX"" ZAKLAD PRODUKCYJNO-HANDLOWY",FC015324,NaN,NaN,MR.E.SZELICZYK,67 OXLEAY ROAD,RAYNERS LANE,HARROW MIDDX.HA2 9UZ,POLAND,NaN,Other company type,Active,POLAND,NaN,11/12/1989,31.0,3.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC015324,25/12/2016,NaN
43,43,"""BE"" NEWHALL MANAGEMENT COMPANY LIMITED",07326397,NaN,NaN,VANTAGE POINT,23 MARK ROAD,HEMEL HEMPSTEAD,HERTFORDSHIRE,NaN,HP2 7DN,"PRI/LTD BY GUAR/NSC (Private, limited by guarantee, no share capital)",Active,United Kingdom,NaN,27/07/2010,31.0,7.0,30/04/2021,31/07/2019,DORMANT,24/08/2016,27/07/2015,0,0,0,0,98000 - Residents property management,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/07326397,07/09/2020,27/07/2019
44,44,"""BEDE INVESTMENT PROPERTIES LIMITED""",02871100,NaN,NaN,43A UXBRIDGE ROAD,LONDON,NaN,NaN,NaN,W12 8LA,Private Limited Company,Active,United Kingdom,NaN,12/11/1993,31.0,12.0,31/12/2020,31/12/2018,NaN,28/11/2016,31/10/2015,5,5,0,0,68100 - Buying and selling of own real estate,68209 - Other letting and operating of own or leased real estate,NaN,NaN,0,0,http://business.data.gov.uk/id/company/02871100,12/12/2020,31/10/2019
45,45,"""BEECHBANK COURT"" MANAGEMENT COMPANY LIMITED",01382560,NaN,NaN,33 BEECHBANK,NORWICH,NORFOLK,NaN,NaN,NR2 2AL,Private Limited Company,Active,United Kingdom,NaN,07/08/1978,31.0,5.0,31/05/2021,31/05/2019,NaN,23/05/2017,25/04/2016,0,0,0,0,68320 - Management of real estate on a fee or contract basis,74990 - Non-trading company,NaN,NaN,0,0,http://business.data.gov.uk/id/company/01382560,09/05/2021,25/04/2020
46,46,"""BELL TELECOM"" - AMERICAN TELEPHONE & WIRELESS LTD.",11040894,NaN,NaN,"82 JAMES CARTER ROAD, UNIT A",MILDENHALL,BURY ST. EDMUNDS,NaN,ENGLAND,IP28 7DE,Private Limited Company,Active,United Kingdom,NaN,31/10/2017,30.0,6.0,30/06/2021,30/06/2019,FULL,28/11/2018,NaN,0,0,0,0,"46240 - Wholesale of hides, skins and leather",46720 - Wholesale of metals and metal ores,46900 - Non-specialised wholesale trade,64999 - Financial intermediation not elsewhere classified,0,0,http://business.data.gov.uk/id/company/11040894,21/09/2020,10/08/2019
47,47,"""BELLE-VUE"" ENTERPRISES LIMITED",04427981,NaN,NaN,ST ANN'S HOUSE,ST ANN'S STREET,KINGS LYNN,NORFOLK,NaN,PE30 1LT,Private Limited Company,Active,United Kingdom,NaN,30/04/2002,31.0,5.0,31/05/2021,31/05/2019,NaN,25/05/2017,27/04/2016,0,0,0,0,56101 - Licensed restaurants,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/04427981,11/05/2021,27/04/2020
48,48,"""BELMIN BANISTERS"" LTD",10284174,NaN,NaN,49B CHOBHAM ROAD,NaN,LONDON,NaN,UNITED KINGDOM,E15 1LU,Private Limited Company,Active - Proposal to Strike off,United Kingdom,NaN,18/07/2016,31.0,7.0,30/04/2021,31/07/2019,DORMANT,15/08/2017,NaN,0,0,0,0,25110 - Manufacture of metal structures and parts of structures,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/10284174,28/08/2020,17/07/2019
49,49,"""BOBOTRANS LTD"" LTD",10768547,NaN,NaN,HIGHLAND RISE,136 GRAVELLY HILL,BIRMINGHAM,NaN,ENGLAND,B23 7PF,Private Limited Company,Active,United Kingdom,NaN,12/05/2017,31.0,5.0,31/05/2021,31/05/2019,TOTAL EXEMPTION FULL,09/06/2018,NaN,0,0,0,0,30990 - Manufacture of other transport equipment n.e.c.,41202 - Construction of domestic buildings,56103 - Take-away food shops and mobile food stands,56290 - Other food services,0,0,http://business.data.gov.uk/id/company/10768547,25/05/2021,11/05/2020

Lets review entries in column RegAddress.Country and make sure that they make sense and that we are not useing diffrent names for the same country.

In [22]:
df['RegAddress.Country'].unique().tolist()

[nan,
 'UNITED KINGDOM',
 'ENGLAND',
 'SCOTLAND',
 'GUERNSEY',
 'MONGOLIA',
 'GERMANY',
 'POLAND',
 'WALES',
 'ISRAEL',
 'EGYPT',
 'AUSTRIA',
 'KAZAKHSTAN',
 'ROMANIA',
 'BRAZIL',
 'CROATIA',
 'UNITED STATES',
 'CANADA',
 'NORTHERN IRELAND',
 'JERSEY',
 'MALAYSIA',
 'VIRGIN ISLANDS',
 'CAYMAN ISLANDS',
 'CHANNEL ISLANDS',
 'NETHERLANDS',
 'AUSTRALIA',
 'SWITZERLAND',
 'INDIA',
 'FRANCE',
 'IRELAND',
 'SRI LANKA',
 'GHANA',
 'ITALY',
 'GREECE',
 'NIGERIA',
 'UNITED ARAB EMIRATES',
 'DENMARK',
 'BANGLADESH',
 'VIRGIN ISLANDS, BRITISH',
 'ISLE OF MAN',
 'JAPAN',
 'GIBRALTAR',
 'SINGAPORE',
 'PAKISTAN',
 'BAHAMAS',
 'HONG KONG',
 'BERMUDA',
 'RUSSIA',
 'SPAIN',
 'BELIZE',
 'SOUTH KOREA',
 'BELGIUM',
 'URUGUAY',
 'CHINA',
 'NORWAY',
 'SWEDEN',
 'ARGENTINA',
 'MEXICO',
 'LIECHTENSTEIN',
 'SEYCHELLES',
 'IRAN',
 'MOZAMBIQUE',
 'SOUTH AFRICA',
 'TANZANIA',
 'KENYA',
 'MALAWI',
 'RWANDA',
 'UGANDA',
 'ZAMBIA',
 'CZECHOSLOVAKIA',
 'IVORY COAST',
 'ALGERIA',
 'JAMAICA',
 'MALTA',
 'MAURITIUS',
 'NEW ZEALAND',
 'FIJI',
 'SERBIA',
 'ZIMBABWE',
 'CYPRUS',
 'SAUDI ARABIA',
 'OMAN',
 'KUWAIT',
 'IRAQ',
 'ALBANIA',
 'CURACAO',
 'JORDAN',
 'LIBERIA',
 'MARSHALL ISLANDS',
 'LUXEMBOURG',
 'BAHRAIN',
 'UKRAINE',
 'PANAMA',
 'MOROCCO',
 'NETHERLANDS ANTILLES',
 'ANGUILLA',
 'TURKEY',
 'THAILAND',
 'AFGHANISTAN',
 'ARMENIA',
 'LIVERPOOL',
 'TURKS AND CAICOS ISLANDS',
 'CONGO',
 'AZERBAIJAN',
 'PORTUGAL',
 'TRINIDAD AND TOBAGO',
 'COLOMBIA',
 'TAIWAN',
 'CZECH REPUBLIC',
 'BELARUS',
 'BARBADOS',
 'SAINT KITTS AND NEVIS',
 'SAINT LUCIA',
 'BRITISH ISLES',
 'DOMINICA',
 'VENEZUELA',
 'CAMEROON',
 'HONG KONG  CHINA',
 'CONGO, THE DEMOCRATIC REPUBLIC OF THE',
 'USSR',
 'GUINEA',
 'COOK ISLANDS',
 'GUYANA',
 'NORTHERN IRELAND UNITED KINGDOM',
 'KYRGYZSTAN',
 'GEORGIA',
 'BULGARIA',
 'LIBYA',
 'LATVIA',
 'GAMBIA',
 'U',
 'QATAR',
 'KOREA',
 'COSTA RICA',
 'ICELAND',
 'SLOVAKIA',
 'N',
 'BWI',
 'BOSNIA AND HERZEGOVINA',
 'PERU',
 'ETHIOPIA',
 'LEBANON',
 'VANUATU',
 'BRITISH WEST INDIES',
 'FINLAND',
 'PHILIPPINES',
 'MONACO',
 'SUDAN',
 'NEPAL',
 'FAROE ISLANDS',
 'HUNGARY',
 'GY1 2HL',
 'MOLDOVA',
 'SOUTH AFRICAN',
 'UZBEKISTAN',
 'KOSOVO',
 'REUNION',
 'CHILE',
 'PO33 2TG',
 'DUMMY',
 'LITHUANIA',
 'YUGOSLAVIA',
 'MADAGASCAR',
 'CHANNEL ISLANDSSW1W 0AU',
 'CYMRU',
 'VIETNAM',
 'TAJIKSTAN',
 'FAROE ISLAND',
 'BURUNDI',
 'BOTSWANA',
 'GRENADA',
 'ECUADOR',
 'INDONESIA',
 'TURKMENISTAN',
 'SLOVENIA',
 'WEST INDIES',
 'BRUNEI DARUSSALAM',
 'WEST YORKSHIRE',
 'BRITISH CHANNEL ISLANDS',
 'ISLAMIC REPUBLIC OF IRAN',
 'MALI',
 'ENGLAND & WALES',
 'PUERTO RICO',
 'ANTIGUA AND BARBUDA',
 'SCOTLAND  UK',
 'SOUTH-WEST AFRICA',
 'SAINT VINCENT AND THE GRENADINES',
 'BRITISH VIGIN ISLANDS',
 'SW7',
 'SIERRA LEONE',
 'YEMEN']

In [ ]:
df.loc[df['RegAddress.Country'] == 'ENGLAND', ['RegAddress.Country']] = 'UNITED KINGDOM'
df.loc[df['RegAddress.Country'] == 'SCOTLAND', ['RegAddress.Country']] = 'UNITED KINGDOM'
df.loc[df['RegAddress.Country'] == 'WALES', ['RegAddress.Country']] = 'UNITED KINGDOM'
df.loc[df['RegAddress.Country'] == 'LIVERPOOL', ['RegAddress.Country']] = 'UNITED KINGDOM'
df.loc[df['RegAddress.Country'] == 'PO33 2TG', ['RegAddress.Country']] = 'UNITED KINGDOM'
df.loc[df['RegAddress.Country'] == 'WEST YORKSHIRE', ['RegAddress.Country']] = 'UNITED KINGDOM'
df.loc[df['RegAddress.Country'] == 'ENGLAND & WALES', ['RegAddress.Country']] = 'UNITED KINGDOM'
df.loc[df['RegAddress.Country'] == 'SCOTLAND  UK', ['RegAddress.Country']] = 'UNITED KINGDOM'
df.loc[df['RegAddress.Country'] == 'SW7', ['RegAddress.Country']] = 'UNITED KINGDOM'

In [ ]:
# above code takes a long while to run
# I am tired of re runnning it because Kernal dies at a later stage and I am back to squire one
# saving file with corrected Country column as csv and loading it as a dataframe
df.to_csv('Basic_CH_Data_2020_07_01_fix.csv')
df = pd.read_csv('Basic_CH_Data_2020_07_01_fix.csv')

In [23]:
# something odd is happening since we have countries that are based in the USSR
# USSR does not exsist for 20 years
# How come we have companies registered there?
df.loc[df['RegAddress.Country'] == 'USSR']

,CompanyName,CompanyNumber,RegAddress.CareOf,RegAddress.POBox,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,CompanyCategory,CompanyStatus,CountryOfOrigin,DissolutionDate,IncorporationDate,Accounts.AccountRefDay,Accounts.AccountRefMonth,Accounts.NextDueDate,Accounts.LastMadeUpDate,Accounts.AccountCategory,Returns.NextDueDate,Returns.LastMadeUpDate,Mortgages.NumMortCharges,Mortgages.NumMortOutstanding,Mortgages.NumMortPartSatisfied,Mortgages.NumMortSatisfied,SICCode.SicText_1,SICCode.SicText_2,SICCode.SicText_3,SICCode.SicText_4,LimitedPartnerships.NumGenPartners,LimitedPartnerships.NumLimPartners,URI,PreviousName_1.CONDATE,PreviousName_1.CompanyName,PreviousName_2.CONDATE,PreviousName_2.CompanyName,PreviousName_3.CONDATE,PreviousName_3.CompanyName,PreviousName_4.CONDATE,PreviousName_4.CompanyName,PreviousName_5.CONDATE,PreviousName_5.CompanyName,PreviousName_6.CONDATE,PreviousName_6.CompanyName,PreviousName_7.CONDATE,PreviousName_7.CompanyName,PreviousName_8.CONDATE,PreviousName_8.CompanyName,PreviousName_9.CONDATE,PreviousName_9.CompanyName,PreviousName_10.CONDATE,PreviousName_10.CompanyName,ConfStmtNextDueDate,ConfStmtLastMadeUpDate,Reg_Country
969647,"COMMERCIAL BANK ""MOST-BANK",FC018405,NaN,NaN,DR MICHAEL V. BORSHCHEVSKY,32 RINGMORE RISE,LONDON,NaN,USSR,SE23 3DE,Other company type,Active,USSR,NaN,29/12/1994,31.0,12.0,NaN,31/12/1998,FULL,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC018405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/01/2017,NaN,USSR
969650,"COMMERCIAL BANK OF PROMOTION OF PROGRESSIVE TECHNOLOGIES AND INVESTMENTS IN THE FIELD OF POWER INDUSTRY, BIOTECHNOLOGY AND MEDICINE (""ELBIM-BANK"")",FC018634,NaN,NaN,MR SERGEI MOROZOV (+ 1 OTHER),104 SALISBURY HOUSE,LONDON WALL,LONDON,USSR,EC2M 5QQ,Other company type,Active,USSR,NaN,01/05/1995,31.0,12.0,NaN,31/12/1998,FULL,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC018634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15/05/2017,NaN,USSR
969652,COMMERCIAL BANK STROYINVEST,FC017697,NaN,NaN,L.P. BLAKELEY,COMMERCIAL BANK STROYINVEST,"SUITE 252, 2 LANSDOWNE ROW",BERKELEY SQUARE LONDON8HL,USSR,NaN,Other company type,Active,USSR,NaN,13/12/1993,31.0,12.0,NaN,01/01/1999,FULL,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC017697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27/12/2016,NaN,USSR
983371,CONCERN MILAN,FC019167,NaN,NaN,45 LENINSKY PROSPECT,MOSCOW,RUSSIA,NaN,USSR,NaN,Other company type,Active,USSR,NaN,12/04/1996,30.0,4.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC019167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21/05/2017,NaN,USSR
1400849,ENERGY MACHINE BUILDING BANK (ENERGOMASHBANK) (PUBLIC JOINT STOCK COMPANY),FC020646,NaN,NaN,MR ALEXEI FOMINE,276 HIGH STREET,GUILDFORD,SURREY,USSR,GU1 3JL,Other company type,Active,USSR,NaN,26/09/1997,31.0,12.0,NaN,31/12/2001,FULL,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC020646,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10/10/2016,NaN,USSR
1509811,"FEDERAL STATE UNITARY ENTERPRISE ""STATE TRANSPORT COMPANY ""RUSSIA"" T/A - ""ROSSIYA"" - RUSSIAN AIRLINES",FC025213,NaN,NaN,ALEXANDRE SHUKLIN,THE MEWS,ST NICHOLAS LANE,LEWES LEWES EAST SUSSEX,USSR,BN7 2JZ,Other company type,Active,USSR,NaN,21/04/2004,30.0,4.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC025213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05/05/2017,NaN,USSR
2086622,"INTER-REGIONAL PUBLIC ORGANIZATION ""THE CENTER FOR INTERNATIONAL ECONOMIC SCIENTIFIC AND CULTURAL COOPERATION""",FC025214,NaN,NaN,STEPHEN JOHN GOLDSMITH (+1 OTH),2 KNIGHTON PLACE,OFF KNIGHTON LANE,BUCKHURST HILL ESSEXIG9 5EH,USSR,NaN,Other company type,Active,USSR,NaN,28/04/2004,31.0,12.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC025214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/05/2017,NaN,USSR
2099659,"INVESTMENT FUND OF SOCIAL PROTECTION ""PARMA""",FC018729,NaN,NaN,167031 32 PERVOMAYSKAYA ST,SYKTYVKAR,KOMI REPUBLIC,RUSSIA,USSR,NaN,Other company type,Active,USSR,NaN,01/08/1995,31.0,8.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC018729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28/08/2016,NaN,USSR
2109865,IRTYSH SHIPPING COMPANY,FC022524,NaN,NaN,3 K. MARX PROSPECT,644042 OMSK-24,RUSSIA,NaN,USSR,NaN,Other company type,Active,USSR,NaN,10/05/2000,31.0,3.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC022524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03/07/2017,NaN,USSR
2231627,JOINT STOCK BANK IMPERIAL,FC020385,NaN,NaN,ALEXANDER NIKOLAYEVICH KOLCHEV,4TH FLOOR SOUTH WARWICK HOUSE,65/66 QUEEN STREET,LONDON EC4,USSR,NaN,Other company type,Active,USSR,NaN,28/01/1997,31.0,1.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC020385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11/02/2017,NaN,USSR
2231628,"JOINT STOCK COMMERCIAL BANK ""CENTROCREDIT""",FC023473,NaN,NaN,31 PYATNITSKAYA STREET,109017 MOSCOW,RUSSIA,NaN,USSR,NaN,Other company type,Active,USSR,NaN,16/07/2001,30.0,9.0,NaN,NaN,FULL,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC023473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11/10/2016,NaN,USSR
2231631,"JOINT STOCK COMPANY ""ROSSIYSKIY KREDIT BANK""",FC021351,NaN,NaN,MR EVGENY SADOVSKY,26 BARK PLACE,LONDON,NaN,USSR,W2 7AT,Other company type,Active,USSR,NaN,18/09/1998,30.0,9.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC021351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02/10/2016,NaN,USSR
2231687,"JOINT-STOCK COMPANY ""CONCORD"", INC.",FC022361,NaN,NaN,"MOZAOSKOYE AV, 8",MOSCOW 121373,MOSCOW,NaN,USSR,NaN,Other company type,Active,USSR,NaN,12/01/2000,31.0,1.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC022361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06/04/2017,NaN,USSR
2231688,"JOINT-STOCK COMPANY FEDERAL CONTRACT CORPORATION ""ROSCONTRACT""",FC020566,NaN,NaN,DR OLEG PRESKIN,10 CHARLES II STREET,LONDON,NaN,USSR,SW1Y 4AA,Other company type,Active,USSR,NaN,07/08/1997,31.0,8.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC020566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21/08/2016,NaN,USSR
2632700,MANAGING COMPANY OF BANKING GROUP SBS-AGRO,FC020977,NaN,NaN,70 PYATNITSKAYA STR.,MOSCOW 113095,RUSSIA,NaN,USSR,NaN,Other company type,Active,USSR,NaN,18/03/1998,30.0,4.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC020977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20/04/2017,NaN,USSR
2654653,MARITIME JOINT STOCK BANK,FC017615,NaN,NaN,YURIY ALEKSEEVICH BALAGUROV,11-103 SLOANE STREET,LONDON,NaN,USSR,SW1X 9PP,Other company type,Active,USSR,NaN,16/08/1993,31.0,8.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC017615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30/08/2016,NaN,USSR
2750916,MEZHCOMBANK,FC019408,NaN,NaN,MR ALEKSANOR LINTSOV,36/38 CORNHILL,LONDON,NaN,USSR,EC3V 3ND,Other company type,Active,USSR,NaN,06/09/1996,31.0,12.0,NaN,01/01/1997,ACCOUNTS TYPE NOT AVAILABLE,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC019408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20/09/2016,NaN,USSR
2843816,"MOSCOW SCIENTIFIC INDUSTRIAL ASSOCIATION ""SPECTRUM""",FC018175,NaN,NaN,ZAKHAR VLADIMIROVICH KLYUYEV(+1),43 FLORENCE ROAD,LOWESTOFT,SUFFOLK,USSR,NaN,Other company type,Active,USSR,NaN,01/08/1994,31.0,8.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC018175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15/08/2016,NaN,USSR
2913529,NATIONAL KYRGYZSTAN AIRLINES,FC021648,NaN,NaN,MANAS AIRPORT,BISHKEK,KYRGYZSTAN,NaN,USSR,NaN,Other company type,Active,USSR,NaN,05/01/1999,31.0,3.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC021648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17/03/2017,NaN,USSR
3500340,RETUSH,FC021747,NaN,NaN,BOARDROOM 51,ENISEISKAJA 33,MOSCOW,RUSSIA,USSR,NaN,Other company type,Active,USSR,NaN,31/10/1999,30.0,4.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC021747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10/05/2017,NaN,USSR
3639943,"SAINT-PETERSBURG COMMERCIAL BANK ""TAVRICHESKY"" (JOINT STOCK)",FC023991,NaN,NaN,"39 RADISHCHEVA UI,",ST PETERSBURG 191123,RUSSIA,NaN,USSR,NaN,Other company type,Active,USSR,NaN,09/07/2002,31.0,7.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC023991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30/07/2016,NaN,USSR
3937837,"STAYTOR, LIMITED LIABILITY COMPANY",FC023069,NaN,NaN,MS NADEZHDA SCHERBAKOVA,11 LEXHAM MEWS,LONDON,NaN,USSR,W8 6JW,Other company type,Active,USSR,NaN,02/02/2001,28.0,2.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC023069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16/02/2017,NaN,USSR
4163130,"THE JOINT-STOCK BANK ""TORIBANK""",FC020846,NaN,NaN,MR ANTON ISSUPOV,17 PRINCE ALBERT ROAD,LONDON,NaN,USSR,NW1 7ST,Other company type,Active,USSR,NaN,09/06/1997,31.0,12.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC020846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23/06/2017,NaN,USSR
4376414,UNICORN (LMUK) LTD,FC021234,NaN,NaN,9 STAROMONETNY PER,MOSCOW,109017,RUSSIA,USSR,NaN,Other company type,Active,USSR,NaN,15/05/1998,31.0,7.0,NaN,31/12/2000,FULL,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC021234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07/08/2016,NaN,USSR
4643208,YOUR LAWYER JOINT STOCK COMPANY,FC021551,NaN,NaN,MS NATASHA LOBOVA,59 G KENSINGTON COURT,LONDON,NaN,USSR,W8 5DG,Other company type,Active,USSR,NaN,25/11/1998,30.0,11.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC021551,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09/12/2016,NaN,USSR

In [5]:
# manual review of the most common and least common postcodes
# no problematic postcodes are being selected this way
#df['RegAddress.PostCode'].value_counts().to_frame().tail(1000)
df['RegAddress.PostCode'].value_counts().to_frame().head(1000)
#df['RegAddress.PostCode'].value_counts().to_frame()

          RegAddress.PostCode
N1 7GU                  42607
WC2H 9JQ                36826
EC1V 2NX                28174
WA1 1RG                 13963
WC1N 3AX                13121
...                       ...
LE12 7NN                  329
SK9 4LY                   329
M17 8PL                   328
NN1 5PT                   328
W1K 3JP                   328

[1000 rows x 1 columns]

In [ ]:
# adding column that contains first part of postcode split by space
new = df['RegAddress.PostCode'].str.split(" ", n = 1, expand = True) 
df["PostCode1"]= new[0] 
#df_postcode["PostCode2"]= new[1] 
df

In [ ]:
# manually checking that split worked correctly
df[['RegAddress.PostCode', 'PostCode1']].head(2000)

In [15]:
# Checking where outercodes/values in column PostCode1 occure i the data set less then 20 times
# We are not expecting incorrect outercodes to appear frequently 
vc = df['PostCode1'].value_counts().head(3000)
vc[vc<20]

IM8         19
L29         19
PA22        19
EH38        19
PH50        19
C07         19
PA33        19
LL51        19
LL43        19
EC2         19
SO5         18
KA14        18
PH31        18
IV44        18
BS19        18
BT64        17
C09         17
RG13        17
W15         17
LL37        17
BS17        17
PH5         17
PA65        17
IM99        16
PH35        16
CF7         16
EC3         16
YO4         16
PH39        16
PA60        16
IV52        16
PE18        16
SO9         16
IV42        16
SSO         15
IV43        15
PA26        15
PA44        15
RG3         15
EC4         15
EC1P        15
PA72        15
PA48        14
NP5         14
PA61        14
NP3         14
HAO         14
CA18        14
B40         14
NG90        14
LD4         14
BS12        14
PA76        14
IV45        13
JE3         13
LL27        13
S30         13
IV41        13
C04         13
GY4         13
FK20        12
KY1-1104    12
PH40        12
LL38        12
AB2         12
DE2         12
S31         12
BN4         11
SA36        11
PH42        11
PH38        11
BN50        11
GU13        11
L44         11
LL70        11
HS5         10
LL47        10
06          10
YO6         10
LL39        10
KW6         10
YO2         10
IV28        10
CH31        10
C06         10
NE69        10
EW           9
19808        9
ZE3          9
NW1W         9
BS99         9
L67          9
AB5          9
PA45         9
C05          9
KY1-1103     9
L65          9
PA49         8
FK18         8
PA78         8
RG15         8
19           8
IV56         8
TS90         8
BN99         8
LL76         8
C01          7
L42          7
LL73         7
SLO          7
LL69         7
10           7
L60          7
XXX          7
WR1R         6
P07          6
LEI          6
PA41         6
AB4          6
XXXX         6
IM4          6
TR23         6
19801        6
IV53         6
SO4O         6
P06          6
0L9          6
L64          6
TR25         6
S19          6
M10          6
LONDON       6
HS4          6
L45          6
WIU          6
YO3          6
GX11         6
EC2M3TY      5
C02          5
BF1          5
PH37         5
YO5          5
KW5          5
P01          5
SE           5
MK           5
RG16         5
,            5
NW           5
XXXXXXXX     5
PE           5
PA25         5
HM           5
KW11         5
Y08          5
W17          5
TS51         5
PH17         5
GY2          5
PA46         4
19901        4
BD97         4
SSI          4
P05          4
P03          4
B55          4
VG1110       4
CH9          4
WC25         4
P09          4
B9O          4
L63          4
W16          4
L61          4
OL52         4
S91          4
PH19         4
CMO          4
PA66         4
DC           4
ECIV         3
C010         3
20005        3
NSW          3
75008        3
1P6          3
200120       3
BT           3
CT           3
20           3
LL1          3
L49          3
BB94         3
CH88         3
EN           3
CA           3
E19          3
IV48         3
P033         3
PA67         3
SLI          3
CF13         3
SN18         3
75           3
T20          3
S49          3
KY1-1111     3
WH1          3
M408WN       3
L48          3
400          3
KW2          3
CF54         3
CR20         3
TW           3
Name: PostCode1, dtype: int64

In [24]:
# Another way to review incorrect outercodes is to check rows where column PostCode1 has values that are longer 
# than 4 charecters.
# UNITED KINGDOM Look at the ones that are in UK and the ones that are not.
# Check if more country entries can be converted to UNITED KINGDOM
df[['PostCode1', 'RegAddress.Country', 'RegAddress.PostCode']][(df['PostCode1'].str.len()>4)]

             PostCode1       RegAddress.Country RegAddress.PostCode
962           XXXXXXXX                      NaN            XXXXXXXX
1021         XXXXXXXXX                      NaN           XXXXXXXXX
3199           SW1X9SH           UNITED KINGDOM             SW1X9SH
9562            3453JG                      NaN              3453JG
15209            TRH10                      NaN           TRH10 1NH
18475          RH162NL           UNITED KINGDOM             RH162NL
18918          BH170GB           UNITED KINGDOM             BH170GB
31366           BL13HT           UNITED KINGDOM              BL13HT
34253           OX41XX           UNITED KINGDOM              OX41XX
82446           WA51DA           UNITED KINGDOM              WA51DA
96285            37036                    ITALY               37036
106472          110042                      NaN              110042
122958           L233A                      NaN               L233A
123676         EC2M3TY           UNITED KINGDOM             EC2M3TY
124756         NE258EP           UNITED KINGDOM             NE258EP
139522          GL69HH           UNITED KINGDOM              GL69HH
148515         PL158TL           UNITED KINGDOM             PL158TL
172094          DE75DP           UNITED KINGDOM              DE75DP
173036           52499            UNITED STATES               52499
181430           10010            UNITED STATES               10010
182000         DL128LZ           UNITED KINGDOM             DL128LZ
182892         PO208QR           UNITED KINGDOM             PO208QR
186848           HP232           UNITED KINGDOM           HP232 4BB
188189          SE93EJ           UNITED KINGDOM              SE93EJ
188367        KY1-1104                      NaN            KY1-1104
190034         SG189RB           UNITED KINGDOM             SG189RB
195008          B178LP           UNITED KINGDOM              B178LP
205890          PR22JD           UNITED KINGDOM              PR22JD
224845          LU13GB           UNITED KINGDOM              LU13GB
225039          DY11EW           UNITED KINGDOM              DY11EW
233676        KY1-9005           CAYMAN ISLANDS            KY1-9005
247127         EC2A4NE           UNITED KINGDOM             EC2A4NE
250661           13900                    ITALY               13900
270747        30309359            UNITED STATES            30309359
272404          OL68QA           UNITED KINGDOM              OL68QA
273078          KA80DB           UNITED KINGDOM              KA80DB
277359          E147LE           UNITED KINGDOM              E147LE
283387        KY1-1104           CAYMAN ISLANDS            KY1-1104
284062        KY1-1104           CAYMAN ISLANDS            KY1-1104
295231           19422            UNITED STATES               19422
295780          HA88HS           UNITED KINGDOM              HA88HS
300864         DY117AZ           UNITED KINGDOM             DY117AZ
313035           B24EU           UNITED KINGDOM               B24EU
314408          W1G9TJ           UNITED KINGDOM              W1G9TJ
315116         D-57299                      NaN             D-57299
320061          SE64SG           UNITED KINGDOM              SE64SG
322778         CF145NL           UNITED KINGDOM             CF145NL
323989          SM12NB           UNITED KINGDOM              SM12NB
330077           HP232           UNITED KINGDOM           HP232 4BB
342959           19901            UNITED STATES               19901
343986          M408WN           UNITED KINGDOM              M408WN
343987          M408WN           UNITED KINGDOM              M408WN
343989          M408WN           UNITED KINGDOM              M408WN
394935         LS124BD           UNITED KINGDOM             LS124BD
401195           60603            UNITED STATES               60603
414718          B987DN           UNITED KINGDOM              B987DN
433364           30022            UNITED STATES               30022
433760           10018            UNITED STATES               10018
434475          121006                    INDIA              121006
435049           34394                   TURKEY               34394
439086           LN7NQ           UNITED KINGDOM               LN7NQ
452772         B5311HF                      NaN             B5311HF
455919         PH21IHZ           UNITED KINGDOM             PH21IHZ
457882          HA54BY           UNITED KINGDOM              HA54BY
457944         NN171BW           UNITED KINGDOM             NN171BW
470080          200120                      NaN              200120
470318          L-1528               LUXEMBOURG              L-1528
471764           20124            UNITED STATES               20124
480852         EC3V9DF           UNITED KINGDOM             EC3V9DF
488022           75001                   FRANCE               75001
488375           E28NH           UNITED KINGDOM               E28NH
505279           SE.14           UNITED KINGDOM          SE.14  5HD
509966          YO71HQ           UNITED KINGDOM              YO71HQ
515783          LONDON           UNITED KINGDOM              LONDON
517731         DE19904            UNITED STATES             DE19904
529801        105-0021                    JAPAN            105-0021
553976         TN104DD           UNITED KINGDOM             TN104DD
574291           60173            UNITED STATES               60173
583863           19808            UNITED STATES               19808
588540          G72OYR           UNITED KINGDOM              G72OYR
592234           OL129           UNITED KINGDOM            OL129 XA
595047           19901            UNITED STATES               19901
596040          ESSEX,           UNITED KINGDOM      ESSEX, IG8 8HD
603536           42032           UNITED KINGDOM               42032
606402           08540            UNITED STATES               08540
611396           28046                    SPAIN               28046
612284           92000                   FRANCE               92000
622788           78700                   FRANCE               78700
629192          L-2763               LUXEMBOURG              L-2763
636728          HA37BB           UNITED KINGDOM              HA37BB
663739           35530                   FRANCE               35530
665727         A91HF44                  IRELAND             A91HF44
670574          DORSET           UNITED KINGDOM              DORSET
690518          HR69QS           UNITED KINGDOM              HR69QS
701741         IG110BW           UNITED KINGDOM             IG110BW
707495          IG11JZ           UNITED KINGDOM              IG11JZ
708164           81925                  GERMANY               81925
714240           SL6AA           UNITED KINGDOM               SL6AA
717379         MK126HP           UNITED KINGDOM             MK126HP
721626          CM82JJ           UNITED KINGDOM              CM82JJ
741999         ME158DT           UNITED KINGDOM             ME158DT
746254          100041                    CHINA              100041
752600          G811NH           UNITED KINGDOM              G811NH
771589          HA61DS           UNITED KINGDOM              HA61DS
787017          M168BD           UNITED KINGDOM              M168BD
789124         NR338LQ           UNITED KINGDOM         NR338LQ 0JU
811884          L-1450               LUXEMBOURG              L-1450
822662           10022                      NaN               10022
825358          2316ZA              NETHERLANDS              2316ZA
834502      20004-2505            UNITED STATES          20004-2505
859383         DO2T938                  IRELAND             DO2T938
864306        CAP20135                    ITALY            CAP20135
864702           20006            UNITED STATES               20006
874973          ST36NA           UNITED KINGDOM              ST36NA
876446          100033                    CHINA              100033
876869          100033                    CHINA              100033
878524          LU13GB           UNITED KINGDOM              LU13GB
879497         SE137TL           UNITED KINGDOM             SE137TL
891468          DY33GG           UNITED KINGDOM              DY33GG
896782         NW107LQ           UNITED KINGDOM             NW107LQ
899329          2253AE              NETHERLANDS              2253AE
899331          2253AE              NETHERLANDS              2253AE
908040         BA12OLJ           UNITED KINGDOM             BA12OLJ
927596           81379                  GERMANY               81379
930892           94104            UNITED STATES               94104
936586          CR05PS           UNITED KINGDOM              CR05PS
937800           61350            UNITED STATES               61350
939851          W1W7QW           UNITED KINGDOM              W1W7QW
961910           94107            UNITED STATES               94107
963057           BT19,         NORTHERN IRELAND           BT19, 1EJ
965404          HA29PG           UNITED KINGDOM              HA29PG
975818           19801            UNITED STATES               19801
976485         NR268HR           UNITED KINGDOM             NR268HR
976929          CH24BJ           UNITED KINGDOM              CH24BJ
979138      98499-2423                      NaN          98499-2423
984086          L-1610                      NaN              L-1610
984098          L-1610                      NaN              L-1610
984177         SUFFOLK           UNITED KINGDOM             SUFFOLK
1010389          13323                      NaN               13323
1013032        PL253QL           UNITED KINGDOM             PL253QL
1053089          E70HF           UNITED KINGDOM               E70HF
1062104          GNW11                      NaN           GNW11 0PU
1064603          03410                      NaN               03410
1065288         LE16FE           UNITED KINGDOM              LE16FE
1067996         1077ZX              NETHERLANDS              1077ZX
1069579        LS212RX           UNITED KINGDOM             LS212RX
1076689          33607            UNITED STATES               33607
1081090        YO16HNN                      NaN             YO16HNN
1092042         NG55QH           UNITED KINGDOM              NG55QH
1093962        NN155GJ           UNITED KINGDOM             NN155GJ
1094417         WA89FP           UNITED KINGDOM              WA89FP
1097674         LONDON           UNITED KINGDOM              LONDON
1112096          41065                  GERMANY               41065
1113274         CV56JQ           UNITED KINGDOM              CV56JQ
1119219        TN103JJ           UNITED KINGDOM             TN103JJ
1123008      HAMPSHIRE           UNITED KINGDOM           HAMPSHIRE
1135042          30096            UNITED STATES               30096
1150402        CH489XU           UNITED KINGDOM             CH489XU
1151545         B691BH           UNITED KINGDOM              B691BH
1167486         LS1SHN                      NaN              LS1SHN
1167749        SE220NF           UNITED KINGDOM             SE220NF
1177599         BB90TH           UNITED KINGDOM              BB90TH
1190215          28660                    SPAIN               28660
1232849       KY1-1106           CAYMAN ISLANDS            KY1-1106
1237387         G415DZ           UNITED KINGDOM              G415DZ
1260331         TW76RJ           UNITED KINGDOM              TW76RJ
1264818        SO518DP           UNITED KINGDOM             SO518DP
1269040         EH23JG           UNITED KINGDOM              EH23JG
1271872        WF169PY           UNITED KINGDOM             WF169PY
1273429         FY6OEE           UNITED KINGDOM              FY6OEE
1274039        CH478XP           UNITED KINGDOM             CH478XP
1284721         DY12DG           UNITED KINGDOM              DY12DG
1295034        NR302NU                      NaN             NR302NU
1303127         SR11EA           UNITED KINGDOM              SR11EA
1304380          11957           UNITED KINGDOM               11957
1304847      XXXXXXXXX                      NaN           XXXXXXXXX
1326670         SG61DL           UNITED KINGDOM              SG61DL
1345337          75008                   FRANCE               75008
1349775         630078                      NaN              630078
1351109        SE120HZ           UNITED KINGDOM             SE120HZ
1353036          78410                   FRANCE               78410
1357553          31192           UNITED KINGDOM               31192
1362193         CM36JH           UNITED KINGDOM              CM36JH
1368278         NG77AP           UNITED KINGDOM              NG77AP
1371285         UB32SH           UNITED KINGDOM              UB32SH
1385201         NE77EB           UNITED KINGDOM              NE77EB
1388839        WD174ST           UNITED KINGDOM             WD174ST
1401662          LODGE                      NaN          LODGE LANE
1405508          77002            UNITED STATES               77002
1405968          30175                    ITALY               30175
1407031         BH49DZ           UNITED KINGDOM              BH49DZ
1407817       KY1-1104           CAYMAN ISLANDS            KY1-1104
1407818       KY1-1104           CAYMAN ISLANDS            KY1-1104
1408379         TW47AA           UNITED KINGDOM              TW47AA
1421677         SY42BF           UNITED KINGDOM              SY42BF
1422983         SW63RA           UNITED KINGDOM              SW63RA
1425412         NW65FA           UNITED KINGDOM              NW65FA
1454402         BD71AB           UNITED KINGDOM              BD71AB
1472490          94019            UNITED STATES               94019
1474144          19904            UNITED STATES               19904
1484021          RG27,           UNITED KINGDOM           RG27, 9GH
1493201          B31RS           UNITED KINGDOM               B31RS
1493751          ESSEX           UNITED KINGDOM               ESSEX
1495293        PE218LZ           UNITED KINGDOM             PE218LZ
1501653         BB98EA           UNITED KINGDOM              BB98EA
1507206       KY1-1103           CAYMAN ISLANDS            KY1-1103
1507207       KY1-1103           CAYMAN ISLANDS            KY1-1103
1507209       KY1-1103           CAYMAN ISLANDS            KY1-1103
1507243       KY1-1103           CAYMAN ISLANDS            KY1-1103
1507244       KY1-1103           CAYMAN ISLANDS            KY1-1103
1507245       KY1-1103           CAYMAN ISLANDS            KY1-1103
1507246       KY1-1103           CAYMAN ISLANDS            KY1-1103
1507252       KY1-1103           CAYMAN ISLANDS            KY1-1103
1507253       KY1-1103           CAYMAN ISLANDS            KY1-1103
1529103       KY1-1104           CAYMAN ISLANDS            KY1-1104
1529104       KY1-1104           CAYMAN ISLANDS            KY1-1104
1529260          20005            UNITED STATES               20005
1530496          NTS27           UNITED KINGDOM           NTS27 4EL
1536956         SG12FP           UNITED KINGDOM              SG12FP
1539917         SW81EU           UNITED KINGDOM              SW81EU
1542835        CF644DE           UNITED KINGDOM             CF644DE
1543070        RM12677           UNITED KINGDOM             RM12677
1546925        NW108UN           UNITED KINGDOM             NW108UN
1547390         WN89DR           UNITED KINGDOM              WN89DR
1558048          25405                      NaN               25405
1559481         B261JY           UNITED KINGDOM              B261JY
1566091          29607            UNITED STATES               29607
1566095          22201            UNITED STATES               22201
1569865         HA37NJ           UNITED KINGDOM              HA37NJ
1573660        LL651SE           UNITED KINGDOM             LL651SE
1589564          91505            UNITED STATES               91505
1590475       180-0006                      NaN            180-0006
1597821          92400                   FRANCE               92400
1598082          33900                  FINLAND               33900
1621922         B277SW           UNITED KINGDOM              B277SW
1626686         KT91NN           UNITED KINGDOM              KT91NN
1646337         G149BN           UNITED KINGDOM              G149BN
1652923        PE196AP           UNITED KINGDOM             PE196AP
1656355        KT205LF           UNITED KINGDOM             KT205LF
1658269         GU12LN           UNITED KINGDOM              GU12LN
1661714         PR29RS           UNITED KINGDOM              PR29RS
1672805          9495Y            UNITED STATES               9495Y
1677299         VG1130  VIRGIN ISLANDS, BRITISH              VG1130
1683186          10036            UNITED STATES               10036
1683522        SK152PN           UNITED KINGDOM             SK152PN
1705475        MK57DZ.           UNITED KINGDOM             MK57DZ.
1705769          10003            UNITED STATES               10003
1709537        SA148NA           UNITED KINGDOM             SA148NA
1712267        X35RY76                  IRELAND             X35RY76
1716057         G821NY           UNITED KINGDOM              G821NY
1719703        LS279LJ           UNITED KINGDOM             LS279LJ
1724160          ESSEX           UNITED KINGDOM               ESSEX
1728782          10002            UNITED STATES               10002
1742935         CT119Q           UNITED KINGDOM              CT119Q
1745353         LONDON           UNITED KINGDOM              LONDON
1745423          72201                MAURITIUS               72201
1756572         W148RY           UNITED KINGDOM              W148RY
1775267        HP201EB           UNITED KINGDOM             HP201EB
1788316         N195BL           UNITED KINGDOM              N195BL
1804419        BT60YHW         NORTHERN IRELAND             BT60YHW
1813396         1083HN              NETHERLANDS              1083HN
1817981        SE264QJ           UNITED KINGDOM             SE264QJ
1819084         UB12RE           UNITED KINGDOM              UB12RE
1836282        BD12OYR           UNITED KINGDOM             BD12OYR
1839986        CH-4057              SWITZERLAND             CH-4057
1848573        WD188WH           UNITED KINGDOM             WD188WH
1854822         165792            UNITED STATES              165792
1855134       KY1-1111           CAYMAN ISLANDS            KY1-1111
1855189       KY1-1111           CAYMAN ISLANDS            KY1-1111
1855373       KY1-1111           CAYMAN ISLANDS            KY1-1111
1864362        SE137XG           UNITED KINGDOM             SE137XG
1872525        SA726AT           UNITED KINGDOM             SA726AT
1879105        NW119EB           UNITED KINGDOM             NW119EB
1880624        PH21IHZ           UNITED KINGDOM             PH21IHZ
1880883         RH98FD           UNITED KINGDOM              RH98FD
1883671       KY1-1001           CAYMAN ISLANDS            KY1-1001
1935928          68782                  GERMANY               68782
1936117          10016            UNITED STATES               10016
1939791         HA12LG           UNITED KINGDOM              HA12LG
1944151         B178LP           UNITED KINGDOM              B178LP
1950577        OL15ODQ           UNITED KINGDOM             OL15ODQ
1958664        N1656PX           UNITED KINGDOM             N1656PX
1971139         BL67DT           UNITED KINGDOM              BL67DT
1972315        LL499DB           UNITED KINGDOM             LL499DB
1973293          11501            UNITED STATES               11501
1979914          60313                  GERMANY               60313
1985245          75008                   FRANCE               75008
1985799         WV45UQ           UNITED KINGDOM              WV45UQ
1994081         410158                    CHINA              410158
1998573         PR83AW           UNITED KINGDOM              PR83AW
2022804        SW197PB           UNITED KINGDOM             SW197PB
2023474         55-200                   POLAND              55-200
2029306        DC20433            UNITED STATES             DC20433

In [1]:
# closer look at the incorrect outercodes where country is UK
df[['PostCode1', 'RegAddress.Country', 'RegAddress.PostCode']][(df['PostCode1'].str.len()>4) & (df['RegAddress.Country'] == 'UNITED KINGDOM')]

NameError: name 'df' is not defined

In [31]:
df['Postcode_FX'] = df['RegAddress.PostCode'].replace(" ","").str.upper()

df['Postcode_Fixed'] = df['Postcode_FX'].str.findall(r'^((([A-Z][A-Z]{0,1})([0-9][A-Z0-9]{0,2})) {0,}(([0-9])([A-Z]{2})))')

#df['Outercode'] = df['Postcode_FX'][1]

In [ ]:
for row in df.rows:
    if re.search(r'^((([A-Z][A-Z]{0,1})([0-9][A-Z0-9]{0,2})) {0,}(([0-9])([A-Z]{2})))',row['Postcode_FX']):
        match = row['Postcode_FX'].str.findall(r'^((([A-Z][A-Z]{0,1})([0-9][A-Z0-9]{0,2})) {0,}(([0-9])([A-Z]{2})))')
        df['Outercode'] = match[1]
        print(match[1])

In [2]:
def label_race (row):
    try:
        if(type(row['Postcode_Fixed'])==list):
            return row['Postcode_Fixed'][1]
    except IndexError:
        pass

In [3]:
df.apply (lambda row: label_race(row), axis=1)

NameError: name 'df' is not defined

In [26]:
#df['RegAddress.PostCode'].unique().tolist()

In [32]:
df[['RegAddress.PostCode','Postcode_FX','Postcode_Fixed','PostCode1','Outercode']][(df['PostCode1'].str.len()>4) & (df['RegAddress.Country'] == 'UNITED KINGDOM')]

,RegAddress.PostCode,Postcode_FX,Postcode_Fixed,PostCode1,Outercode
3199,SW1X9SH,SW1X9SH,"[(SW1X9SH, SW1X, SW, 1X, 9SH, 9, SH)]",SW1X9SH,SK6 3DY
18475,RH162NL,RH162NL,"[(RH162NL, RH16, RH, 16, 2NL, 2, NL)]",RH162NL,SK6 3DY
18918,BH170GB,BH170GB,"[(BH170GB, BH17, BH, 17, 0GB, 0, GB)]",BH170GB,SK6 3DY
31366,BL13HT,BL13HT,"[(BL13HT, BL1, BL, 1, 3HT, 3, HT)]",BL13HT,SK6 3DY
34253,OX41XX,OX41XX,"[(OX41XX, OX4, OX, 4, 1XX, 1, XX)]",OX41XX,SK6 3DY
82446,WA51DA,WA51DA,"[(WA51DA, WA5, WA, 5, 1DA, 1, DA)]",WA51DA,SK6 3DY
123676,EC2M3TY,EC2M3TY,"[(EC2M3TY, EC2M, EC, 2M, 3TY, 3, TY)]",EC2M3TY,SK6 3DY
124756,NE258EP,NE258EP,"[(NE258EP, NE25, NE, 25, 8EP, 8, EP)]",NE258EP,SK6 3DY
139522,GL69HH,GL69HH,"[(GL69HH, GL6, GL, 6, 9HH, 9, HH)]",GL69HH,SK6 3DY
148515,PL158TL,PL158TL,"[(PL158TL, PL15, PL, 15, 8TL, 8, TL)]",PL158TL,SK6 3DY
172094,DE75DP,DE75DP,"[(DE75DP, DE7, DE, 7, 5DP, 5, DP)]",DE75DP,SK6 3DY
182000,DL128LZ,DL128LZ,"[(DL128LZ, DL12, DL, 12, 8LZ, 8, LZ)]",DL128LZ,SK6 3DY
182892,PO208QR,PO208QR,"[(PO208QR, PO20, PO, 20, 8QR, 8, QR)]",PO208QR,SK6 3DY
186848,HP232 4BB,HP232 4BB,"[(HP232 4BB, HP232, HP, 232, 4BB, 4, BB)]",HP232,SK6 3DY
188189,SE93EJ,SE93EJ,"[(SE93EJ, SE9, SE, 9, 3EJ, 3, EJ)]",SE93EJ,SK6 3DY
190034,SG189RB,SG189RB,"[(SG189RB, SG18, SG, 18, 9RB, 9, RB)]",SG189RB,SK6 3DY
195008,B178LP,B178LP,"[(B178LP, B17, B, 17, 8LP, 8, LP)]",B178LP,SK6 3DY
205890,PR22JD,PR22JD,"[(PR22JD, PR2, PR, 2, 2JD, 2, JD)]",PR22JD,SK6 3DY
224845,LU13GB,LU13GB,"[(LU13GB, LU1, LU, 1, 3GB, 3, GB)]",LU13GB,SK6 3DY
225039,DY11EW,DY11EW,"[(DY11EW, DY1, DY, 1, 1EW, 1, EW)]",DY11EW,SK6 3DY
247127,EC2A4NE,EC2A4NE,"[(EC2A4NE, EC2A, EC, 2A, 4NE, 4, NE)]",EC2A4NE,SK6 3DY
272404,OL68QA,OL68QA,"[(OL68QA, OL6, OL, 6, 8QA, 8, QA)]",OL68QA,SK6 3DY
273078,KA80DB,KA80DB,"[(KA80DB, KA8, KA, 8, 0DB, 0, DB)]",KA80DB,SK6 3DY
277359,E147LE,E147LE,"[(E147LE, E14, E, 14, 7LE, 7, LE)]",E147LE,SK6 3DY
295780,HA88HS,HA88HS,"[(HA88HS, HA8, HA, 8, 8HS, 8, HS)]",HA88HS,SK6 3DY
300864,DY117AZ,DY117AZ,"[(DY117AZ, DY11, DY, 11, 7AZ, 7, AZ)]",DY117AZ,SK6 3DY
313035,B24EU,B24EU,"[(B24EU, B2, B, 2, 4EU, 4, EU)]",B24EU,SK6 3DY
314408,W1G9TJ,W1G9TJ,"[(W1G9TJ, W1G, W, 1G, 9TJ, 9, TJ)]",W1G9TJ,SK6 3DY
320061,SE64SG,SE64SG,"[(SE64SG, SE6, SE, 6, 4SG, 4, SG)]",SE64SG,SK6 3DY
322778,CF145NL,CF145NL,"[(CF145NL, CF14, CF, 14, 5NL, 5, NL)]",CF145NL,SK6 3DY
323989,SM12NB,SM12NB,"[(SM12NB, SM1, SM, 1, 2NB, 2, NB)]",SM12NB,SK6 3DY
330077,HP232 4BB,HP232 4BB,"[(HP232 4BB, HP232, HP, 232, 4BB, 4, BB)]",HP232,SK6 3DY
343986,M408WN,M408WN,"[(M408WN, M40, M, 40, 8WN, 8, WN)]",M408WN,SK6 3DY
343987,M408WN,M408WN,"[(M408WN, M40, M, 40, 8WN, 8, WN)]",M408WN,SK6 3DY
343989,M408WN,M408WN,"[(M408WN, M40, M, 40, 8WN, 8, WN)]",M408WN,SK6 3DY
394935,LS124BD,LS124BD,"[(LS124BD, LS12, LS, 12, 4BD, 4, BD)]",LS124BD,SK6 3DY
414718,B987DN,B987DN,"[(B987DN, B98, B, 98, 7DN, 7, DN)]",B987DN,SK6 3DY
439086,LN7NQ,LN7NQ,[],LN7NQ,SK6 3DY
455919,PH21IHZ,PH21IHZ,"[(PH21IH, PH2, PH, 2, 1IH, 1, IH)]",PH21IHZ,SK6 3DY
457882,HA54BY,HA54BY,"[(HA54BY, HA5, HA, 5, 4BY, 4, BY)]",HA54BY,SK6 3DY
457944,NN171BW,NN171BW,"[(NN171BW, NN17, NN, 17, 1BW, 1, BW)]",NN171BW,SK6 3DY
480852,EC3V9DF,EC3V9DF,"[(EC3V9DF, EC3V, EC, 3V, 9DF, 9, DF)]",EC3V9DF,SK6 3DY
488375,E28NH,E28NH,"[(E28NH, E2, E, 2, 8NH, 8, NH)]",E28NH,SK6 3DY
505279,SE.14 5HD,SE.14 5HD,[],SE.14,SK6 3DY
509966,YO71HQ,YO71HQ,"[(YO71HQ, YO7, YO, 7, 1HQ, 1, HQ)]",YO71HQ,SK6 3DY
515783,LONDON,LONDON,[],LONDON,SK6 3DY
553976,TN104DD,TN104DD,"[(TN104DD, TN10, TN, 10, 4DD, 4, DD)]",TN104DD,SK6 3DY
588540,G72OYR,G72OYR,"[(G72OY, G7, G, 7, 2OY, 2, OY)]",G72OYR,SK6 3DY
592234,OL129 XA,OL129 XA,[],OL129,SK6 3DY
596040,"ESSEX, IG8 8HD","ESSEX, IG8 8HD",[],"ESSEX,",SK6 3DY
603536,42032,42032,[],42032,SK6 3DY
636728,HA37BB,HA37BB,"[(HA37BB, HA3, HA, 3, 7BB, 7, BB)]",HA37BB,SK6 3DY
670574,DORSET,DORSET,[],DORSET,SK6 3DY
690518,HR69QS,HR69QS,"[(HR69QS, HR6, HR, 6, 9QS, 9, QS)]",HR69QS,SK6 3DY
701741,IG110BW,IG110BW,"[(IG110BW, IG11, IG, 11, 0BW, 0, BW)]",IG110BW,SK6 3DY
707495,IG11JZ,IG11JZ,"[(IG11JZ, IG1, IG, 1, 1JZ, 1, JZ)]",IG11JZ,SK6 3DY
714240,SL6AA,SL6AA,[],SL6AA,SK6 3DY
717379,MK126HP,MK126HP,"[(MK126HP, MK12, MK, 12, 6HP, 6, HP)]",MK126HP,SK6 3DY
721626,CM82JJ,CM82JJ,"[(CM82JJ, CM8, CM, 8, 2JJ, 2, JJ)]",CM82JJ,SK6 3DY
741999,ME158DT,ME158DT,"[(ME158DT, ME15, ME, 15, 8DT, 8, DT)]",ME158DT,SK6 3DY
752600,G811NH,G811NH,"[(G811NH, G81, G, 81, 1NH, 1, NH)]",G811NH,SK6 3DY
771589,HA61DS,HA61DS,"[(HA61DS, HA6, HA, 6, 1DS, 1, DS)]",HA61DS,SK6 3DY
787017,M168BD,M168BD,"[(M168BD, M16, M, 16, 8BD, 8, BD)]",M168BD,SK6 3DY
789124,NR338LQ 0JU,NR338LQ 0JU,"[(NR338LQ, NR33, NR, 33, 8LQ, 8, LQ)]",NR338LQ,SK6 3DY
874973,ST36NA,ST36NA,"[(ST36NA, ST3, ST, 3, 6NA, 6, NA)]",ST36NA,SK6 3DY
878524,LU13GB,LU13GB,"[(LU13GB, LU1, LU, 1, 3GB, 3, GB)]",LU13GB,SK6 3DY
879497,SE137TL,SE137TL,"[(SE137TL, SE13, SE, 13, 7TL, 7, TL)]",SE137TL,SK6 3DY
891468,DY33GG,DY33GG,"[(DY33GG, DY3, DY, 3, 3GG, 3, GG)]",DY33GG,SK6 3DY
896782,NW107LQ,NW107LQ,"[(NW107LQ, NW10, NW, 10, 7LQ, 7, LQ)]",NW107LQ,SK6 3DY
908040,BA12OLJ,BA12OLJ,"[(BA12OL, BA1, BA, 1, 2OL, 2, OL)]",BA12OLJ,SK6 3DY
936586,CR05PS,CR05PS,"[(CR05PS, CR0, CR, 0, 5PS, 5, PS)]",CR05PS,SK6 3DY
939851,W1W7QW,W1W7QW,"[(W1W7QW, W1W, W, 1W, 7QW, 7, QW)]",W1W7QW,SK6 3DY
965404,HA29PG,HA29PG,"[(HA29PG, HA2, HA, 2, 9PG, 9, PG)]",HA29PG,SK6 3DY
976485,NR268HR,NR268HR,"[(NR268HR, NR26, NR, 26, 8HR, 8, HR)]",NR268HR,SK6 3DY
976929,CH24BJ,CH24BJ,"[(CH24BJ, CH2, CH, 2, 4BJ, 4, BJ)]",CH24BJ,SK6 3DY
984177,SUFFOLK,SUFFOLK,[],SUFFOLK,SK6 3DY
1013032,PL253QL,PL253QL,"[(PL253QL, PL25, PL, 25, 3QL, 3, QL)]",PL253QL,SK6 3DY
1053089,E70HF,E70HF,"[(E70HF, E7, E, 7, 0HF, 0, HF)]",E70HF,SK6 3DY
1065288,LE16FE,LE16FE,"[(LE16FE, LE1, LE, 1, 6FE, 6, FE)]",LE16FE,SK6 3DY
1069579,LS212RX,LS212RX,"[(LS212RX, LS21, LS, 21, 2RX, 2, RX)]",LS212RX,SK6 3DY
1092042,NG55QH,NG55QH,"[(NG55QH, NG5, NG, 5, 5QH, 5, QH)]",NG55QH,SK6 3DY
1093962,NN155GJ,NN155GJ,"[(NN155GJ, NN15, NN, 15, 5GJ, 5, GJ)]",NN155GJ,SK6 3DY
1094417,WA89FP,WA89FP,"[(WA89FP, WA8, WA, 8, 9FP, 9, FP)]",WA89FP,SK6 3DY
1097674,LONDON,LONDON,[],LONDON,SK6 3DY
1113274,CV56JQ,CV56JQ,"[(CV56JQ, CV5, CV, 5, 6JQ, 6, JQ)]",CV56JQ,SK6 3DY
1119219,TN103JJ,TN103JJ,"[(TN103JJ, TN10, TN, 10, 3JJ, 3, JJ)]",TN103JJ,SK6 3DY
1123008,HAMPSHIRE,HAMPSHIRE,[],HAMPSHIRE,SK6 3DY
1150402,CH489XU,CH489XU,"[(CH489XU, CH48, CH, 48, 9XU, 9, XU)]",CH489XU,SK6 3DY
1151545,B691BH,B691BH,"[(B691BH, B69, B, 69, 1BH, 1, BH)]",B691BH,SK6 3DY
1167749,SE220NF,SE220NF,"[(SE220NF, SE22, SE, 22, 0NF, 0, NF)]",SE220NF,SK6 3DY
1177599,BB90TH,BB90TH,"[(BB90TH, BB9, BB, 9, 0TH, 0, TH)]",BB90TH,SK6 3DY
1237387,G415DZ,G415DZ,"[(G415DZ, G41, G, 41, 5DZ, 5, DZ)]",G415DZ,SK6 3DY
1260331,TW76RJ,TW76RJ,"[(TW76RJ, TW7, TW, 7, 6RJ, 6, RJ)]",TW76RJ,SK6 3DY
1264818,SO518DP,SO518DP,"[(SO518DP, SO51, SO, 51, 8DP, 8, DP)]",SO518DP,SK6 3DY
1269040,EH23JG,EH23JG,"[(EH23JG, EH2, EH, 2, 3JG, 3, JG)]",EH23JG,SK6 3DY
1271872,WF169PY,WF169PY,"[(WF169PY, WF16, WF, 16, 9PY, 9, PY)]",WF169PY,SK6 3DY
1273429,FY6OEE,FY6OEE,[],FY6OEE,SK6 3DY
1274039,CH478XP,CH478XP,"[(CH478XP, CH47, CH, 47, 8XP, 8, XP)]",CH478XP,SK6 3DY
1284721,DY12DG,DY12DG,"[(DY12DG, DY1, DY, 1, 2DG, 2, DG)]",DY12DG,SK6 3DY
1303127,SR11EA,SR11EA,"[(SR11EA, SR1, SR, 1, 1EA, 1, EA)]",SR11EA,SK6 3DY
1304380,11957,11957,[],11957,SK6 3DY
1326670,SG61DL,SG61DL,"[(SG61DL, SG6, SG, 6, 1DL, 1, DL)]",SG61DL,SK6 3DY
1351109,SE120HZ,SE120HZ,"[(SE120HZ, SE12, SE, 12, 0HZ, 0, HZ)]",SE120HZ,SK6 3DY
1357553,31192,31192,[],31192,SK6 3DY
1362193,CM36JH,CM36JH,"[(CM36JH, CM3, CM, 3, 6JH, 6, JH)]",CM36JH,SK6 3DY
1368278,NG77AP,NG77AP,"[(NG77AP, NG7, NG, 7, 7AP, 7, AP)]",NG77AP,SK6 3DY
1371285,UB32SH,UB32SH,"[(UB32SH, UB3, UB, 3, 2SH, 2, SH)]",UB32SH,SK6 3DY
1385201,NE77EB,NE77EB,"[(NE77EB, NE7, NE, 7, 7EB, 7, EB)]",NE77EB,SK6 3DY
1388839,WD174ST,WD174ST,"[(WD174ST, WD17, WD, 17, 4ST, 4, ST)]",WD174ST,SK6 3DY
1407031,BH49DZ,BH49DZ,"[(BH49DZ, BH4, BH, 4, 9DZ, 9, DZ)]",BH49DZ,SK6 3DY
1408379,TW47AA,TW47AA,"[(TW47AA, TW4, TW, 4, 7AA, 7, AA)]",TW47AA,SK6 3DY
1421677,SY42BF,SY42BF,"[(SY42BF, SY4, SY, 4, 2BF, 2, BF)]",SY42BF,SK6 3DY
1422983,SW63RA,SW63RA,"[(SW63RA, SW6, SW, 6, 3RA, 3, RA)]",SW63RA,SK6 3DY
1425412,NW65FA,NW65FA,"[(NW65FA, NW6, NW, 6, 5FA, 5, FA)]",NW65FA,SK6 3DY
1454402,BD71AB,BD71AB,"[(BD71AB, BD7, BD, 7, 1AB, 1, AB)]",BD71AB,SK6 3DY
1484021,"RG27, 9GH","RG27, 9GH",[],"RG27,",SK6 3DY
1493201,B31RS,B31RS,"[(B31RS, B3, B, 3, 1RS, 1, RS)]",B31RS,SK6 3DY
1493751,ESSEX,ESSEX,[],ESSEX,SK6 3DY
1495293,PE218LZ,PE218LZ,"[(PE218LZ, PE21, PE, 21, 8LZ, 8, LZ)]",PE218LZ,SK6 3DY
1501653,BB98EA,BB98EA,"[(BB98EA, BB9, BB, 9, 8EA, 8, EA)]",BB98EA,SK6 3DY
1530496,NTS27 4EL,NTS27 4EL,[],NTS27,SK6 3DY
1536956,SG12FP,SG12FP,"[(SG12FP, SG1, SG, 1, 2FP, 2, FP)]",SG12FP,SK6 3DY
1539917,SW81EU,SW81EU,"[(SW81EU, SW8, SW, 8, 1EU, 1, EU)]",SW81EU,SK6 3DY
1542835,CF644DE,CF644DE,"[(CF644DE, CF64, CF, 64, 4DE, 4, DE)]",CF644DE,SK6 3DY
1543070,RM12677,RM12677,[],RM12677,SK6 3DY
1546925,NW108UN,NW108UN,"[(NW108UN, NW10, NW, 10, 8UN, 8, UN)]",NW108UN,SK6 3DY
1547390,WN89DR,WN89DR,"[(WN89DR, WN8, WN, 8, 9DR, 9, DR)]",WN89DR,SK6 3DY
1559481,B261JY,B261JY,"[(B261JY, B26, B, 26, 1JY, 1, JY)]",B261JY,SK6 3DY
1569865,HA37NJ,HA37NJ,"[(HA37NJ, HA3, HA, 3, 7NJ, 7, NJ)]",HA37NJ,SK6 3DY
1573660,LL651SE,LL651SE,"[(LL651SE, LL65, LL, 65, 1SE, 1, SE)]",LL651SE,SK6 3DY
1621922,B277SW,B277SW,"[(B277SW, B27, B, 27, 7SW, 7, SW)]",B277SW,SK6 3DY
1626686,KT91NN,KT91NN,"[(KT91NN, KT9, KT, 9, 1NN, 1, NN)]",KT91NN,SK6 3DY
1646337,G149BN,G149BN,"[(G149BN, G14, G, 14, 9BN, 9, BN)]",G149BN,SK6 3DY
1652923,PE196AP,PE196AP,"[(PE196AP, PE19, PE, 19, 6AP, 6, AP)]",PE196AP,SK6 3DY
1656355,KT205LF,KT205LF,"[(KT205LF, KT20, KT, 20, 5LF, 5, LF)]",KT205LF,SK6 3DY
1658269,GU12LN,GU12LN,"[(GU12LN, GU1, GU, 1, 2LN, 2, LN)]",GU12LN,SK6 3DY
1661714,PR29RS,PR29RS,"[(PR29RS, PR2, PR, 2, 9RS, 9, RS)]",PR29RS,SK6 3DY
1683522,SK152PN,SK152PN,"[(SK152PN, SK15, SK, 15, 2PN, 2, PN)]",SK152PN,SK6 3DY
1705475,MK57DZ.,MK57DZ.,"[(MK57DZ, MK5, MK, 5, 7DZ, 7, DZ)]",MK57DZ.,SK6 3DY
1709537,SA148NA,SA148NA,"[(SA148NA, SA14, SA, 14, 8NA, 8, NA)]",SA148NA,SK6 3DY
1716057,G821NY,G821NY,"[(G821NY, G82, G, 82, 1NY, 1, NY)]",G821NY,SK6 3DY
1719703,LS279LJ,LS279LJ,"[(LS279LJ, LS27, LS, 27, 9LJ, 9, LJ)]",LS279LJ,SK6 3DY
1724160,ESSEX,ESSEX,[],ESSEX,SK6 3DY
1742935,CT119Q,CT119Q,[],CT119Q,SK6 3DY
1745353,LONDON,LONDON,[],LONDON,SK6 3DY
1756572,W148RY,W148RY,"[(W148RY, W14, W, 14, 8RY, 8, RY)]",W148RY,SK6 3DY
1775267,HP201EB,HP201EB,"[(HP201EB, HP20, HP, 20, 1EB, 1, EB)]",HP201EB,SK6 3DY
1788316,N195BL,N195BL,"[(N195BL, N19, N, 19, 5BL, 5, BL)]",N195BL,SK6 3DY
1817981,SE264QJ,SE264QJ,"[(SE264QJ, SE26, SE, 26, 4QJ, 4, QJ)]",SE264QJ,SK6 3DY
1819084,UB12RE,UB12RE,"[(UB12RE, UB1, UB, 1, 2RE, 2, RE)]",UB12RE,SK6 3DY
1836282,BD12OYR,BD12OYR,"[(BD12OY, BD1, BD, 1, 2OY, 2, OY)]",BD12OYR,SK6 3DY
1848573,WD188WH,WD188WH,"[(WD188WH, WD18, WD, 18, 8WH, 8, WH)]",WD188WH,SK6 3DY
1864362,SE137XG,SE137XG,"[(SE137XG, SE13, SE, 13, 7XG, 7, XG)]",SE137XG,SK6 3DY
1872525,SA726AT,SA726AT,"[(SA726AT, SA72, SA, 72, 6AT, 6, AT)]",SA726AT,SK6 3DY
1879105,NW119EB,NW119EB,"[(NW119EB, NW11, NW, 11, 9EB, 9, EB)]",NW119EB,SK6 3DY
1880624,PH21IHZ,PH21IHZ,"[(PH21IH, PH2, PH, 2, 1IH, 1, IH)]",PH21IHZ,SK6 3DY
1880883,RH98FD,RH98FD,"[(RH98FD, RH9, RH, 9, 8FD, 8, FD)]",RH98FD,SK6 3DY
1939791,HA12LG,HA12LG,"[(HA12LG, HA1, HA, 1, 2LG, 2, LG)]",HA12LG,SK6 3DY
1944151,B178LP,B178LP,"[(B178LP, B17, B, 17, 8LP, 8, LP)]",B178LP,SK6 3DY
1950577,OL15ODQ,OL15ODQ,"[(OL15OD, OL1, OL, 1, 5OD, 5, OD)]",OL15ODQ,SK6 3DY
1958664,N1656PX,N1656PX,"[(N1656PX, N165, N, 165, 6PX, 6, PX)]",N1656PX,SK6 3DY
1971139,BL67DT,BL67DT,"[(BL67DT, BL6, BL, 6, 7DT, 7, DT)]",BL67DT,SK6 3DY
1972315,LL499DB,LL499DB,"[(LL499DB, LL49, LL, 49, 9DB, 9, DB)]",LL499DB,SK6 3DY
1985799,WV45UQ,WV45UQ,"[(WV45UQ, WV4, WV, 4, 5UQ, 5, UQ)]",WV45UQ,SK6 3DY
1998573,PR83AW,PR83AW,"[(PR83AW, PR8, PR, 8, 3AW, 3, AW)]",PR83AW,SK6 3DY
2022804,SW197PB,SW197PB,"[(SW197PB, SW19, SW, 19, 7PB, 7, PB)]",SW197PB,SK6 3DY
2036729,SW170HY,SW170HY,"[(SW170HY, SW17, SW, 17, 0HY, 0, HY)]",SW170HY,SK6 3DY
2039668,RM138DR,RM138DR,"[(RM138DR, RM13, RM, 13, 8DR, 8, DR)]",RM138DR,SK6 3DY
2075145,S0322FP,S0322FP,"[(S0322FP, S032, S, 032, 2FP, 2, FP)]",S0322FP,SK6 3DY
2080221,TS103JS,TS103JS,"[(TS103JS, TS10, TS, 10, 3JS, 3, JS)]",TS103JS,SK6 3DY
2088735,ROMSEY,ROMSEY,[],ROMSEY,SK6 3DY
2102605,BB99HL,BB99HL,"[(BB99HL, BB9, BB, 9, 9HL, 9, HL)]",BB99HL,SK6 3DY
2108172,NN57AG,NN57AG,"[(NN57AG, NN5, NN, 5, 7AG, 7, AG)]",NN57AG,SK6 3DY
2109309,B323BF,B323BF,"[(B323BF, B32, B, 32, 3BF, 3, BF)]",B323BF,SK6 3DY
2144543,DN119PS,DN119PS,"[(DN119PS, DN11, DN, 11, 9PS, 9, PS)]",DN119PS,SK6 3DY
2153753,LU13BE,LU13BE,"[(LU13BE, LU1, LU, 1, 3BE, 3, BE)]",LU13BE,SK6 3DY
2170964,RM82TD,RM82TD,"[(RM82TD, RM8, RM, 8, 2TD, 2, TD)]",RM82TD,SK6 3DY
2179009,BN246EL,BN246EL,"[(BN246EL, BN24, BN, 24, 6EL, 6, EL)]",BN246EL,SK6 3DY
2181556,GL141BB,GL141BB,"[(GL141BB, GL14, GL, 14, 1BB, 1, BB)]",GL141BB,SK6 3DY
2181675,3P63AT,3P63AT,[],3P63AT,SK6 3DY
2198265,YO152AL,YO152AL,"[(YO152AL, YO15, YO, 15, 2AL, 2, AL)]",YO152AL,SK6 3DY
2206964,L149NN,L149NN,"[(L149NN, L14, L, 14, 9NN, 9, NN)]",L149NN,SK6 3DY
2210208,OL41JE,OL41JE,"[(OL41JE, OL4, OL, 4, 1JE, 1, JE)]",OL41JE,SK6 3DY
2212079,M262XR,M262XR,"[(M262XR, M26, M, 26, 2XR, 2, XR)]",M262XR,SK6 3DY
2241571,TN104R,TN104R,[],TN104R,SK6 3DY
2274237,MK92HR,MK92HR,"[(MK92HR, MK9, MK, 9, 2HR, 2, HR)]",MK92HR,SK6 3DY
2278989,UB56LG,UB56LG,"[(UB56LG, UB5, UB, 5, 6LG, 6, LG)]",UB56LG,SK6 3DY
2282889,N15EU 3EU,N15EU 3EU,"[(N15EU, N1, N, 1, 5EU, 5, EU)]",N15EU,SK6 3DY
2286921,SL67LJ,SL67LJ,"[(SL67LJ, SL6, SL, 6, 7LJ, 7, LJ)]",SL67LJ,SK6 3DY
2295635,BB22HT,BB22HT,"[(BB22HT, BB2, BB, 2, 2HT, 2, HT)]",BB22HT,SK6 3DY
2306442,YO187EB,YO187EB,"[(YO187EB, YO18, YO, 18, 7EB, 7, EB)]",YO187EB,SK6 3DY
2313455,BEXHILL,BEXHILL,[],BEXHILL,SK6 3DY
2318867,SA612SX,SA612SX,"[(SA612SX, SA61, SA, 61, 2SX, 2, SX)]",SA612SX,SK6 3DY
2319204,HA29UU,HA29UU,"[(HA29UU, HA2, HA, 2, 9UU, 9, UU)]",HA29UU,SK6 3DY
2331551,M72YF,M72YF,"[(M72YF, M7, M, 7, 2YF, 2, YF)]",M72YF,SK6 3DY
2339939,BS321 4J,BS321 4J,[],BS321,SK6 3DY
2341224,ME57LL,ME57LL,"[(ME57LL, ME5, ME, 5, 7LL, 7, LL)]",ME57LL,SK6 3DY
2344144,E70DL,E70DL,"[(E70DL, E7, E, 7, 0DL, 0, DL)]",E70DL,SK6 3DY
2356204,AB165XH,AB165XH,"[(AB165XH, AB16, AB, 16, 5XH, 5, XH)]",AB165XH,SK6 3DY
2378943,RM109AU,RM109AU,"[(RM109AU, RM10, RM, 10, 9AU, 9, AU)]",RM109AU,SK6 3DY
2391203,SS118 DD,SS118 DD,[],SS118,SK6 3DY
2412660,N1&GU,N1&GU,[],N1&GU,SK6 3DY
2417252,W69NH,W69NH,"[(W69NH, W6, W, 6, 9NH, 9, NH)]",W69NH,SK6 3DY
2424899,PE344RU,PE344RU,"[(PE344RU, PE34, PE, 34, 4RU, 4, RU)]",PE344RU,SK6 3DY
2439532,RM70PP,RM70PP,"[(RM70PP, RM7, RM, 7, 0PP, 0, PP)]",RM70PP,SK6 3DY
2442968,RM53LS,RM53LS,"[(RM53LS, RM5, RM, 5, 3LS, 3, LS)]",RM53LS,SK6 3DY
2444372,TW11*NQ,TW11*NQ,[],TW11*NQ,SK6 3DY
2448907,PO61RW,PO61RW,"[(PO61RW, PO6, PO, 6, 1RW, 1, RW)]",PO61RW,SK6 3DY
2472359,BH177FH,BH177FH,"[(BH177FH, BH17, BH, 17, 7FH, 7, FH)]",BH177FH,SK6 3DY
2479354,W42NN,W42NN,"[(W42NN, W4, W, 4, 2NN, 2, NN)]",W42NN,SK6 3DY
2479898,CV13-6EU,CV13-6EU,[],CV13-6EU,SK6 3DY
2485205,LN139JE,LN139JE,"[(LN139JE, LN13, LN, 13, 9JE, 9, JE)]",LN139JE,SK6 3DY
2485280,LN63RS,LN63RS,"[(LN63RS, LN6, LN, 6, 3RS, 3, RS)]",LN63RS,SK6 3DY
2491938,EC1V2NX,EC1V2NX,"[(EC1V2NX, EC1V, EC, 1V, 2NX, 2, NX)]",EC1V2NX,SK6 3DY
2501703,ST189DW,ST189DW,"[(ST189DW, ST18, ST, 18, 9DW, 9, DW)]",ST189DW,SK6 3DY
2513132,CF336EA,CF336EA,"[(CF336EA, CF33, CF, 33, 6EA, 6, EA)]",CF336EA,SK6 3DY
2534666,LU29UD,LU29UD,"[(LU29UD, LU2, LU, 2, 9UD, 9, UD)]",LU29UD,SK6 3DY
2556680,HP39FR.,HP39FR.,"[(HP39FR, HP3, HP, 3, 9FR, 9, FR)]",HP39FR.,SK6 3DY
2567114,BR14TL O,BR14TL O,"[(BR14TL, BR1, BR, 1, 4TL, 4, TL)]",BR14TL,SK6 3DY
2593114,CT11SN,CT11SN,"[(CT11SN, CT1, CT, 1, 1SN, 1, SN)]",CT11SN,SK6 3DY
2624391,CR04PE,CR04PE,"[(CR04PE, CR0, CR, 0, 4PE, 4, PE)]",CR04PE,SK6 3DY
2629009,GWENT,GWENT,[],GWENT,SK6 3DY
2654261,MK401SL,MK401SL,"[(MK401SL, MK40, MK, 40, 1SL, 1, SL)]",MK401SL,SK6 3DY
2671754,NG77AX,NG77AX,"[(NG77AX, NG7, NG, 7, 7AX, 7, AX)]",NG77AX,SK6 3DY
2679884,LONDON,LONDON,[],LONDON,SK6 3DY
2687846,BN435PF,BN435PF,"[(BN435PF, BN43, BN, 43, 5PF, 5, PF)]",BN435PF,SK6 3DY
2695126,WS149NJ,WS149NJ,"[(WS149NJ, WS14, WS, 14, 9NJ, 9, NJ)]",WS149NJ,SK6 3DY
2718209,PO35DL,PO35DL,"[(PO35DL, PO3, PO, 3, 5DL, 5, DL)]",PO35DL,SK6 3DY
2745331,SW90RY,SW90RY,"[(SW90RY, SW9, SW, 9, 0RY, 0, RY)]",SW90RY,SK6 3DY
2745479,"HU7,3JJ","HU7,3JJ",[],"HU7,3JJ",SK6 3DY
2771189,CB98ED,CB98ED,"[(CB98ED, CB9, CB, 9, 8ED, 8, ED)]",CB98ED,SK6 3DY
2774320,BD73AD,BD73AD,"[(BD73AD, BD7, BD, 7, 3AD, 3, AD)]",BD73AD,SK6 3DY
2785505,HARRY RYAN,HARRY RYAN,[],HARRY,SK6 3DY
2796772,M139UZ,M139UZ,"[(M139UZ, M13, M, 13, 9UZ, 9, UZ)]",M139UZ,SK6 3DY
2797002,G5OQW,G5OQW,[],G5OQW,SK6 3DY
2799128,CV37ODT,CV37ODT,"[(CV37OD, CV3, CV, 3, 7OD, 7, OD)]",CV37ODT,SK6 3DY
2803924,MK64JH,MK64JH,"[(MK64JH, MK6, MK, 6, 4JH, 4, JH)]",MK64JH,SK6 3DY
2804968,SL13XL,SL13XL,"[(SL13XL, SL1, SL, 1, 3XL, 3, XL)]",SL13XL,SK6 3DY
2810939,EH221RZ.,EH221RZ.,"[(EH221RZ, EH22, EH, 22, 1RZ, 1, RZ)]",EH221RZ.,SK6 3DY
2811092,NE127EU,NE127EU,"[(NE127EU, NE12, NE, 12, 7EU, 7, EU)]",NE127EU,SK6 3DY
2814663,OX93FG,OX93FG,"[(OX93FG, OX9, OX, 9, 3FG, 3, FG)]",OX93FG,SK6 3DY
2820863,SA726JE,SA726JE,"[(SA726JE, SA72, SA, 72, 6JE, 6, JE)]",SA726JE,SK6 3DY
2822251,GU153NP,GU153NP,"[(GU153NP, GU15, GU, 15, 3NP, 3, NP)]",GU153NP,SK6 3DY
2822416,RM94BY,RM94BY,"[(RM94BY, RM9, RM, 9, 4BY, 4, BY)]",RM94BY,SK6 3DY
2827614,MK37PP,MK37PP,"[(MK37PP, MK3, MK, 3, 7PP, 7, PP)]",MK37PP,SK6 3DY
2848598,CF31DX,CF31DX,"[(CF31DX, CF3, CF, 3, 1DX, 1, DX)]",CF31DX,SK6 3DY
2864693,SL43BP,SL43BP,"[(SL43BP, SL4, SL, 4, 3BP, 3, BP)]",SL43BP,SK6 3DY
2876607,LU20LE,LU20LE,"[(LU20LE, LU2, LU, 2, 0LE, 0, LE)]",LU20LE,SK6 3DY
2879353,LONDON E1 2DE,LONDON E1 2DE,[],LONDON,SK6 3DY
2882124,TS24ORU,TS24ORU,"[(TS24OR, TS2, TS, 2, 4OR, 4, OR)]",TS24ORU,SK6 3DY
2893703,SA28BB,SA28BB,"[(SA28BB, SA2, SA, 2, 8BB, 8, BB)]",SA28BB,SK6 3DY
2904231,SR46EF,SR46EF,"[(SR46EF, SR4, SR, 4, 6EF, 6, EF)]",SR46EF,SK6 3DY
2904564,W374Q,W374Q,[],W374Q,SK6 3DY
2912783,DY97EF,DY97EF,"[(DY97EF, DY9, DY, 9, 7EF, 7, EF)]",DY97EF,SK6 3DY
2919416,TN355BG,TN355BG,"[(TN355BG, TN35, TN, 35, 5BG, 5, BG)]",TN355BG,SK6 3DY
2922956,SL30PB,SL30PB,"[(SL30PB, SL3, SL, 3, 0PB, 0, PB)]",SL30PB,SK6 3DY
2932728,NW10- 2DS,NW10- 2DS,[],NW10-,SK6 3DY
2944908,EX166NL,EX166NL,"[(EX166NL, EX16, EX, 16, 6NL, 6, NL)]",EX166NL,SK6 3DY
2974392,UB24AU,UB24AU,"[(UB24AU, UB2, UB, 2, 4AU, 4, AU)]",UB24AU,SK6 3DY
2976961,EC2M3TY,EC2M3TY,"[(EC2M3TY, EC2M, EC, 2M, 3TY, 3, TY)]",EC2M3TY,SK6 3DY
2979888,CH645SJ,CH645SJ,"[(CH645SJ, CH64, CH, 64, 5SJ, 5, SJ)]",CH645SJ,SK6 3DY
2981654,SURREY,SURREY,[],SURREY,SK6 3DY
2998640,SW111AD,SW111AD,"[(SW111AD, SW11, SW, 11, 1AD, 1, AD)]",SW111AD,SK6 3DY
3000502,BD72QH,BD72QH,"[(BD72QH, BD7, BD, 7, 2QH, 2, QH)]",BD72QH,SK6 3DY
3006399,SK66EN,SK66EN,"[(SK66EN, SK6, SK, 6, 6EN, 6, EN)]",SK66EN,SK6 3DY
3029375,SOMERSET,SOMERSET,[],SOMERSET,SK6 3DY
3034028,LONDON,LONDON,[],LONDON,SK6 3DY
3048204,N182XF,N182XF,"[(N182XF, N18, N, 18, 2XF, 2, XF)]",N182XF,SK6 3DY
3048518,TW31DT,TW31DT,"[(TW31DT, TW3, TW, 3, 1DT, 1, DT)]",TW31DT,SK6 3DY
3049483,CF838TQ,CF838TQ,"[(CF838TQ, CF83, CF, 83, 8TQ, 8, TQ)]",CF838TQ,SK6 3DY
3070728,DE216UE,DE216UE,"[(DE216UE, DE21, DE, 21, 6UE, 6, UE)]",DE216UE,SK6 3DY
3142284,TS190SU,TS190SU,"[(TS190SU, TS19, TS, 19, 0SU, 0, SU)]",TS190SU,SK6 3DY
3184249,LL3030BL,LL3030BL,"[(LL3030BL, LL303, LL, 303, 0BL, 0, BL)]",LL3030BL,SK6 3DY
3203394,CV107DH,CV107DH,"[(CV107DH, CV10, CV, 10, 7DH, 7, DH)]",CV107DH,SK6 3DY
3218279,E49HQ,E49HQ,"[(E49HQ, E4, E, 4, 9HQ, 9, HQ)]",E49HQ,SK6 3DY
3242133,SO199AX,SO199AX,"[(SO199AX, SO19, SO, 19, 9AX, 9, AX)]",SO199AX,SK6 3DY
3246198,YO71HQ,YO71HQ,"[(YO71HQ, YO7, YO, 7, 1HQ, 1, HQ)]",YO71HQ,SK6 3DY
3250527,CA11DB,CA11DB,"[(CA11DB, CA1, CA, 1, 1DB, 1, DB)]",CA11DB,SK6 3DY
3259242,S330AW,S330AW,"[(S330AW, S33, S, 33, 0AW, 0, AW)]",S330AW,SK6 3DY
3289304,TN231RF,TN231RF,"[(TN231RF, TN23, TN, 23, 1RF, 1, RF)]",TN231RF,SK6 3DY

In [57]:
df.loc[df['PostCode1'] == 'XXXXXXXXX']

,CompanyName,CompanyNumber,RegAddress.CareOf,RegAddress.POBox,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,CompanyCategory,CompanyStatus,CountryOfOrigin,DissolutionDate,IncorporationDate,Accounts.AccountRefDay,Accounts.AccountRefMonth,Accounts.NextDueDate,Accounts.LastMadeUpDate,Accounts.AccountCategory,Returns.NextDueDate,Returns.LastMadeUpDate,Mortgages.NumMortCharges,Mortgages.NumMortOutstanding,Mortgages.NumMortPartSatisfied,Mortgages.NumMortSatisfied,SICCode.SicText_1,SICCode.SicText_2,SICCode.SicText_3,SICCode.SicText_4,LimitedPartnerships.NumGenPartners,LimitedPartnerships.NumLimPartners,URI,PreviousName_1.CONDATE,PreviousName_1.CompanyName,PreviousName_2.CONDATE,PreviousName_2.CompanyName,PreviousName_3.CONDATE,PreviousName_3.CompanyName,PreviousName_4.CONDATE,PreviousName_4.CompanyName,PreviousName_5.CONDATE,PreviousName_5.CompanyName,PreviousName_6.CONDATE,PreviousName_6.CompanyName,PreviousName_7.CONDATE,PreviousName_7.CompanyName,PreviousName_8.CONDATE,PreviousName_8.CompanyName,PreviousName_9.CONDATE,PreviousName_9.CompanyName,PreviousName_10.CONDATE,PreviousName_10.CompanyName,ConfStmtNextDueDate,ConfStmtLastMadeUpDate,Reg_Country,PostCode1,Postcode_FX,Postcode_Fixed
1021,00722745 LIMITED,00722745,NaN,NaN,XXXXXXXXXXXXXX,XXXXXXXXXXXXXXXXX,XXXXXXXXXXXXXXXXX,NaN,NaN,XXXXXXXXX,Private Limited Company,Active,United Kingdom,NaN,01/05/1962,31.0,5.0,01/03/1964,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00722745,09/01/2018,PAMETRADA LIMITED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXXXXXXXX,XXXXXXXXX,[]
1304847,E. GORDON HILL & SON LIMITED,00538498,NaN,NaN,XXXXXXXXXX XXXXXXXXXXXXXXX,XXXXXXXXXXXXXXX,XXXXXXXXXXXXXXX,XXXXXXXXXXXXXX,NaN,XXXXXXXXX,Private Limited Company,Liquidation,United Kingdom,NaN,01/01/1900,31.0,1.0,01/11/1901,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00538498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15/01/2017,NaN,NaN,XXXXXXXXX,XXXXXXXXX,[]

In [58]:
df.loc[df['PostCode1'] == 'XXXXXXXX']

,CompanyName,CompanyNumber,RegAddress.CareOf,RegAddress.POBox,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,CompanyCategory,CompanyStatus,CountryOfOrigin,DissolutionDate,IncorporationDate,Accounts.AccountRefDay,Accounts.AccountRefMonth,Accounts.NextDueDate,Accounts.LastMadeUpDate,Accounts.AccountCategory,Returns.NextDueDate,Returns.LastMadeUpDate,Mortgages.NumMortCharges,Mortgages.NumMortOutstanding,Mortgages.NumMortPartSatisfied,Mortgages.NumMortSatisfied,SICCode.SicText_1,SICCode.SicText_2,SICCode.SicText_3,SICCode.SicText_4,LimitedPartnerships.NumGenPartners,LimitedPartnerships.NumLimPartners,URI,PreviousName_1.CONDATE,PreviousName_1.CompanyName,PreviousName_2.CONDATE,PreviousName_2.CompanyName,PreviousName_3.CONDATE,PreviousName_3.CompanyName,PreviousName_4.CONDATE,PreviousName_4.CompanyName,PreviousName_5.CONDATE,PreviousName_5.CompanyName,PreviousName_6.CONDATE,PreviousName_6.CompanyName,PreviousName_7.CONDATE,PreviousName_7.CompanyName,PreviousName_8.CONDATE,PreviousName_8.CompanyName,PreviousName_9.CONDATE,PreviousName_9.CompanyName,PreviousName_10.CONDATE,PreviousName_10.CompanyName,ConfStmtNextDueDate,ConfStmtLastMadeUpDate,Reg_Country,PostCode1,Postcode_FX,Postcode_Fixed
962,00593475 LIMITED,00593475,NaN,NaN,XXXXXXXXXX,XXXXXXXXXX,XXXXXXXXXX,XXXXXXXXXX,NaN,XXXXXXXX,Private Limited Company,Active,United Kingdom,NaN,12/11/2013,1.0,1.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00593475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXXXXXXX,XXXXXXXX,[]
3578907,ROWAN FABRICATIONS CO LIMITED,01322627,XXXXXXX,NaN,XXXXXXXXXX XXXXXXXXX,XXXXXXXXX,XXXXXXXXXX,XXXXXXXXX,NaN,XXXXXXXX,"PRIV LTD SECT. 30 (Private limited company, section 30 of the Companies Act)",Liquidation,United Kingdom,NaN,22/07/1977,NaN,NaN,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/01322627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXXXXXXX,XXXXXXXX,[]
3581259,ROY ROOFING LIMITED,00396181,NaN,NaN,XXXXXXXXXX,XXXXXXXXXX,XXXXXXXXXX,XXXXXXXXXX,NaN,XXXXXXXX,Private Limited Company,Liquidation,United Kingdom,NaN,13/06/1945,NaN,NaN,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00396181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXXXXXXX,XXXXXXXX,[]
4042766,T.GRAY & CO.LIMITED,00975066,NaN,NaN,XXXXXXXXXX,XXXXXXXXXX,XXXXXXXXXX,XXXXXXXXXX,NaN,XXXXXXXX,Private Limited Company,Liquidation,United Kingdom,NaN,19/03/1970,NaN,NaN,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00975066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXXXXXXX,XXXXXXXX,[]
4340013,TURNER WAREHOUSING LIMITED,00070792,NaN,NaN,XXXXXXX,XXXXXXX,XXXXXXX,XXXXXXX,NaN,XXXXXXXX,Private Limited Company,Active,United Kingdom,NaN,01/01/1900,1.0,1.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00070792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15/01/2017,NaN,NaN,XXXXXXXX,XXXXXXXX,[]

In [60]:
df.loc[df['PostCode1'] == 'XXXX']

,CompanyName,CompanyNumber,RegAddress.CareOf,RegAddress.POBox,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,CompanyCategory,CompanyStatus,CountryOfOrigin,DissolutionDate,IncorporationDate,Accounts.AccountRefDay,Accounts.AccountRefMonth,Accounts.NextDueDate,Accounts.LastMadeUpDate,Accounts.AccountCategory,Returns.NextDueDate,Returns.LastMadeUpDate,Mortgages.NumMortCharges,Mortgages.NumMortOutstanding,Mortgages.NumMortPartSatisfied,Mortgages.NumMortSatisfied,SICCode.SicText_1,SICCode.SicText_2,SICCode.SicText_3,SICCode.SicText_4,LimitedPartnerships.NumGenPartners,LimitedPartnerships.NumLimPartners,URI,PreviousName_1.CONDATE,PreviousName_1.CompanyName,PreviousName_2.CONDATE,PreviousName_2.CompanyName,PreviousName_3.CONDATE,PreviousName_3.CompanyName,PreviousName_4.CONDATE,PreviousName_4.CompanyName,PreviousName_5.CONDATE,PreviousName_5.CompanyName,PreviousName_6.CONDATE,PreviousName_6.CompanyName,PreviousName_7.CONDATE,PreviousName_7.CompanyName,PreviousName_8.CONDATE,PreviousName_8.CompanyName,PreviousName_9.CONDATE,PreviousName_9.CompanyName,PreviousName_10.CONDATE,PreviousName_10.CompanyName,ConfStmtNextDueDate,ConfStmtLastMadeUpDate,Reg_Country,PostCode1,Postcode_FX,Postcode_Fixed
1044,00838117 LIMITED,00838117,NaN,NaN,XXXXXXX,XXXXXXX,XXXXXXX,XXXXXXX,NaN,XXXX XXX,Private Limited Company,Active,United Kingdom,NaN,18/02/1965,28.0,2.0,18/12/1966,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00838117,18/02/2014,CHARLES MCCAIN LIMITED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04/03/2017,NaN,NaN,XXXX,XXXX XXX,[]
1156,01047395 LIMITED,01047395,NaN,NaN,XXXXXXXXXXXXX,"XXXXXXXXXXXXX, XXXXXXXXXXXX",XXXXXXXXXXXXXXXXXX,"XXXXXXXXXXXXXXXX, XXXXXXXX",NaN,XXXX XXX,Private Limited Company,Active,United Kingdom,NaN,24/03/1972,24.0,3.0,24/01/1974,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/01047395,10/06/2020,TIVERTON CONSTRUCTION LIMITED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXXX,XXXX XXX,[]
736787,C. H. ELKES & SONS LIMITED,00226156,NaN,NaN,XXXXXXX,XXXXXXX,XXXXXXX,NaN,NaN,XXXX XXX,Private Limited Company,Active,United Kingdom,NaN,01/01/1900,31.0,1.0,01/11/1901,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00226156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXXX,XXXX XXX,[]
2079240,INSTANT HEAT (BIRMINGHAM) LIMITED,00945592,NaN,NaN,XX,XXXXXXX,XXXXXXX,XXXXXXX,UNITED KINGDOM,XXXX,Private Limited Company,Active,United Kingdom,NaN,01/01/1969,31.0,1.0,01/11/1970,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00945592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15/01/2017,NaN,UNITED KINGDOM,XXXX,XXXX,[]
3055881,OLDHAM ROPE AND TWINE COMPANY (THE) LIMITED,00172971,NaN,NaN,XXXX,XXXX,XXXX,XXXX,NaN,XXXX,Private Limited Company,Liquidation,United Kingdom,NaN,01/01/1919,31.0,1.0,01/11/1920,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00172971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXXX,XXXX,[]
3410539,R. CLIFFORD LIMITED,00565506,NaN,NaN,XXXX,NaN,XXXX,NaN,NaN,XXXX,Private Limited Company,Active,United Kingdom,NaN,01/05/1956,NaN,NaN,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00565506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXXX,XXXX,[]

In [61]:
df.loc[df['PostCode1'] == 'XXX']

,CompanyName,CompanyNumber,RegAddress.CareOf,RegAddress.POBox,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,CompanyCategory,CompanyStatus,CountryOfOrigin,DissolutionDate,IncorporationDate,Accounts.AccountRefDay,Accounts.AccountRefMonth,Accounts.NextDueDate,Accounts.LastMadeUpDate,Accounts.AccountCategory,Returns.NextDueDate,Returns.LastMadeUpDate,Mortgages.NumMortCharges,Mortgages.NumMortOutstanding,Mortgages.NumMortPartSatisfied,Mortgages.NumMortSatisfied,SICCode.SicText_1,SICCode.SicText_2,SICCode.SicText_3,SICCode.SicText_4,LimitedPartnerships.NumGenPartners,LimitedPartnerships.NumLimPartners,URI,PreviousName_1.CONDATE,PreviousName_1.CompanyName,PreviousName_2.CONDATE,PreviousName_2.CompanyName,PreviousName_3.CONDATE,PreviousName_3.CompanyName,PreviousName_4.CONDATE,PreviousName_4.CompanyName,PreviousName_5.CONDATE,PreviousName_5.CompanyName,PreviousName_6.CONDATE,PreviousName_6.CompanyName,PreviousName_7.CONDATE,PreviousName_7.CompanyName,PreviousName_8.CONDATE,PreviousName_8.CompanyName,PreviousName_9.CONDATE,PreviousName_9.CompanyName,PreviousName_10.CONDATE,PreviousName_10.CompanyName,ConfStmtNextDueDate,ConfStmtLastMadeUpDate,Reg_Country,PostCode1,Postcode_FX,Postcode_Fixed
932,00527065 LTD,00527065,NaN,NaN,XXX XXX,XXX,XXX,XXX,NaN,XXX,Private Limited Company,Active,United Kingdom,NaN,01/01/1901,31.0,1.0,01/11/1902,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00527065,31/01/2014,MICHAEL MCKENNA LTD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15/01/2017,NaN,NaN,XXX,XXX,[]
960482,COLIN MACANDREW AND PARTNERS LIMITED (77/1420),SC018074,NaN,NaN,XXXXXXXX,NaN,XXXXX,NaN,NaN,XXX XXX,Private Limited Company,Active,United Kingdom,NaN,29/07/1974,1.0,1.0,01/11/1975,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/SC018074,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXX,XXX XXX,[]
1480108,F.DEELEY LIMITED,00361481,NaN,NaN,XXXX,NaN,XXXX,NaN,NaN,XXX XXX,Private Limited Company,Active,United Kingdom,NaN,01/01/1939,1.0,1.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00361481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXX,XXX XXX,[]
1846584,HANCOCK BROS.(CAMBRIDGE)LIMITED,00720967,NaN,NaN,XXXXXXXX,NaN,XXXXX,NaN,NaN,XXX XXX,Private Limited Company,Active,United Kingdom,NaN,09/04/1964,NaN,NaN,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00720967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXX,XXX XXX,[]
2166062,JAMES KERSLAKE LIMITED,00333041,NaN,NaN,XXXXXX,XXXXXX,XXXXXX,NaN,NaN,XXX XXX,Private Limited Company,Liquidation,United Kingdom,NaN,01/01/1900,NaN,NaN,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00333041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXX,XXX XXX,[]
4041830,T.& A.NAYLOR LIMITED,00112983,NaN,NaN,XXX XXX,XXX,XXX,XXX,NaN,XXX,Private Limited Company,Active,United Kingdom,NaN,30/11/1910,30.0,11.0,30/09/1912,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00112983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14/12/2016,NaN,NaN,XXX,XXX,[]
4584064,WM. DRABBLE & SONS LIMITED,00653248,NaN,NaN,XXXXXX,XXXXXX,XXXXXX,NaN,NaN,XXX XXX,Private Limited Company,Active,United Kingdom,NaN,21/03/1960,NaN,NaN,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00653248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXX,XXX XXX,[]

In [ ]:
df[some_column] == some_value 
df[some_column].isin(some_list_of_values) # This check whether the value of the column is one of the values in the list
df[some_column].str.contains() # You can use it the same as str.contains()
df[some_column].str.isdigit() # Same usage as str.isdigit(), check whether string is all digits, need to make sure column type is string in advance
df[some_column].str.len() == 4 # Filter string with length of 4