In [1]:
import numpy as np 
import pandas as pd 
import csv
import re

In [2]:
#Notebook crashes if all rows are allowed to display 
#pd.set_option('max_colwidth', None)
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

Hyposisis that the following data can be incorrect due to the registration form shortfalls.

- Companies does not check if Company name is a trade mark. Not sure if they allow only one company per name. We may companies with exsact names?
- Postcodes in the new form are now valideted but not full dresses if address is provided manually. Do we have companies with valid postcodes but not addresses that were regestered recently?
- Countries are now restricted to UK only. No foreign companies registered recently? 

https://www.gov.uk/government/publications/incorporation-and-names/annex-a-sensitive-words-and-expressions-or-words-that-could-imply-a-connection-with-government

In [3]:
df = pd.read_csv('BasicCompanyDataAsOneFile-2020-07-01.csv')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (41,42,43,44,45,46,47,48,49,50,51,52) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df.head(100)

,CompanyName,CompanyNumber,RegAddress.CareOf,RegAddress.POBox,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,CompanyCategory,CompanyStatus,CountryOfOrigin,DissolutionDate,IncorporationDate,Accounts.AccountRefDay,Accounts.AccountRefMonth,Accounts.NextDueDate,Accounts.LastMadeUpDate,Accounts.AccountCategory,Returns.NextDueDate,Returns.LastMadeUpDate,Mortgages.NumMortCharges,Mortgages.NumMortOutstanding,Mortgages.NumMortPartSatisfied,Mortgages.NumMortSatisfied,SICCode.SicText_1,SICCode.SicText_2,SICCode.SicText_3,SICCode.SicText_4,LimitedPartnerships.NumGenPartners,LimitedPartnerships.NumLimPartners,URI,PreviousName_1.CONDATE,PreviousName_1.CompanyName,PreviousName_2.CONDATE,PreviousName_2.CompanyName,PreviousName_3.CONDATE,PreviousName_3.CompanyName,PreviousName_4.CONDATE,PreviousName_4.CompanyName,PreviousName_5.CONDATE,PreviousName_5.CompanyName,PreviousName_6.CONDATE,PreviousName_6.CompanyName,PreviousName_7.CONDATE,PreviousName_7.CompanyName,PreviousName_8.CONDATE,PreviousName_8.CompanyName,PreviousName_9.CONDATE,PreviousName_9.CompanyName,PreviousName_10.CONDATE,PreviousName_10.CompanyName,ConfStmtNextDueDate,ConfStmtLastMadeUpDate
0,! LTD,08209948,NaN,NaN,METROHOUSE 57 PEPPER ROAD,HUNSLET,LEEDS,YORKSHIRE,NaN,LS10 2RU,Private Limited Company,Active,United Kingdom,NaN,11/09/2012,30.0,9.0,30/09/2020,30/09/2018,DORMANT,09/10/2016,11/09/2015,0,0,0,0,99999 - Dormant Company,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/08209948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23/10/2020,11/09/2019
1,!? LTD,11399177,NaN,NaN,THE STUDIO HATHERLOW HOUSE,HATHERLOW,ROMILEY,NaN,UNITED KINGDOM,SK6 3DY,Private Limited Company,Active,United Kingdom,NaN,05/06/2018,30.0,6.0,30/06/2021,30/06/2019,TOTAL EXEMPTION FULL,03/07/2019,NaN,0,0,0,0,47710 - Retail sale of clothing in specialised stores,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/11399177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/06/2021,05/06/2020
2,!BIG IMPACT GRAPHICS LIMITED,11743365,NaN,NaN,372 OLD STREET,335 ROSDEN HOUSE,LONDON,NaN,UNITED KINGDOM,EC1V 9LT,Private Limited Company,Active,United Kingdom,NaN,28/12/2018,31.0,12.0,28/12/2020,NaN,NO ACCOUNTS FILED,25/01/2020,NaN,0,0,0,0,18129 - Printing n.e.c.,59112 - Video production activities,63120 - Web portals,74201 - Portrait photographic activities,0,0,http://business.data.gov.uk/id/company/11743365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07/02/2021,27/12/2019
3,!L PRODUCTIONS LIMITED,12402527,NaN,NaN,95 MARMION AVENUE,NaN,CHINGFORD,NaN,ENGLAND,E4 8EJ,Private Limited Company,Active,United Kingdom,NaN,14/01/2020,31.0,1.0,14/10/2021,NaN,NO ACCOUNTS FILED,11/02/2021,NaN,0,0,0,0,90030 - Artistic creation,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/12402527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24/02/2021,NaN
4,!NKED LTD,12234705,NaN,NaN,29 CORRY DRIVE,NaN,LONDON,NaN,UNITED KINGDOM,SW9 8QS,Private Limited Company,Active,United Kingdom,NaN,30/09/2019,30.0,9.0,30/06/2021,NaN,NO ACCOUNTS FILED,28/10/2020,NaN,0,0,0,0,47710 - Retail sale of clothing in specialised stores,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/12234705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10/11/2020,NaN
5,!NNOV8 LIMITED,11006939,NaN,NaN,OLD BARN FARM,HARTFIELD ROAD,EDENBRIDGE,NaN,ENGLAND,TN8 5NF,Private Limited Company,Active,United Kingdom,NaN,11/10/2017,31.0,3.0,31/03/2021,31/03/2019,NaN,08/11/2018,NaN,0,0,0,0,62090 - Other information technology service activities,70229 - Management consultancy activities other than financial management,NaN,NaN,0,0,http://business.data.gov.uk/id/company/11006939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21/11/2020,10/10/2019
6,!NSPIRED INVESTMENTS LTD,SC606050,NaN,NaN,26 POLMUIR ROAD,NaN,ABERDEEN,NaN,SCOTLAND,AB11 7SY,Private Limited Company,Active,United Kingdom,NaN,22/08/2018,31.0,8.0,22/08/2020,NaN,NO ACCOUNTS FILED,19/09/2019,NaN,2,2,0,0,68209 - Other letting and operating of own or leased real estate,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/SC606050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/03/2021,29/01/2020
7,!NSPIRED LTD,SC421617,NaN,NaN,26 POLMUIR ROAD,NaN,ABERDEEN,NaN,UNITED KINGDOM,AB11 7SY,Private Limited Company,Active,United Kingdom,NaN,11/04/2012,30.0,3.0,30/03/2021,30/03/2019,TOTAL EXEMPTION FULL,09/05/2017,11/04/2016,0,0,0,0,70229 - Management consultancy activities other than financial management,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/SC421617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25/04/2021,11/04/2020
8,!NVERTD DESIGNS LIMITED,09152972,NaN,NaN,10 PENNARD ROAD,NaN,LONDON,NaN,ENGLAND,W12 8DS,Private Limited Company,Active,United Kingdom,NaN,30/07/2014,31.0,7.0,30/04/2021,31/07/2019,NaN,27/08/2016,30/07/2015,0,0,0,0,58190 - Other publishing activities,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/09152972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10/09/2020,30/07/2019
9,!OBAC LIMITED,FC031362,NaN,NaN,1ST AND 2ND FLOORS ELIZABETH HOUSE,LES RUETIES BRAYES,ST PETER PORT,GUERNSEY,GUERNSEY,GY1 1EW,Other company type,Active,CHANNEL ISLANDS,NaN,30/11/2012,31.0,12.0,NaN,31/12/2018,FULL,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC031362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14/12/2016,NaN
10,!OBAC UK LIMITED,07687209,NaN,NaN,UNIT 9 BERRY COURT FARM BRAMLEY ROAD,LITTLE LONDON,TADLEY,HAMPSHIRE,NaN,RG26 5AT,Private Limited Company,Active,United Kingdom,NaN,29/06/2011,29.0,12.0,29/12/2020,31/12/2018,SMALL,27/07/2017,29/06/2016,1,1,0,0,70229 - Management consultancy activities other than financial management,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/07687209,15/07/2011,!OBAC FITTINGS LIMITED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10/08/2020,29/06/2019
11,!YOZO FASS LIMITED,02714021,NaN,NaN,1 VERONICA HOUSE,WICKHAM ROAD,BROCKLEY,NaN,NaN,SE4 1NQ,Private Limited Company,Active,United Kingdom,NaN,12/05/1992,31.0,3.0,31/03/2021,31/03/2019,DORMANT,09/06/2017,12/05/2016,0,0,0,0,90010 - Performing arts,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/02714021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26/05/2021,12/05/2020
12,""" BROOK VIEW ""MECHANICAL AND ELECTRICAL ENGINEERING SERVICES LIMITED",10275228,NaN,NaN,62 STAKES ROAD,PURBROOK,WATERLOOVILLE,HAMPSHIRE,ENGLAND,PO7 5NT,Private Limited Company,Active,United Kingdom,NaN,12/07/2016,31.0,7.0,30/04/2021,31/07/2019,DORMANT,09/08/2017,NaN,0,0,0,0,33200 - Installation of industrial machinery and equipment,99999 - Dormant Company,NaN,NaN,0,0,http://business.data.gov.uk/id/company/10275228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22/08/2020,11/07/2019
13,"""1 C O LIMITED""",03811958,NaN,NaN,FANE COURT,GREEN ROAD SHIPBOURNE,TONBRIDGE,KENT,NaN,TN11 9PL,Private Limited Company,Active,United Kingdom,NaN,22/07/1999,30.0,9.0,30/06/2021,30/09/2019,DORMANT,19/08/2016,22/07/2015,0,0,0,0,70229 - Management consultancy activities other than financial management,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/03811958,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02/09/2020,22/07/2019
14,"""1ST RATE"" PSYCHOLOGY SERVICES LTD",11303802,NaN,NaN,116 ALEXANDRA ROAD,NaN,GREAT WAKERING,ESSEX,UNITED KINGDOM,SS3 0GW,Private Limited Company,Active,United Kingdom,NaN,11/04/2018,29.0,4.0,29/04/2021,29/04/2019,NaN,09/05/2019,NaN,0,0,0,0,85600 - Educational support services,86900 - Other human health activities,NaN,NaN,0,0,http://business.data.gov.uk/id/company/11303802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24/04/2021,10/04/2020
15,"""2 ECOUTE"" LIMITED",06439541,NaN,NaN,38 PAXTON GARDENS,WOKING,SURREY,NaN,NaN,GU21 5TS,Private Limited Company,Active,United Kingdom,NaN,28/11/2007,30.0,11.0,31/08/2021,30/11/2019,DORMANT,26/12/2016,28/11/2015,0,0,0,0,99999 - Dormant Company,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/06439541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09/01/2021,28/11/2019
16,"""20-20 VOICE"" CANCER",CE000952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charitable Incorporated Organisation,Active,United Kingdom,NaN,17/04/2014,NaN,NaN,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/CE000952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"""243 RUGBY ROAD MANAGEMENT COMPANY LIMITED""",05914136,NaN,NaN,154 - 155 GREAT CHARLES STREET QUEENSWAY,NaN,BIRMINGHAM,NaN,ENGLAND,B3 3LP,"PRI/LTD BY GUAR/NSC (Private, limited by guarantee, no share capital)",Active,United Kingdom,NaN,23/08/2006,31.0,8.0,31/05/2021,31/08/2019,NaN,20/09/2016,23/08/2015,0,0,0,0,98000 - Residents property management,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/05914136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04/10/2020,23/08/2019
18,"""309"" WEST END LANE MANAGEMENT LIMITED",02943302,NaN,NaN,269 FARNBOROUGH ROAD,NaN,FARNBOROUGH,HAMPSHIRE,NaN,GU14 7LY,Private Limited Company,Active,United Kingdom,NaN,28/06/1994,24.0,12.0,24/12/2020,24/12/2018,DORMANT,26/07/2017,28/06/2016,0,0,0,0,98000 - Residents property management,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/02943302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11/09/2020,31/07/2019
19,"""786"" MAZ OFFICE SUPPORT LIMITED",10694769,NaN,NaN,136 EMPRESS AVENUE,NaN,ILFORD,NaN,UNITED KINGDOM,IG1 3DF,Private Limited Company,Active,United Kingdom,NaN,28/03/2017,30.0,4.0,31/01/2022,30/04/2020,NaN,25/04/2018,NaN,0,0,0,0,82110 - Combined office administrative service activities,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/10694769,06/04/2017,MAZ A&T SERVICES LIMITED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10/04/2021,27/03/2020
20,"""7S&S"" LTD",10159974,NaN,NaN,8 SEATON ROAD,NaN,HAYES,NaN,ENGLAND,UB3 1NS,Private Limited Company,Active,United Kingdom,NaN,03/05/2016,31.0,5.0,31/05/2021,31/05/2019,NaN,31/05/2017,NaN,0,0,0,0,47910 - Retail sale via mail order houses or via Internet,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/10159974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16/05/2021,02/05/2020
21,"""A TASTE OF TUSCANY"" LTD",06473722,NaN,NaN,5 ELSTREE GATE,ELSTREE WAY,BOREHAMWOOD,HERTFORDSHIRE,NaN,WD6 1JD,Private Limited Company,Active,United Kingdom,NaN,15/01/2008,31.0,12.0,31/12/2020,31/12/2018,TOTAL EXEMPTION FULL,12/02/2017,15/01/2016,0,0,0,0,56101 - Licensed restaurants,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/06473722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26/02/2021,15/01/2020
22,"""A"" CERAMICS LIMITED",04494986,NaN,NaN,132 MANCHESTER ROAD,SHAW,OLDHAM,LANCASHIRE,NaN,OL2 7DD,Private Limited Company,Active,United Kingdom,NaN,25/07/2002,31.0,7.0,30/04/2021,31/07/2019,TOTAL EXEMPTION FULL,22/08/2016,25/07/2015,1,1,0,0,86230 - Dental practice activities,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/04494986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05/09/2020,25/07/2019
23,"""A"" CONCEPT LIMITED",02537158,NaN,NaN,BEAUFORT HOUSE,5 MIDDLESEX STREET,LONDON,NaN,NaN,E1 7AA,Private Limited Company,Active,United Kingdom,NaN,05/09/1990,30.0,6.0,30/06/2021,30/06/2019,TOTAL EXEMPTION FULL,03/10/2016,05/09/2015,2,0,0,2,64209 - Activities of other holding companies n.e.c.,73110 - Advertising agencies,NaN,NaN,0,0,http://business.data.gov.uk/id/company/02537158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17/10/2020,05/09/2019
24,"""A.B.J.Z DRIVER HIRE "" LTD",09151627,NaN,NaN,25 ASHFORD ROAD,NaN,PLYMOUTH,NaN,ENGLAND,PL4 7BL,Private Limited Company,Active,United Kingdom,NaN,29/07/2014,31.0,7.0,30/04/2021,31/07/2019,TOTAL EXEMPTION FULL,25/08/2016,28/07/2015,0,0,0,0,82990 - Other business support service activities n.e.c.,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/09151627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17/09/2020,06/08/2019
25,"""A.K.WELDING SERVICE"" LTD",08981806,NaN,NaN,2 NEW PASSAGE ROAD,PILNING,BRISTOL,NaN,ENGLAND,BS35 4ND,Private Limited Company,Active,United Kingdom,NaN,07/04/2014,30.0,4.0,30/04/2021,30/04/2019,TOTAL EXEMPTION FULL,05/05/2017,07/04/2016,0,0,0,0,41201 - Construction of commercial buildings,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/08981806,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01/12/2020,20/10/2019
26,"""AJA PROPERTY DEVELOPMENT LTD""",05651002,NaN,NaN,10 WOODBERRY AVENUE,HARROW,MIDDLESEX,NaN,NaN,HA2 6AU,Private Limited Company,Active,United Kingdom,NaN,12/12/2005,31.0,12.0,31/12/2020,31/12/2018,NaN,09/01/2017,12/12/2015,0,0,0,0,68209 - Other letting and operating of own or leased real estate,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/05651002,30/03/2006,MAYCROSS DEVELOPMENTS LIMITED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23/01/2021,12/12/2019
27,"""ALL ABOUT ME"" FULL STOP LIMITED",11513658,NaN,NaN,16 BROADWAY AVENUE,NaN,CROYDON,ENGLAND,ENGLAND,CR0 2LP,Private Limited Company,Active,United Kingdom,NaN,13/08/2018,31.0,8.0,31/05/2021,31/08/2019,DORMANT,10/09/2019,NaN,0,0,0,0,82990 - Other business support service activities n.e.c.,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/11513658,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23/09/2020,12/08/2019
28,"""ALL WRAPPED UP"" EVENTS MANAGEMENT LTD",SC313991,NaN,NaN,13 RUTLAND STREET,NaN,EDINBURGH,NaN,SCOTLAND,EH1 2AE,Private Limited Company,Active,United Kingdom,NaN,03/01/2007,28.0,2.0,28/02/2021,28/02/2019,NaN,31/01/2017,03/01/2016,0,0,0,0,82990 - Other business support service activities n.e.c.,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/SC313991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14/02/2021,03/01/2020
29,"""ALLWELL"" ORGANIC LTD",11191833,NaN,NaN,142 TODDINGTON ROAD,NaN,LUTON,BEDFORDSHIRE,ENGLAND,LU4 9DY,Private Limited Company,Active,United Kingdom,NaN,07/02/2018,28.0,2.0,28/02/2021,28/02/2019,DORMANT,07/03/2019,NaN,0,0,0,0,99999 - Dormant Company,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/11191833,25/04/2018,"""ALLWELL"" NATURAL HEALTH LTD",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02/06/2021,19/05/2020
30,"""ALTAI CASHMERE"" LLC",FC027187,NaN,NaN,"BUILDING LEFT TO THE ""TUUL""",DRY CLEANING,KHAN-UUL DISTRICT,"ULAANBAATAR, MONGOLIA",MONGOLIA,NaN,Other company type,Active,MONGOLIA,NaN,14/06/2006,30.0,6.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC027187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26/12/2016,NaN
31,"""AN IDEAL LIFE???"" CIC",12459056,NaN,NaN,197 CLAREMONT ROAD,NaN,MANCHESTER,NaN,ENGLAND,M14 4JF,Community Interest Company,Active,United Kingdom,NaN,12/02/2020,29.0,2.0,12/11/2021,NaN,NO ACCOUNTS FILED,12/03/2021,NaN,0,0,0,0,85600 - Educational support services,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/12459056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25/03/2021,NaN
32,"""AND BREATHE"" LTD",09008930,NaN,NaN,20 HORNCASTLE ROAD,NaN,BOSTON,NaN,NaN,PE21 9BU,Private Limited Company,Active,United Kingdom,NaN,24/04/2014,30.0,4.0,30/04/2021,30/04/2019,NaN,22/05/2017,24/04/2016,0,0,0,0,86900 - Other human health activities,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/09008930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08/05/2021,24/04/2020
33,"""ANDI'S GIFT""",CE012989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charitable Incorporated Organisation,Active,United Kingdom,NaN,22/01/2018,NaN,NaN,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/CE012989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,"""ANIA WALDI"" TRANS LTD",10228158,NaN,NaN,15 SPIRE VIEW,NaN,SALISBURY,NaN,ENGLAND,SP2 7GN,Private Limited Company,Active,United Kingdom,NaN,13/06/2016,30.0,6.0,30/06/2021,30/06/2019,TOTAL EXEMPTION FULL,11/07/2017,NaN,0,0,0,0,49410 - Freight transport by road,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/10228158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26/06/2020,12/06/2019
35,"""ARTHUR BALFOUR"",CONSERVATIVE WORKING MEN'S CLUB LIMITED",IP10067R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Registered Society,Active,United Kingdom,NaN,01/01/1981,NaN,NaN,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/IP10067R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15/01/2017,NaN
36,"""AS I HAVE LOVED YOU"" LIMITED",08181359,NaN,NaN,HOLLY HOUSE,220 NEW LONDON ROAD,CHELMSFORD,NaN,ENGLAND,CM2 9AE,"PRI/LTD BY GUAR/NSC (Private, limited by guarantee, no share capital)",Active,United Kingdom,NaN,16/08/2012,31.0,8.0,31/05/2021,31/08/2019,DORMANT,22/07/2017,24/06/2016,0,0,0,0,74990 - Non-trading company,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/08181359,05/10/2012,?AS I HAVE LOVED YOU?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05/08/2020,24/06/2019
37,"""AUTOCONTEX"" AUTOMOBIL CONTAINER EXPRESS GMBH",FC018262,NaN,NaN,BRANCH REGISTRATION,REFER TO PARENT REGISTRY,NaN,NaN,GERMANY,NaN,Other company type,Active,WEST GERMANY,NaN,01/11/1994,30.0,11.0,NaN,31/12/2002,FULL,NaN,NaN,2,2,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC018262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01/12/2016,NaN
38,"""AVICENNA-MED"" LTD",12127911,NaN,NaN,3 REDSAND CLOSE,NaN,WILLENHALL,NaN,ENGLAND,WV12 4EZ,Private Limited Company,Active,United Kingdom,NaN,29/07/2019,31.0,7.0,29/04/2021,NaN,NO ACCOUNTS FILED,26/08/2020,NaN,0,0,0,0,86900 - Other human health activities,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/12127911,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08/09/2020,NaN
39,"""B"" COOL LIMITED",05318740,NaN,NaN,C/O CHARNWOOD ACCOUNTANTS THE POINT GRANITE WAY,MOUNTSORREL,LOUGHBOROUGH,LEICESTERSHIRE,NaN,LE12 7TZ,Private Limited Company,Active,United Kingdom,NaN,21/12/2004,31.0,12.0,30/09/2021,31/12/2019,TOTAL EXEMPTION FULL,18/01/2017,21/12/2015,0,0,0,0,"43220 - Plumbing, heat and air-conditioning installation",NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/05318740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01/02/2021,21/12/2019
40,"""B"" JEWELLED LIMITED",09584663,NaN,NaN,65 NEWMARKET LANE,METHLEY,LEEDS,NaN,UNITED KINGDOM,LS26 9DN,Private Limited Company,Active,United Kingdom,NaN,11/05/2015,31.0,5.0,31/05/2021,31/05/2019,TOTAL EXEMPTION FULL,08/06/2017,11/05/2016,0,0,0,0,86900 - Other human health activities,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/09584663,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25/05/2021,11/05/2020

In [69]:
# manual review of the most common and least common postcodes
# no problematic postcodes are being selected this way
#df['RegAddress.PostCode'].value_counts().to_frame().tail(1000)
df['RegAddress.PostCode'].value_counts().to_frame().head(1000)

          RegAddress.PostCode
N1 7GU                  42607
WC2H 9JQ                36826
EC1V 2NX                28174
WA1 1RG                 13963
WC1N 3AX                13121
BN1 6AF                  8923
E16 1AH                  7442
BH12 1JY                 7235
W1W 7LT                  7056
SW1Y 5EA                 5652
B60 3DX                  4987
N12 0DR                  4776
CF14 8LH                 4584
EC1V 9BD                 4488
EH3 9WJ                  4448
W1B 3HH                  4065
G2 4JR                   4000
B18 6EW                  3912
EC2A 4NE                 3874
N14 5BP                  3808
E16 2DQ                  3700
EC1A 2BN                 3607
DY4 9DD                  3453
ML11 0QW                 3290
SW15 2BF                 3127
WD17 1HP                 3110
WA14 4RW                 2716
HA4 7AE                  2643
BH7 7DU                  2627
W1U 7EU                  2545
EH7 5JA                  2504
PO8 0BT                  2408
WC2A 2JR                 2398
FY8 5FT                  2397
WC1E 6HA                 2378
HP1 1FW                  2327
EC1N 8LE                 2224
EH6 7BD                  2216
NW7 3SA                  2206
N21 3NA                  2202
HR5 3DJ                  2049
EC2A 3AR                 2047
SW1Y 4LB                 2007
W1G 9DQ                  1957
N3 2JU                   1957
CR0 1JB                  1954
BS9 3BY                  1893
EC3V 0BT                 1788
EH2 1JE                  1777
W1G 8TB                  1776
EH2 3JG                  1767
SK7 2DH                  1756
WC1H 9BQ                 1706
CV1 2NT                  1682
S11 9PA                  1671
W1T 6AD                  1597
CR0 2LX                  1558
LS10 2RU                 1538
W1F 7LD                  1519
NW1 3ER                  1504
LS25 1NB                 1486
N3 1XW                   1479
L18 1DG                  1476
DA14 4DT                 1468
SS14 3JJ                 1463
DY10 2AD                 1448
SW19 3NW                 1443
SO23 9HX                 1429
NW11 0PU                 1412
PO15 7PA                 1404
N13 4BS                  1404
BN11 1QR                 1398
DA14 6NE                 1374
TW12 2LL                 1371
LE1 1FB                  1340
EN5 5TZ                  1335
CT20 2RD                 1318
CV4 8HX                  1301
W1T 3BL                  1281
HA8 7EB                  1275
WR9 0NR                  1250
CV31 2AZ                 1224
EC4A 4AB                 1223
EC1A 9EJ                 1222
TS1 3QW                  1221
LE8 0EX                  1210
IG8 8HD                  1208
NR1 1BY                  1207
EC1Y 2AB                 1188
WC1R 4HE                 1186
EC3V 3QQ                 1184
LE4 9HA                  1184
NW3 5JS                  1178
N14 6HF                  1176
E14 9TS                  1167
W8 6BD                   1165
EC2Y 5AU                 1163
LE4 9LJ                  1159
BN27 1DW                 1157
TR4 8UN                  1156
HA1 1BQ                  1143
BN3 2PJ                  1141
NN8 2QH                  1123
EC4M 7JN                 1114
EH1 1DD                  1100
B18 6HN                  1099
SE1 9SG                  1088
IG8 8EY                  1086
HA1 3EX                  1083
M25 0TL                  1082
G1 3NQ                   1076
PO6 4TH                  1072
EH5 1BN                  1069
HA1 1BE                  1054
G2 1QX                   1051
CV32 4EA                 1051
N13 4XS                  1045
FY4 2RH                  1043
EC2N 2AX                 1037
CB25 9PB                 1035
BN3 2DL                  1027
EC1M 7AD                 1019
W1W 8BE                  1019
E14 9XL                  1006
E14 9SH                  1005
SA62 3QU                 1004
L3 5NW                    999
EH3 6SW                   994
SW7 4EF                   982
BH16 6FA                  977
N1 7SR                    975
EC4R 1AG                  966
SO15 2EA                  966
EC1V 9EE                  958
WR9 9AY                   958
AL2 1HA                   955
TA1 2PX                   952
BR8 7PA                   941
E1W 1YW                   941
SS9 2UJ                   940
CV6 4AD                   939
SG1 2FP                   939
DE1 2BU                   933
W1G 0JR                   929
WC1X 8TA                  928
EN5 5BY                   927
WA14 2DT                  924
DN6 8DA                   922
EN11 0DR                  922
N15 3NP                   917
TF2 6EL                   917
M1 3BE                    911
SY1 3BF                   907
SK3 8AX                   905
M1 2JQ                    904
SW19 5EE                  902
LU2 8DL                   901
CR0 0XT                   896
SY2 6LG                   887
MK40 3JG                  885
CT1 3DN                   884
M40 8BB                   883
RM6 4DE                   883
SG14 1BP                  881
EC1V 9BW                  878
EC4R 9AN                  874
WD6 1QQ                   868
PO7 7AN                   856
CH62 3RP                  854
M15 4PN                   846
WF1 5PF                   845
E11 2PU                   844
HA1 1UD                   843
BL6 4SG                   843
TN39 5ES                  843
BN21 3YA                  830
EC3V 9DF                  829
BL9 7BE                   825
N2 8EY                    825
TN24 8DH                  824
SS1 1EA                   820
OL1 1TE                   819
EC4V 4BE                  818
SM4 6RW                   814
BL1 4QR                   813
PO6 3EB                   810
B30 3JN                   809
N3 1LF                    808
HA7 1JS                   806
EN6 1AG                   806
N20 0RA                   803
E1 8NN                    794
L15 5AN                   794
IG10 4PL                  794
W1W 5PF                   788
HP23 5EF                  788
N14 6NZ                   786
NN4 7BF                   785
NW11 7PE                  785
GU9 7PT                   783
EC2A 4LU                  782
E14 9XQ                   781
SG4 0TY                   778
YO30 4XG                  777
DH1 1TW                   777
N3 1DH                    776
NW11 0DH                  775
SS8 9DE                   775
E8 3PA                    774
N9 0TZ                    774
M1 4EX                    772
NN17 5JG                  771
NW9 6BX                   766
BS1 6FL                   766
ML3 6JT                   764
NW1 3BG                   763
N12 8NP                   762
SK1 1EB                   761
M3 5FS                    756
SN15 3HR                  754
PR7 3AA                   753
CF39 8JU                  753
HA1 2AW                   752
SA4 3GS                   750
PE11 1AF                  749
BH15 2PW                  748
CM1 1GU                   747
SE1 0AS                   746
E14 9TQ                   745
WD6 1JD                   737
N15 5EA                   736
W1U 6TU                   736
M4 6DE                    735
RG14 1QL                  732
E14 9DG                   731
SO50 9DT                  731
BL1 4AP                   731
KA7 1UB                   730
SK9 1DP                   729
EC4A 3TW                  728
M2 4NG                    728
SO50 9DR                  721
IP6 0NL                   721
HX3 6AS                   717
WC1H 9LG                  717
SR8 1AL                   715
EN6 1TL                   712
PE2 6LR                   710
BN1 6SB                   710
EC4N 6AF                  708
TN25 6SX                  708
YO19 4FE                  708
B24 9ND                   706
N11 1GN                   703
N15 6BL                   701
N12 0BP                   701
CF11 7AW                  698
L3 9LQ                    696
M24 2LX                   695
N17 9QU                   695
CM20 2BN                  693
BN26 6EA                  691
IP28 7DE                  688
M28 3NJ                   687
G41 3JA                   686
EC1N 8JY                  685
EC3V 0XL                  683
W4 5YA                    683
N22 8HH                   681
CH4 0DF                   679
M2 3NG                    677
S11 9PS                   676
EH3 6RE                   675
HA7 4XR                   675
RM1 3JT                   673
EC2A 4BA                  673
E14 2DN                   672
RM11 1RS                  672
L19 0NQ                   671
M25 9WS                   671
CV5 6UB                   671
SW19 2RR                  669
EN11 8UR                  668
EC1N 2HT                  666
NW11 8NA                  663
M45 7TA                   662
EC1A 4HD                  661
NE11 9SY                  660
NW3 6BP                   658
SG13 7AP                  654
B16 8PE                   654
L33 7XL                   654
PO16 7BB                  651
N3 1DP                    650
W1W 5QZ                   648
M2 3HZ                    647
BN6 8QL                   643
DD2 1DZ                   643
EC3V 9BQ                  641
HA9 0LB                   638
BN13 3QZ                  636
B15 2LD                   633
B3 1RL                    630
N3 3LF                    629
E17 4EE                   627
W1H 1PJ                   627
TA6 3YF                   627
SS9 2UA                   627
CH1 2DS                   625
PE27 5BH                  622
CO3 3BZ                   621
ST4 6SR                   621
L24 9HJ                   621
SS17 0JU                  620
GU34 1HG                  619
DY10 1AL                  618
CM12 0EQ                  618
CV21 1JX                  618
CW12 4TR                  617
SW20 8DN                  617
W1W 8AF                   616
EC1N 8UN                  615
TA2 6BJ                   614
G3 7SP                    612
CR0 0XZ                   610
NW3 4QG                   609
W5 2BS                    607
E4 6AG                    607
HA1 2EN                   606
CH1 1DA                   605
CM12 0DU                  604
KY11 9JN                  604
WC1H 9LT                  603
CT21 5RW                  603
SS2 6HZ                   602
SS0 9PE                   602
EN8 9BH                   601
LE5 4LE                   600
PO9 1QU                   598
SW18 1PE                  597
BL1 4BY                   596
GU21 7SA                  594
WC2H 7DQ                  593
E14 5LQ                   592
EC1M 4JN                  591
W2 2UT                    590
HA1 1BH                   590
DT4 9TH                   590
E13 9PJ                   588
SK9 1HY                   587
NW6 3BT                   587
W1D 5EU                   584
IG1 4TG                   584
W1J 8AJ                   583
SK9 3RN                   582
TN15 6AR                  581
N16 9BS                   581
ME16 9NT                  581
LN6 3QN                   580
EC4V 6JA                  579
EC1N 2HA                  576
SE16 2XU                  575
DY7 6HF                   574
ML3 6DA                   573
NR32 2HD                  573
IP14 1JA                  572
CM23 3AR                  571
BN22 8PW                  569
N12 8QA                   568
KT1 4AS                   567
TN34 1BP                  565
WC2H 7HF                  564
EC1R 5HL                  563
EC2A 2BU                  563
TN15 6NL                  561
EC1V 0BN                  560
WC1X 0ND                  559
N17 9LN                   558
HD1 1PA                   558
SS0 7LP                   556
HA1 1BA                   556
CM2 0AW                   556
E14 5AB                   555
RM11 3AT                  555
SN4 0EU                   554
EH3 8HA                   554
EC1Y 4YX                  552
SW6 1RP                   552
W1H 1DP                   547
CB2 1JP                   545
BL4 7NY                   542
M3 3EB                    542
WC1B 3HH                  541
SM1 4LA                   541
L1 5JW                    538
TQ12 2LG                  538
HP2 7DN                   537
NG1 5GF                   536
EC3V 9DU                  536
SP2 8PU                   535
W1B 2QD                   534
BH14 0HU                  534
TS24 7DN                  534
NW1 7SN                   534
E6 3RX                    533
CM2 6JB                   532
CH1 2AU                   531
HG3 1GY                   530
SE19 3RW                  530
HA1 3AW                   530
W1J 6ER                   529
WD24 6BQ                  529
SL8 5QH                   528
RG14 1JX                  528
M50 2ST                   528
W4 5PY                    528
WA4 2QL                   527
ME19 6JU                  527
OL13 9AA                  527
NG31 6SF                  526
TQ12 4AA                  526
B90 8AH                   525
M6 6DE                    525
W1J 6BD                   524
SE1 4LL                   524
LS15 4LG                  523
M22 5TG                   523
EN6 5AS                   523
SE18 6SS                  523
SG1 3QP                   522
CB10 1AX                  522
LE19 1RJ                  522
NW4 4DJ                   521
HP9 1NB                   521
NW2 1NT                   521
HA5 5PW                   519
NN2 7AZ                   519
EN5 5SU                   518
CM7 3GB                   518
NW10 7PN                  518
NW3 6LH                   517
KT13 8DE                  517
B1 1LX                    516
W1W 8DH                   515
EC2A 4DJ                  515
DY8 1LU                   515
CM20 1YS                  515
BN3 2DJ                   514
PO7 7DT                   514
DA1 3EN                   514
SS7 5HB                   514
NW10 7PQ                  513
EC4A 3TR                  513
OX2 7DY                   513
BN1 1UJ                   513
SL9 7QE                   512
TQ2 5EL                   511
CB10 1PF                  510
DA5 3AP                   510
WD3 1DS                   510
IG1 4PU                   509
W10 5BE                   509
CM17 0ET                  508
PE30 1HJ                  508
RG1 8LS                   507
LS6 1PY                   507
EC2P 2YU                  507
EN8 7AN                   506
B16 9HN                   506
M3 5JZ                    506
TW8 9DN                   505
KT18 7PF                  505
EC1A 9ET                  504
CV8 1LY                   503
YO16 4LZ                  503
BN1 1BN                   501
M15 4JE                   501
HA3 8DP                   500
TA4 1JY                   500
BB1 6AY                   500
CM14 4EG                  500
NR1 4DJ                   499
EN6 5BS                   499
L2 9TL                    499
B15 1TH                   498
W1T 1QL                   497
SW7 4AG                   497
M3 7BG                    496
PR5 6EE                   496
WR5 2ZX                   496
LS1 4DL                   495
EH3 9AG                   495
RH12 1DQ                  495
NW8 0DL                   493
E15 1SE                   493
CB1 2NU                   491
HA5 4HS                   491
BT38 7AW                  491
LS18 5NT                  490
SS11 8YU                  489
G2 1BP                    489
CF36 3RF                  488
HA8 7DB                   487
EC1V 2NZ                  486
WC1N 2EB                  486
DT1 1RX                   484
E1W 1DD                   484
NG20 8RY                  484
SW19 3BP                  484
E11 1GA                   484
CT17 0HL                  483
NG2 7BA                   481
NW3 5JJ                   479
LS1 5AB                   479
EN4 9EE                   478
CV31 1XT                  478
LU6 1EX                   478
TN1 1NU                   477
PO6 3TH                   476
BR1 1LT                   476
PR1 3HP                   475
LE3 5GF                   475
TW15 3QN                  474
GL7 1US                   474
FY4 5GP                   474
B3 1PX                    473
CF10 2DX                  473
LE67 3PL                  472
BS32 4JY                  472
NN12 7LS                  472
G76 7HU                   472
SW1Y 5JG                  472
MK11 1BN                  471
EC4M 8AB                  471
OL8 3QL                   470
B5 4BD                    469
AB10 1XD                  469
EC2R 6AY                  468
WC2B 5AH                  468
SW19 1QT                  468
N11 2UT                   468
W1H 7LX                   467
BH24 3AA                  467
WC2H 0DE                  467
BS16 9JB                  467
N12 8LY                   466
KY16 9UR                  465
LN2 5RP                   465
DY3 1JA                   464
CV32 4LY                  464
TN40 1EZ                  463
SS1 1EG                   463
HA1 1RA                   463
WD3 1JE                   461
AB10 1UT                  460
RH2 7JN                   459
LU1 5BJ                   459
W1W 6DW                   459
PR2 2YP                   459
RG7 8NN                   458
NW11 7RJ                  457
BN3 2BB                   457
WC2E 9HA                  457
IG2 6UF                   456
UB6 0FX                   455
EX1 1QT                   455
G2 2LB                    454
EH3 9EE                   454
RM12 6LL                  453
SE1 2AQ                   453
CH4 9PX                   453
LE1 3RW                   453
BN17 5AG                  453
E14 5AA                   452
DN4 5FB                   451
L3 9QJ                    450
OX28 6HD                  450
GL51 6TQ                  450
CM14 4HE                  449
M3 2PJ                    449
NN8 4HL                   449
BL9 6AW                   449
SA7 0AJ                   449
WD17 1DL                  447
ME19 4YU                  447
B3 2HJ                    447
DE23 6AE                  447
M21 7SA                   446
SS1 2EG                   446
W1T 6LQ                   446
BH14 8UF                  446
SG9 0RU                   445
IP32 7AR                  445
N14 6JS                   444
AB10 1YL                  444
DN15 9YG                  443
PR2 2DX                   443
L20 7DA                   443
OX26 6QB                  442
SS1 1EH                   442
TR1 2NA                   442
IG10 3TS                  441
M12 6JH                   441
AL3 6PA                   440
RH17 7QX                  440
PA4 8WF                   439
BL1 3AJ                   439
WC2A 1LS                  439
SS7 2QL                   438
SE1 2AF                   438
HA1 2EY                   438
W1T 5DB                   438
ME4 6AE                   437
PL4 0RA                   437
E14 9NN                   437
LS1 2JT                   437
UB7 7QG                   437
SO53 4AR                  437
PO20 8PS                  436
SK3 8AB                   436
BN1 5NP                   435
CF24 2SA                  435
DL10 4QA                  434
SL1 7HZ                   433
EC1R 0BD                  433
MK40 3JY                  433
EC4N 6EU                  433
KT11 1JG                  433
MK9 2HR                   433
NN11 8PL                  432
FY5 5HT                   431
OL9 6HZ                   431
SO14 2AQ                  431
RM12 6RJ                  431
M24 6DP                   431
M14 7DS                   430
BR3 3PP                   429
SA1 8QY                   429
CF11 9LJ                  429
E15 4HF                   429
CT12 6SJ                  429
S70 2LW                   428
E17 5DX                   428
NG5 1JJ                   428
SN5 7XF                   428
SN11 0BT                  427
RH2 8JX                   426
BN42 4FN                  426
EN5 1AH                   426
B98 8BP                   425
E7 9HZ                    424
LE12 8DX                  424
EC3M 5JD                  424
NW10 6EU                  423
SW1P 2PN                  423
M2 3DE                    423
LS14 1AB                  422
TN27 0JS                  422
W6 0LH                    422
IG1 1LR                   422
LS15 8ZB                  421
DN1 3HR                   420
W1T 6QW                   419
FY4 2FF                   419
EC2A 2EW                  419

In [ ]:
# adding column that contains first part of postcode split by space
new = df['RegAddress.PostCode'].str.split(" ", n = 1, expand = True) 
df["PostCode1"]= new[0] 
#df_postcode["PostCode2"]= new[1] 
df

In [ ]:
df[['RegAddress.PostCode', 'PostCode1']].head(2000)

In [38]:
df['PostCode1'].unique().tolist()

['LS10',
 'SK6',
 'EC1V',
 'E4',
 'SW9',
 'TN8',
 'AB11',
 'W12',
 'GY1',
 'RG26',
 'SE4',
 'PO7',
 'TN11',
 'SS3',
 'GU21',
 nan,
 'B3',
 'GU14',
 'IG1',
 'UB3',
 'WD6',
 'OL2',
 'E1',
 'PL4',
 'BS35',
 'HA2',
 'CR0',
 'EH1',
 'LU4',
 'M14',
 'PE21',
 'SP2',
 'CM2',
 'WV12',
 'LE12',
 'LS26',
 'SM7',
 'HP2',
 'NR2',
 'IP28',
 'PE30',
 'E15',
 'B23',
 'HU5',
 'NW4',
 'BN2',
 'LS22',
 'NW3',
 'LL17',
 'N6',
 'RG7',
 'BT78',
 'G69',
 'PE19',
 'CH2',
 'SW3',
 'SW19',
 'LS25',
 'NW7',
 'DA2',
 'DA1',
 'SN1',
 'RM17',
 'TW16',
 'BN5',
 'HA1',
 'NR3',
 'W1U',
 'WF8',
 'TQ1',
 'BR3',
 'SM4',
 'W1B',
 'IG2',
 'DL14',
 'PO30',
 'E2',
 'CT12',
 'EC1A',
 'TW14',
 'BS10',
 'EC3V',
 'LL29',
 'L11',
 'B70',
 'BB4',
 'G31',
 'L36',
 'RH9',
 'CO7',
 'RM16',
 'AB22',
 'N20',
 'S6',
 'DD5',
 'OX29',
 'SM1',
 'TW4',
 'ST6',
 'SE13',
 'NP20',
 'PO19',
 'EC2A',
 'CB23',
 'HP11',
 'SL6',
 'LS19',
 'YO31',
 'M12',
 'FY4',
 'NG17',
 'DT7',
 'CB2',
 'BS16',
 'CR8',
 'SW7',
 'EH6',
 'NW1',
 'BA5',
 'DH3',
 'M13',
 'RM7',
 'LL64',
 'N22',
 'EX34',
 'SS4',
 'WD19',
 'DN9',
 'TW11',
 'WC1H',
 'S70',
 'TQ7',
 'B17',
 'YO21',
 'L32',
 'ME4',
 'GU2',
 'SG1',
 'LS28',
 'SK13',
 'SL9',
 'B43',
 'BR1',
 'CM20',
 'MK16',
 'BN3',
 'WN4',
 'RH17',
 'EX13',
 'LU2',
 'L18',
 'ST16',
 'SE15',
 'PA32',
 'BD7',
 'KT13',
 'IP33',
 'CV34',
 'SE1',
 'UB5',
 'CW8',
 'LA12',
 'RG14',
 'WS5',
 'G41',
 'NE1',
 'NR27',
 'SW2',
 'RM15',
 'GU7',
 'LE67',
 'N12',
 'BN9',
 'CO10',
 'WC2H',
 'IG5',
 'RG40',
 'M38',
 'RM8',
 'GU1',
 'PO15',
 'SE24',
 'N4',
 'NG9',
 'CF36',
 'DA14',
 'N1',
 'CH6',
 'YO8',
 'BH21',
 'WA3',
 'TN22',
 'N16',
 'LE19',
 'SN7',
 'YO61',
 'E7',
 'WA2',
 'BN6',
 'LS27',
 'B61',
 'N11',
 'YO23',
 'KT21',
 'E11',
 'ME8',
 'W1T',
 'SE21',
 'CM21',
 'SW16',
 'DN22',
 'CB4',
 'BD1',
 'SY3',
 'RG10',
 'NW6',
 'BB1',
 'BS23',
 'DY13',
 'LS18',
 'LS14',
 'GU6',
 'NN13',
 'FY5',
 'EN9',
 'RG27',
 'SW15',
 'GL51',
 'MK42',
 'CM14',
 'E8',
 'RH14',
 'W1W',
 'E17',
 'S81',
 'W10',
 'L3',
 'HP9',
 'HA3',
 'G81',
 'NN17',
 'S66',
 'WD25',
 'CA2',
 'CF24',
 'WD24',
 'G53',
 'TR1',
 'DE7',
 'SA10',
 'DE23',
 'LA23',
 'PE1',
 'WR1',
 'BH4',
 'AL1',
 'PO14',
 'SN5',
 'M3',
 'BD20',
 'AB52',
 'SE16',
 'RM3',
 'S18',
 'LL53',
 'IP1',
 'BN22',
 'DE21',
 'RH12',
 'S12',
 'SG9',
 'AL4',
 'SK9',
 'LS15',
 'ME2',
 'CT6',
 'EC1Y',
 'NW10',
 'BL1',
 'PE3',
 'OL11',
 'OL12',
 'BS21',
 'CV6',
 'NG16',
 'SS1',
 'PE2',
 'SW1Y',
 'CA28',
 'M1',
 'AB24',
 'PL25',
 'M16',
 'TR10',
 'G76',
 'CM6',
 'DY1',
 'LS13',
 'W3',
 'S9',
 'CF72',
 'B90',
 'AB25',
 'NN14',
 'G2',
 'CF14',
 'CO1',
 'SY25',
 'EH10',
 'BA4',
 'CH7',
 'TS18',
 'SL1',
 'ML3',
 'CT20',
 'GU47',
 'NE3',
 'DY10',
 'BD18',
 'NN1',
 'ME10',
 'SA19',
 'NR19',
 'SE12',
 'FY8',
 'DE1',
 'SE14',
 'BN1',
 'GL19',
 'B13',
 'RH6',
 'PL6',
 'B79',
 'G15',
 'RH19',
 'ST3',
 'TA5',
 'TF2',
 'CF15',
 'W2',
 'KY11',
 'G3',
 'MK44',
 'CM23',
 'BS6',
 'BL9',
 'BB9',
 'NG5',
 'TF9',
 'E16',
 'CA8',
 'EX4',
 'BD9',
 'N9',
 'PE9',
 'BS1',
 'MK9',
 'BT36',
 'LS9',
 'FK15',
 'WF16',
 'B65',
 'EC1N',
 'WA14',
 'RM12',
 'RH11',
 'NG20',
 'CB10',
 'SR7',
 'WA4',
 'SS9',
 'BS3',
 'W1K',
 'NE4',
 'SO51',
 'SN15',
 'LD8',
 'SR5',
 'WC1E',
 'SN11',
 'OL1',
 'BR2',
 'N17',
 'DY9',
 'BL6',
 'NN7',
 'PL7',
 'B11',
 'WC1N',
 'B75',
 'N14',
 'BH7',
 'DN31',
 'MK13',
 'CH60',
 'SW11',
 'CH63',
 'WF10',
 'DE22',
 'TW8',
 'BD19',
 'CW10',
 'GU19',
 'S60',
 'SK2',
 'RG12',
 'IP15',
 'SW6',
 'S71',
 'TW3',
 'NW9',
 'NE7',
 'PR2',
 'WC1R',
 'G5',
 'W13',
 'LL18',
 'SM6',
 'SK11',
 'LS1',
 'SW1P',
 'CV11',
 'CV37',
 'UB1',
 'SL2',
 'CH1',
 'EH26',
 'DA11',
 'HX5',
 'SO18',
 'ME9',
 'GL16',
 'SO15',
 'HX1',
 'MK41',
 'BL4',
 'LS12',
 'CO5',
 'EC4A',
 'IG4',
 'G13',
 'EN5',
 'BS32',
 'BR6',
 'MK43',
 'SO14',
 'MK40',
 'NN8',
 'N2',
 'TN13',
 'W1G',
 'NE23',
 'SA1',
 'GL6',
 'EC2Y',
 'HR9',
 'CT2',
 'M21',
 'SW18',
 'E6',
 'B91',
 'GU10',
 'SK4',
 'SE20',
 'BA21',
 'M4',
 'EH54',
 'M2',
 'S4',
 'DE55',
 'GU4',
 'EC4Y',
 'PR1',
 'M22',
 'ST12',
 'B4',
 'EC3N',
 'LU5',
 'SW1X',
 'KT16',
 'DE24',
 'WV13',
 'UB6',
 'B2',
 'LN5',
 'BN21',
 'NG4',
 'LE11',
 'WC1V',
 'S2',
 'OX26',
 'HP19',
 'AL3',
 'B9',
 'NN3',
 'LS17',
 'W1N',
 'CA1',
 'SK8',
 'SW1V',
 'LN2',
 'TS15',
 'EC3A',
 'NN5',
 'CV4',
 'W1D',
 'S1',
 'WV2',
 'WV1',
 'NG24',
 'SM3',
 'NG1',
 'BD11',
 'SO1',
 'LS2',
 'CV3',
 'CV5',
 'NE24',
 'L2',
 'W1A',
 'WD3',
 'DY11',
 'B62',
 'DY5',
 'W9',
 'CR9',
 'RG9',
 'B18',
 'S41',
 'HX3',
 'DE73',
 'LE2',
 'WC2B',
 'HP10',
 'W1R',
 'SW1W',
 'BS14',
 'E1W',
 'EC3M',
 'BB10',
 'CF1',
 'B44',
 'EN1',
 'BD13',
 'NW11',
 'W1M',
 'TW13',
 'B19',
 'DL2',
 'HU1',
 'BS11',
 'CV1',
 'KT14',
 'PO9',
 'L39',
 'KT6',
 'YO30',
 'NP1',
 'CV21',
 'LE7',
 'B66',
 'W1X',
 'XXX',
 'NG7',
 'EC4',
 'NR7',
 'CV32',
 'W4',
 'CH65',
 'WC2N',
 'RH2',
 'NE2',
 'CB8',
 'RH1',
 'WA1',
 'XXXXXXXX',
 'W1P',
 'CV31',
 'HA5',
 'DL3',
 'BD10',
 'NR4',
 'W6',
 'RH8',
 'ST5',
 'BB5',
 'BA6',
 'RH16',
 'KY12',
 'OX16',
 'BS22',
 'AL9',
 'BH5',
 'M50',
 'HP6',
 'BT10',
 'M15',
 'NR18',
 'TN28',
 'CM9',
 'S65',
 'NE37',
 'RG2',
 'LE5',
 'CV47',
 'CR4',
 'SO16',
 'EX1',
 'XXXXXXXXX',
 'TP4',
 'SR3',
 'WN7',
 'B1',
 'AL6',
 'NR31',
 'XXXX',
 'EC4M',
 'L20',
 'SL7',
 'SA13',
 'ST1',
 'W1Y',
 'BD5',
 'WD1',
 'MK11',
 'LS11',
 'FY7',
 'HR4',
 'NE28',
 'CV7',
 'PA3',
 'RM1',
 'HA7',
 'EN11',
 'ME14',
 'EC4R',
 'NG6',
 'E3',
 'TS22',
 'RH18',
 'SW12',
 'DA3',
 'CW6',
 'WS13',
 'EH12',
 'EH3',
 'LE18',
 'IP13',
 'DN1',
 'M60',
 'M33',
 'PO6',
 'WD18',
 'WF9',
 'WR9',
 'WF17',
 'HU3',
 'HA8',
 'HR3',
 'CT4',
 'B98',
 'LE9',
 'LS7',
 'BS18',
 'B71',
 'N19',
 'DY4',
 'OX4',
 'B6',
 'NP44',
 'CF37',
 'M31',
 'EH16',
 'S75',
 'HP4',
 'SN4',
 'OX13',
 'OX1',
 'RG1',
 'S21',
 'B16',
 'L9',
 'L13',
 'L21',
 'S3',
 'HD8',
 'BL7',
 'SR1',
 'CF2',
 'S64',
 'NW8',
 'AL5',
 'OL9',
 'M30',
 'HD6',
 'M9',
 'B93',
 'SK1',
 'PR7',
 'SW14',
 'L34',
 'CH8',
 'CM1',
 'LE8',
 'BL5',
 'CT1',
 'CH47',
 'SE6',
 'LE1',
 'SR4',
 'TS23',
 'HR5',
 'B5',
 'M8',
 'E14',
 'CH45',
 'WS1',
 'KA3',
 'TA20',
 'RG20',
 'UB7',
 'YO42',
 'WS9',
 'EX15',
 'BL0',
 'SY14',
 'B14',
 'B49',
 'SL4',
 'TS17',
 'BH8',
 'TS2',
 'WC1X',
 'DL12',
 'B63',
 'SY1',
 'SO45',
 'M26',
 'GU17',
 'OL4',
 'BA12',
 'TN6',
 'GL53',
 'N3',
 'W1S',
 'W5',
 'SO32',
 'WF1',
 'BB12',
 'PR5',
 'HA9',
 'HU7',
 'RM19',
 'BR7',
 'IP4',
 'LU1',
 'EC2P',
 'CT19',
 'WD17',
 'M7',
 'CV8',
 'WA9',
 'SA11',
 'YO25',
 'CH64',
 'WA8',
 'ME19',
 'DN4',
 'N5',
 'WD23',
 'CF31',
 'BS4',
 'IG7',
 'ME3',
 'W1J',
 'CF11',
 'KT12',
 'TA6',
 'EX2',
 'NG15',
 'DE4',
 'PRI',
 'PL13',
 'TW17',
 'PE13',
 'TS5',
 'KT15',
 'S44',
 'BD4',
 'LL33',
 'EC1M',
 'TR4',
 'NR29',
 'SO53',
 'S11',
 'LE4',
 'L40',
 'WF5',
 'B37',
 'TW12',
 'GL50',
 'NP23',
 'WN6',
 'M20',
 'LA18',
 'SA69',
 'RM10',
 'L1',
 'DL13',
 'EC1R',
 'SK3',
 'SE18',
 'BS7',
 'DL1',
 'N7',
 'PR6',
 'CF64',
 'WA10',
 'TA24',
 'B27',
 'WS3',
 'SA43',
 'BD21',
 'SE25',
 'BH16',
 'WR11',
 'GL11',
 'CF5',
 'B68',
 'DN6',
 'SA61',
 'EX16',
 'NE34',
 'DA7',
 'SW10',
 'OX2',
 'IG11',
 'CM12',
 'RH10',
 'WA15',
 'EC4V',
 'B8',
 'W1H',
 'N13',
 'L23',
 'SS7',
 'CH41',
 'TR12',
 'TW10',
 'BT9',
 'BH12',
 'LS20',
 'ME7',
 'GU9',
 'DN3',
 'SK7',
 'KT2',
 'L24',
 'PE7',
 'BN43',
 'LU3',
 'WS11',
 'SE19',
 'EN3',
 'GL52',
 'LL59',
 'SS15',
 'DN35',
 'NE29',
 'LN6',
 'BH23',
 'CB1',
 'BS5',
 'EC2M',
 'WF2',
 'HR1',
 'M40',
 'TN34',
 'NW5',
 'LL30',
 'DA16',
 'DH4',
 'IP14',
 'KT3',
 'GU24',
 'EC2R',
 'ME1',
 'SG8',
 'SA15',
 'EN8',
 'LS6',
 'M18',
 'LE10',
 'WS6',
 'SK5',
 'SE17',
 'S8',
 'TN29',
 'CW12',
 'M35',
 'TW18',
 'SP1',
 'EC4N',
 'HD2',
 'DN33',
 'SE10',
 'SA9',
 'CW9',
 'BN18',
 'SL5',
 'IP27',
 'N18',
 'IG6',
 'OX10',
 'B28',
 'RM6',
 'IG8',
 'SE2',
 'NG23',
 'SK15',
 'SG19',
 'DA10',
 'FY3',
 'ME15',
 'SN16',
 'SW1H',
 'S26',
 'ME17',
 'BH15',
 'CF10',
 'KT5',
 'TR15',
 'RG18',
 'MK17',
 'RG42',
 'MK45',
 'G42',
 'NE8',
 'SW20',
 'NR13',
 'WF12',
 'B7',
 'BA14',
 'BS49',
 'RH4',
 'BN7',
 'SO23',
 'OX3',
 'BH24',
 'SW4',
 'EX8',
 'TW1',
 'SE23',
 'HP7',
 'CR3',
 'E9',
 'BS31',
 'CR5',
 'DN14',
 'GL4',
 'SO40',
 'GU34',
 'BT39',
 'NP19',
 'SW1E',
 'B96',
 'NE44',
 'GL9',
 'TN21',
 'BB8',
 'WF13',
 'SK14',
 'PO3',
 'BN26',
 'TR7',
 'NN2',
 'RH7',
 'RM11',
 'CR2',
 'N15',
 'B30',
 'NR11',
 'NE30',
 'BR5',
 'G64',
 'S7',
 'MK14',
 'BS30',
 'NN4',
 'BS9',
 'CB9',
 'LA3',
 'BN41',
 'L22',
 'BT14',
 'IV3',
 'KA7',
 'BA1',
 'TR18',
 'CT16',
 ...]

In [40]:
df[df['PostCode1'].str.len()>4]
# UNITED KINGDOM Look at the ones that are in UK and the ones that are not.
# Check if more country entries can be converted to UNITED KINGDOM

                                                                              CompanyName  CompanyNumber                       RegAddress.CareOf RegAddress.POBox                                                         RegAddress.AddressLine1                    RegAddress.AddressLine2             RegAddress.PostTown               RegAddress.County       RegAddress.Country RegAddress.PostCode                                                                            CompanyCategory                    CompanyStatus          CountryOfOrigin  DissolutionDate IncorporationDate  Accounts.AccountRefDay  Accounts.AccountRefMonth Accounts.NextDueDate Accounts.LastMadeUpDate     Accounts.AccountCategory Returns.NextDueDate Returns.LastMadeUpDate  Mortgages.NumMortCharges  Mortgages.NumMortOutstanding  Mortgages.NumMortPartSatisfied  Mortgages.NumMortSatisfied  \
962                                                                      00593475 LIMITED       00593475                                     NaN              NaN                                                                      XXXXXXXXXX                                 XXXXXXXXXX                      XXXXXXXXXX                      XXXXXXXXXX                      NaN            XXXXXXXX                                                                    Private Limited Company                           Active           United Kingdom              NaN        12/11/2013                     1.0                       1.0                  NaN                     NaN            NO ACCOUNTS FILED                 NaN                    NaN                         0                             0                               0                           0
1021                                                                     00722745 LIMITED       00722745                                     NaN              NaN                                                                  XXXXXXXXXXXXXX                          XXXXXXXXXXXXXXXXX               XXXXXXXXXXXXXXXXX                             NaN                      NaN           XXXXXXXXX                                                                    Private Limited Company                           Active           United Kingdom              NaN        01/05/1962                    31.0                       5.0           01/03/1964                     NaN            NO ACCOUNTS FILED                 NaN                    NaN                         0                             0                               0                           0
3199                                                                 1 SURGICAL GROUP LTD       12696003                                     NaN              NaN                                                                 65 SLOAN SQUARE                                        NaN                          LONDON                             NaN           UNITED KINGDOM             SW1X9SH                                                                    Private Limited Company                           Active           United Kingdom              NaN        24/06/2020                    30.0                       6.0           24/03/2022                     NaN            NO ACCOUNTS FILED          22/07/2021                    NaN                         0                             0                               0                           0
9562                                                                   123MIJNWEBSITE LTD       10045113                                     NaN              NaN                                                                     18 TITUSHOF                                        NaN                        DE MEERN                 THE NETHERLANDS                      NaN              3453JG                                                                    Private Limited Company  Active - Proposal to Strike off           United Kingdom              NaN        07/03/2016                    31.0                       3.0           31/12/2018              31/03/2017                          NaN          04/04/2017                    NaN                         0                             0                               0                           0
15209                                             17 UPPERTON GARDENS RTM COMPANY LIMITED       06406993                                     NaN              NaN                                                              102 HAZELWICK ROAD                              THREE BRIDGES                         CRAWLEY                     WEST SUSSEX                      NaN           TRH10 1NH                      PRI/LTD BY GUAR/NSC (Private, limited by guarantee, no share capital)                           Active           United Kingdom              NaN        23/10/2007                    31.0                      10.0           31/10/2020              31/10/2018                      DORMANT          20/11/2016             23/10/2015                         0                             0                               0                           0
18475                                                                1LS VENTURES LIMITED       12702113                                     NaN              NaN                                                              42 BARNCROFT DRIVE                                        NaN                  HAYWARDS HEATH                     WEST SUSSEX           UNITED KINGDOM             RH162NL                                                                    Private Limited Company                           Active           United Kingdom              NaN        29/06/2020                    30.0                       6.0           29/03/2022                     NaN            NO ACCOUNTS FILED          27/07/2021                    NaN                         0                             0                               0                           0
18918                                              1ST CALL ALLOY WHEEL REFURBISHMENT LTD       12702157                                     NaN              NaN                                                                  18 BENSON ROAD                                        NaN                           POOLE                          DORSET           UNITED KINGDOM             BH170GB                                                                    Private Limited Company                           Active           United Kingdom              NaN        29/06/2020                    30.0                       6.0           29/03/2022                     NaN            NO ACCOUNTS FILED          27/07/2021                    NaN                         0                             0                               0                           0
31366                                                                        2B SIGNS LTD       12683481                                     NaN              NaN                                                                 08 FRANK STREET                                        NaN                          BOLTON                             NaN           UNITED KINGDOM              BL13HT                                                                    Private Limited Company                           Active           United Kingdom              NaN        19/06/2020                    30.0                       6.0           19/03/2022                     NaN            NO ACCOUNTS FILED          17/07/2021                    NaN                         0                             0                               0                           0
34253                                                                  3 SQUARES (RJ) LTD       12689972                                     NaN              NaN                                                               24 BARTLEMAS ROAD                                        NaN                          OXFORD                             NaN           UNITED KINGDOM              OX41XX                                                                    Private Limited Company                           Active           United Kingdom              NaN        22/06/2020                    30.0                       6.0           22/03/2022                     NaN            NO ACCOUNTS FILED          20/07/2021                    NaN                         0                             0                               0                           0
82446                                                                      A M F LINE LTD       12687288                                     NaN              NaN                                                          150 SNOWBERRY CRESCENT                                        NaN                      WARRINGTON                             NaN           UNITED KINGDOM              WA51DA                                                                    Private Limited Company                           Active           United Kingdom              NaN        20/06/2020                    30.0                       6.0           20/03/2022                     NaN            NO ACCOUNTS FILED          18/07/2021                    NaN                         0                             0                               0                           0
96285                                                                       A.I.A. S.P.A.       FC036731                                     NaN              NaN                                                           1 PIAZZALE APOLLINARE                                        NaN    SAN MARTINO BUONALBERGO (VR)                             NaN                    ITALY               37036                                                                         Other company type                           Active                    ITALY              NaN        18/10/2019                     NaN                       NaN                  NaN                     NaN            NO ACCOUNTS FILED                 NaN                    NaN                         0                             0                               0                           0
106472                                                                         AAJAVA LTD       12670820                                     NaN              NaN                                A-41/1 KULDEEP SINGH, YADAV NAGAR,SAMAYPUR BADLI                                        NaN                NORTH WEST DELHI                             NaN                      NaN              110042                                                                    Private Limited Company                           Active           United Kingdom              NaN        15/06/2020                    30.0                       6.0           15/03/2022                     NaN            NO ACCOUNTS FILED          13/07/2021                    NaN                         0                             0                               0                           0
122958                                                      ABOVE & BEYOND PROPERTIES LTD       11952510                                     NaN              NaN                                                                173 COLLEGE ROAD                                     CROSBY                       LIVERPOOL                             NaN                      NaN               L233A                                                                    Private Limited Company                           Active           United Kingdom              NaN        17/04/2019                    30.0                       4.0           17/04/2021                     NaN            NO ACCOUNTS FILED          15/05/2020                    NaN                         2                             2                               0                           0
123676                                                                         ABRAHU LTD       12682716                                     NaN              NaN                                                          C/O AIDHAN ACCOUNTANCY                            199 BISHOPSGATE                          LONDON                             NaN           UNITED KINGDOM             EC2M3TY                                                                    Private Limited Company                           Active           United Kingdom              NaN        19/06/2020                    30.0                       6.0           19/03/2022                     NaN            NO ACCOUNTS FILED          17/07/2021                    NaN                         0                             0                               0                           0
124756                                                 ABSOLUTE BUILD AND RENOVATIONS LTD       07091973                                     NaN              NaN                                                             13 BEECHWOOD AVENUE                                        NaN                      MONKSEATON             NEWCASTLE UPON TYNE           UNITED KINGDOM             NE258EP                                                                    Private Limited Company                           Active           United Kingdom              NaN        01/12/2009                    31.0                      12.0           31/12/2020              31/12/2018                          NaN          29/12/2016             01/12/2015                         0                             0                               0                           0
139522                                                              ACJ REFRIGERATION LTD       12704711                                     NaN              NaN                                                                      2 BAYCROFT                                        BOX                          STROUD                 GLOUCESTERSHIRE           UNITED KINGDOM              GL69HH                                                                    Private Limited Company                           Active           United Kingdom              NaN        29/06/2020                    30.0                       6.0           29/03/2022                     NaN            NO ACCOUNTS FILED          27/07/2021                    NaN                         0                             0                               0                           0
148515                                                                  ACTS PROPERTY LTD       12699713                                     NaN              NaN                                                                        PINELEAT                                YEOLMBRIDGE                      LAUNCESTON                             NaN           UNITED KINGDOM             PL158TL                                                                    Private Limited Company                           Active           United Kingdom              NaN        26/06/2020                    30.0                       6.0           26/03/2022                     NaN            NO ACCOUNTS FILED          24/07/2021                    NaN                         0                             0                               0                           0
172094                                                            AE TRADING SERVICES LTD       12697335                                     NaN              NaN                                                                   10 DORIS ROAD                                        NaN                        ILKESTON                             NaN           UNITED KINGDOM              DE75DP                                                                    Private Limited Company                           Active           United Kingdom              NaN        25/06/2020                    30.0                       6.0           25/03/2022                     NaN            NO ACCOUNTS FILED          23/07/2021                    NaN                         0                             0                               0                           0
173036                                                          AEGON GLOBAL SERVICES LLC       FC033872                                     NaN              NaN                                                       AEGON GLOBAL SERVICES LLC                      4333 EDGEWOOD ROAD NE                    CEDAR RAPIDS               LINN COUNTRY/IOWA            UNITED STATES               52499                                                                         Other company type                           Active            UNITED STATES              NaN        21/11/2016                     NaN                       NaN                  NaN                     NaN            NO ACCOUNTS FILED                 NaN                    NaN                         0                             0                               0                           0
181430                                      AFS INTERCULTURAL PROGRAMS - UK BRANCH OFFICE       FC032815                                     NaN              NaN                                                                         71 WEST                                23RD STREET                   NEW YORK CITY                              NY            UNITED STATES               10010                                                                         Other company type                           Active            UNITED STATES              NaN        01/10/2015                     NaN                       NaN                  NaN                     NaN            NO ACCOUNTS FILED                 NaN                    NaN                         0                             0                               0                           0
182000                                                                AFULLGALLON LIMITED       11430338                                     NaN              NaN                                                                   2 BAKERY MEWS                                HORSEMARKET                  BARNARD CASTLE                   COUNTY DURHAM           UNITED KINGDOM             DL128LZ                                                                    Private Limited Company                           Active           United Kingdom              NaN        25/06/2018                    30.0                       6.0           25/06/2020                     NaN            NO ACCOUNTS FILED          23/07/2019                    NaN                         2                             2                               0                           0
182892                                                           AG TEC INSTALLATIONS LTD       12706327                                     NaN              NaN                                                                  3 BOURNE COURT                     WEST BRACKLESHAM DRIVE                 BRACKLESHAM BAY                             NaN           UNITED KINGDOM             PO208QR                                                                    Private Limited Company                           Active           United Kingdom              NaN        30/06/2020                    30.0                       6.0           31/03/2022                     NaN            NO ACCOUNTS FILED          28/07/2021                    NaN                         0                             0                               0                           0

In [51]:
df['Postcode_FX'] = df['RegAddress.PostCode'].replace(" ","").str.upper()

df['Postcode_Fixed'] = df['Postcode_FX'].str.findall(r'^((([A-Z][A-Z]{0,1})([0-9][A-Z0-9]{0,2})) {0,}(([0-9])([A-Z]{2})))')

In [13]:
df['RegAddress.PostCode'].unique().tolist()

['LS10 2RU',
 'SK6 3DY',
 'EC1V 9LT',
 'E4 8EJ',
 'SW9 8QS',
 'TN8 5NF',
 'AB11 7SY',
 'W12 8DS',
 'GY1 1EW',
 'RG26 5AT',
 'SE4 1NQ',
 'PO7 5NT',
 'TN11 9PL',
 'SS3 0GW',
 'GU21 5TS',
 nan,
 'B3 3LP',
 'GU14 7LY',
 'IG1 3DF',
 'UB3 1NS',
 'WD6 1JD',
 'OL2 7DD',
 'E1 7AA',
 'PL4 7BL',
 'BS35 4ND',
 'HA2 6AU',
 'CR0 2LP',
 'EH1 2AE',
 'LU4 9DY',
 'M14 4JF',
 'PE21 9BU',
 'SP2 7GN',
 'CM2 9AE',
 'WV12 4EZ',
 'LE12 7TZ',
 'LS26 9DN',
 'SM7 2NL',
 'HP2 7DN',
 'W12 8LA',
 'NR2 2AL',
 'IP28 7DE',
 'PE30 1LT',
 'E15 1LU',
 'B23 7PF',
 'HU5 3PL',
 'NW4 3XP',
 'BN2 6UB',
 'LS22 6SN',
 'NW3 1EH',
 'LL17 0RE',
 'N6 5HF',
 'RG7 3SW',
 'BT78 1LE',
 'G69 8FY',
 'PE19 6LT',
 'CH2 3BF',
 'SW3 2BZ',
 'SW19 8YB',
 'LS25 6BQ',
 'NW7 2DQ',
 'DA2 6EP',
 'DA1 5WW',
 'SN1 5AY',
 'RM17 6PL',
 'TW16 5LB',
 'E1 1DU',
 'BN5 9FS',
 'HA1 3AW',
 'NR3 1RB',
 'W1U 2RU',
 'WF8 4BG',
 'TQ1 3NT',
 'BR3 5BZ',
 'SM4 6HA',
 'W1B 5DF',
 'CR0 2RJ',
 'IG2 6UF',
 'DL14 6HX',
 'PO30 1JW',
 'E2 0LT',
 'CT12 6RR',
 'EC1A 4HD',
 'TW14 0SL',
 'BS10 6LW',
 'EC3V 9LJ',
 'LL29 8PE',
 'L11 0AY',
 'B70 6PP',
 'BB4 7HB',
 'G31 1NG',
 'L36 7XG',
 'RH9 8DR',
 'CO7 0BP',
 'RM16 4RT',
 'AB22 8TJ',
 'N20 9HR',
 'S6 1LG',
 'DD5 4RA',
 'OX29 0SY',
 'SM1 3PF',
 'TW4 6JQ',
 'ST6 1HD',
 'SE13 7PA',
 'NP20 2DW',
 'PO19 8DJ',
 'EC2A 4NE',
 'CB23 8AT',
 'CR0 2PR',
 'HP11 1AD',
 'SL6 7QN',
 'LS19 7RE',
 'YO31 7YA',
 'WD6 1EB',
 'M12 5NG',
 'FY4 2NY',
 'NG17 9EZ',
 'PO19 7XX',
 'E1 8NN',
 'DT7 3SU',
 'CB2 1JP',
 'BS16 9PE',
 'CR8 2BR',
 'SW7 4AG',
 'EH6 8NU',
 'NW1 6LD',
 'BA5 1FD',
 'DH3 4AN',
 'M13 0GE',
 'RM7 0AU',
 'LL64 5XA',
 'N22 5LE',
 'EX34 9EW',
 'SS4 1AJ',
 'WD19 4HW',
 'DN9 3QS',
 'TW11 8QT',
 'WC1H 9JG',
 'W1U 6TU',
 'S70 2SB',
 'TQ7 1LR',
 'B17 0NL',
 'YO21 3DQ',
 'L32 5TH',
 'ME4 6BB',
 'GU2 4EN',
 'SG1 2FP',
 'LS28 7DG',
 'SK13 8EF',
 'SL9 7JG',
 'B43 7BP',
 'BR1 3JH',
 'BR3 1AG',
 'GU2 9TY',
 'CM20 2DU',
 'MK16 9JS',
 'BN3 3YP',
 'WN4 0RH',
 'RH17 6DX',
 'EX13 5RJ',
 'LU2 7HY',
 'L18 1DG',
 'ST16 1NZ',
 'SE15 5JE',
 'PA32 8XX',
 'BD7 3HS',
 'KT13 8PB',
 'IP33 2QA',
 'CV34 4EW',
 'SE1 2AF',
 'SE1 7EU',
 'UB5 6FN',
 'CW8 1LA',
 'LA12 7AH',
 'RG14 9PZ',
 'RG7 1PQ',
 'WS5 4LS',
 'G41 1HJ',
 'NE1 7RA',
 'NR27 9JR',
 'NR27 9QS',
 'SW2 4RN',
 'RM15 4ES',
 'GU7 3NE',
 'LE67 5FA',
 'N12 0DR',
 'BN9 0DS',
 'CO10 0FS',
 'WC2H 9JQ',
 'IG5 0SW',
 'RG40 4RF',
 'M38 0DF',
 'RM8 3EX',
 'GU1 3QT',
 'PO15 7AG',
 'SE24 0NG',
 'N4 1AQ',
 'NG9 1AB',
 'CF36 3TU',
 'DA14 4DT',
 'N1 7GU',
 'CH6 6BQ',
 'YO8 9GR',
 'BH21 1QE',
 'WA3 3GT',
 'TN22 3XX',
 'N16 8DJ',
 'LE19 4SA',
 'SN7 7PR',
 'YO61 3FH',
 'E7 0HD',
 'N16 9AE',
 'WA2 7LT',
 'BN6 8UR',
 'LS27 9ER',
 'B61 8DN',
 'N11 2UT',
 'YO23 1NB',
 'EC1V 9BD',
 'KT21 1BD',
 'E11 2PU',
 'ME8 7EG',
 'W1T 4TQ',
 'BN3 2PJ',
 'E15 4HF',
 'SE21 8EN',
 'E1 6PX',
 'NW3 3QX',
 'GU1 3SA',
 'CM21 9AE',
 'SW16 1AP',
 'EC2A 4BA',
 'CM2 9LD',
 'NR2 3BH',
 'DN22 7BN',
 'CB4 0PP',
 'BD1 9YA',
 'SY3 7QY',
 'TW4 6DR',
 'RG10 9TR',
 'NW6 1DS',
 'BB1 6AY',
 'BS23 3BW',
 'DY13 9EH',
 'LS18 5BP',
 'LS14 1FB',
 'EC1V 9EE',
 'GU6 8LE',
 'NN13 5SQ',
 'FY5 5HT',
 'SE1 1TY',
 'E4 6RP',
 'EN9 1FL',
 'RG27 8WR',
 'RM17 5NL',
 'SW15 2NU',
 'GL51 6TQ',
 'SL6 0BF',
 'MK42 8AT',
 'CM14 4AB',
 'E15 2HB',
 'E8 2NJ',
 'E11 3NA',
 'RH14 9JA',
 'W1W 6HL',
 'EC1V 2NX',
 'E17 8ND',
 'S81 0SU',
 'W10 6UA',
 'L3 9QJ',
 'HP9 2XF',
 'W1T 3BL',
 'SW2 5RR',
 'N22 6BX',
 'HA3 9QN',
 'LS22 5NB',
 'G81 6LD',
 'NN17 5JG',
 'S66 2NR',
 'WD25 9XX',
 'CA2 5EN',
 'CF24 4SF',
 'WD24 7NE',
 'G53 7YQ',
 'TR1 2JJ',
 'DE7 8LG',
 'SA10 6RR',
 'DE23 8YB',
 'LA23 2JJ',
 'PE1 5XA',
 'WR1 2DJ',
 'BH4 8BT',
 'AL1 3NU',
 'PO14 4AR',
 'GU21 5EN',
 'SN5 4JN',
 'M3 4LZ',
 'BD20 8BB',
 'AB52 6QQ',
 'SE16 1SB',
 'RM3 7UA',
 'S18 7WG',
 'BS35 2BS',
 'LL53 6DS',
 'IP1 1TD',
 'BN22 0HR',
 'TN11 0LT',
 'DE21 4BJ',
 'RH12 4HT',
 'S12 4AN',
 'SG9 0RU',
 'AL4 0FJ',
 'SK9 2JN',
 'LS15 8ZB',
 'ME2 4BH',
 'N11 1AP',
 'CT6 8TG',
 'EC1Y 8JL',
 'NW10 7FX',
 'BL1 4QR',
 'PE3 7PR',
 'OL11 5BT',
 'OL12 6AA',
 'BS21 7NL',
 'CV6 4AD',
 'NG16 6NS',
 'W1W 7LT',
 'SS1 1AT',
 'PE2 6FT',
 'SE1 0ES',
 'BN22 9NS',
 'SW1Y 4PE',
 'CA28 8YD',
 'M1 6HT',
 'B17 9JU',
 'AB24 5LT',
 'PL25 4TR',
 'N12 8NP',
 'M16 7QQ',
 'TR10 8JB',
 'G76 0HD',
 'TN8 6SR',
 'CM6 1ZB',
 'DY1 4RH',
 'LS13 4AW',
 'W3 6DR',
 'S9 1XA',
 'CF72 8NG',
 'B90 2QB',
 'AB25 2QT',
 'NN14 1EW',
 'G2 4JR',
 'SE15 6QZ',
 'CF14 6DH',
 'CO1 1HF',
 'SY25 6EU',
 'EH10 5LZ',
 'BA4 5QE',
 'CH7 5HL',
 'TS18 5EP',
 'SL1 3BX',
 'ML3 6JT',
 'CT20 2RT',
 'GU47 8PJ',
 'NE3 2ER',
 'IP28 6LR',
 'E1 5QJ',
 'DY10 1JR',
 'BS16 6BQ',
 'BD18 4RU',
 'CF14 3AY',
 'KT13 8DE',
 'NN1 5RY',
 'ME10 1DT',
 'SA19 6AN',
 'NR19 2BX',
 'SE12 8UD',
 'GU14 0NH',
 'FY8 1QG',
 'DE1 1LA',
 'SE14 6QL',
 'BN1 6AF',
 'GL19 3JZ',
 'B13 9JE',
 'RH6 9EN',
 'NW6 7YQ',
 'PL6 6BX',
 'B79 7RB',
 'G15 8AJ',
 'LS10 1JQ',
 'RH19 3AF',
 'ST3 5HS',
 'TA5 1RH',
 'TF2 9NT',
 'CF15 7QR',
 'W2 6DX',
 'KY11 8PB',
 'CR8 1DD',
 'G3 8LZ',
 'MK44 3SW',
 'CM23 2LS',
 'BS6 6LT',
 'NE1 1PG',
 'BL9 7BE',
 'EC1A 2BN',
 'BB9 7LE',
 'NG5 4DR',
 'B90 8BG',
 'TF9 4AW',
 'N22 6SE',
 'WC1H 9LG',
 'E16 2RD',
 'CO1 1TG',
 'B90 4PD',
 'CA8 1UR',
 'EX4 1AP',
 'IG1 1LQ',
 'BD9 6DL',
 'N9 0LX',
 'SW3 2HP',
 'PE9 3PW',
 'BS1 2NT',
 'MK9 2AF',
 'CO10 9EZ',
 'BT36 7LS',
 'LS9 7DR',
 'FK15 0FS',
 'WC1H 9AQ',
 'M1 3BE',
 'WF16 0AX',
 'B65 0EH',
 'EC1N 8UN',
 'SE16 2LW',
 'SG1 3RZ',
 'WC2H 7DQ',
 'WA14 4RW',
 'PE3 6SR',
 'N16 9HP',
 'EC1A 4JQ',
 'RM12 5LJ',
 'RH11 8BS',
 'NG20 0RZ',
 'CB10 1JZ',
 'SR7 9GX',
 'ST3 2AX',
 'WA4 6NU',
 'SS9 1JL',
 'BS3 5EN',
 'W1K 3JA',
 'NE4 7YD',
 'SO51 9AQ',
 'SN15 3RS',
 'LD8 2SQ',
 'NW10 4SJ',
 'SR5 2TA',
 'WC1E 6HA',
 'SN11 0BT',
 'OL1 4NX',
 'L3 6BN',
 'BR2 8LX',
 'N17 9SJ',
 'DY9 8JX',
 'BL6 7AF',
 'NN7 3DB',
 'CF14 8LH',
 'NN1 5AN',
 'PL7 4QN',
 'TQ1 4PR',
 'BB4 7RY',
 'B43 6AA',
 'B3 1HL',
 'B11 2AA',
 'WC1N 3AX',
 'B75 5BE',
 'CM2 7DP',
 'N14 6JS',
 'RH6 9ER',
 'BH7 6QG',
 'DN31 2LP',
 'MK13 7HA',
 'CH60 7RF',
 'SW11 6RN',
 'LS28 5QS',
 'CH63 8PP',
 'WF10 5SJ',
 'DE22 3BW',
 'TW8 0BT',
 'SE15 4ST',
 'CM20 1QP',
 'BD19 3QF',
 'CW10 0AE',
 'GU19 5HZ',
 'S60 1DX',
 'SK2 7LZ',
 'E2 6FX',
 'RG12 1QS',
 'IP15 5DG',
 'SW6 1RP',
 'HA2 7ST',
 'S71 1AN',
 'SE1 8UL',
 'TW3 3JB',
 'NW9 9NL',
 'NE7 7FX',
 'PR2 3LF',
 'TW3 3JR',
 'WC1R 4PA',
 'G5 9EQ',
 'W13 0NU',
 'LL18 2DE',
 'N1 3HU',
 'E17 4GE',
 'SM6 9NA',
 'SK11 7RT',
 'LS1 2JP',
 'SW1P 2HP',
 'CV11 6RY',
 'CV37 9NP',
 'UB1 3QN',
 'SL2 5EN',
 'E16 2DQ',
 'NR2 4QB',
 'LS14 1PQ',
 'CH1 3AE',
 'EH26 9AA',
 'DA11 0HJ',
 'HX5 9JP',
 'SO18 2FZ',
 'ME9 0LL',
 'GL16 8DU',
 'SO15 3FL',
 'HX1 2XR',
 'MK41 6DF',
 'BL4 7SE',
 'LS12 3PJ',
 'PR2 2YH',
 'CO5 9PY',
 'EC4A 1JQ',
 'SK9 6EA',
 'GU14 8LA',
 'GU19 5AT',
 'IG4 5NX',
 'G13 2UN',
 'EN5 5TZ',
 'BS32 4JY',
 'BR6 7DZ',
 'MK43 8QA',
 'SO14 1PT',
 'MK40 3HD',
 'NW1 7SN',
 'NN8 1LU',
 'AB22 8AA',
 'N2 0QS',
 'SK13 7NU',
 'TN13 2SP',
 'W1G 9DQ',
 'NE23 7HB',
 'SA1 2JG',
 'GL6 0JF',
 'EC2Y 8BR',
 'DE21 7NL',
 'SW9 7ND',
 'BR6 9PR',
 'HR9 5JN',
 'OL11 2UW',
 'CT2 7LN',
 'M1 2JQ',
 'M21 9LP',
 'SW18 1NL',
 'E6 2JG',
 'G41 2AB',
 'B91 1TF',
 'HP9 1GA',
 'GU10 4LR',
 'SK4 3JT',
 'SL6 3RQ',
 'GU6 8NA',
 'SE1 0LH',
 'SW11 3HH',
 'SE20 7UQ',
 'RM17 6RG',
 'S70 2QN',
 'BA21 4DN',
 'M4 6DE',
 'BR2 0NB',
 'BH7 7DU',
 'EH54 6ZX',
 'NW10 9SL',
 'RG12 1AN',
 'EC1V 9BP',
 'M2 3EY',
 'S4 7UL',
 'SW1P 4WY',
 'DE55 2DT',
 'GU4 8AD',
 'EC4Y 8BB',
 'PR1 3JJ',
 'M2 1AB',
 'LS1 4JP',
 'M22 4FU',
 'LS1 2SN',
 'ST12 9FA',
 'SW1Y 5ES',
 'EC4A 4PP',
 'B4 6GH',
 'EC3N 2NP',
 'LU5 4SB',
 'SW1X 7NN',
 'EC4A 4AB',
 'LS1 2QH',
 'CF24 5YD',
 'KT16 8AY',
 'DE24 8BU',
 'W1W 6DW',
 'B3 2BN',
 'M2 3NG',
 'WV13 1RZ',
 'UB6 0NR',
 'B2 5LA',
 'LN5 7HB',
 'W1K 3LN',
 'ME10 4DH',
 'BN21 3YA',
 'NG4 2LL',
 'LE11 1JD',
 'WC1V 6DX',
 'NW3 1QD',
 'CB4 0WZ',
 'S2 4NX',
 'OX26 4XD',
 'HP19 8DY',
 'W1B 3HH',
 'AL3 6PA',
 'B9 4QJ',
 'TW16 7AH',
 'BS23 1US',
 'NN3 2SY',
 'LS1 6JP',
 'B3 1AB',
 'BA4 5AQ',
 'LS17 9LY',
 'LS25 3AA',
 'B90 4AX',
 'W1W 8AG',
 'W1N 9AF',
 'CA1 1HP',
 'SK8 5BR',
 'B3 2DB',
 'LS1 2HJ',
 'B3 1QZ',
 'EC2A 1SA',
 'SW1V 1LQ',
 'LN2 1JN',
 'BS1 2AA',
 'TS15 9AE',
 'LS1 2PJ',
 'EC3A 7NR',
 'EC4A 1LT',
 'NN5 5LF',
 'TW8 8EH',
 'M1 3ED',
 'CV4 9UU',
 'W1D 6LA',
 'S1 1WF',
 'NN8 4LQ',
 'WV2 2BX',
 'WV1 4JX',
 'BS1 4JP',
 'NG24 3RR',
 'AL3 4DH',
 'SM3 8DD',
 'NG1 3FG',
 'BD19 3LS',
 'BD11 1BY',
 'M22 5WL',
 'SO1 2EW',
 'LS2 8LA',
 'CV3 1HJ',
 'CV5 6BN',
 'NE24 1EY',
 'L2 2LE',
 'EC4A 4HT',
 'NE3 3LS',
 'NG16 3EB',
 'W1A 2HU',
 'AL1 2RE',
 'M2 3BA',
 'WD3 1RH',
 'RH11 9BP',
 'B3 2DT',
 'B3 2RT',
 'EC4A 3TR',
 'DY11 7QU',
 'B4 6JT',
 'B62 8QZ',
 'SR5 3JN',
 'L2 7XB',
 'BN1 1EE',
 'DY5 1LX',
 'W9 2BW',
 'CR9 3DB',
 'RG9 2JR',
 'B18',
 'B3 3SD',
 'S41 9JT',
 'HX3 7TY',
 'NW1 2EP',
 'CW8 2YA',
 'L3 1QH',
 'B2 5LF',
 'DE73 8AN',
 'TW3 3HJ',
 'LE2 4LP',
 'FY4 1DW',
 'WC2B 6XF',
 'HP10 0HH',
 'SO15 2DP',
 'M2 6DR',
 'RG12 3SW',
 'NG5 1AW',
 'W1R 9RE',
 'SW1W 0NR',
 'BS14 0TJ',
 'E1W 1DD',
 'EC3M 1BU',
 'BB10 4LR',
 'CV11 6TW',
 'CF1 5ES',
 'RG7 4SD',
 'B44 8BJ',
 'WA2 7AD',
 'EN1 3JS',
 'SE1 2RT',
 'BD13 1QA',
 'GL6 9HR',
 'NW11 8DS',
 'W1M 8JR',
 'TW13 7DY',
 'B19 2XF',
 'DL2 2UJ',
 'LS1 2JN',
 'HU1 1JJ',
 'BS11 8AG',
 'CA2 5EL',
 'CV1 3DR',
 'KT14 6SD',
 'PO9 1LB',
 'L39 8RJ',
 'S1 2ET',
 'GU1 1UZ',
 'SW1X 7AW',
 'KT6 7EL',
 'BN9 0BZ',
 'LS27 0HQ',
 'SW2 1QN',
 'YO30 5PB',
 'EC2Y 5DH',
 'LS1 2NE',
 'NP1 9YL',
 'M2 5NT',
 'GU1 1UW',
 'CV21 2NH',
 'PO15 5SS',
 'LE7 7EL',
 'SS1 1EF',
 'W1A 2BB',
 'NG5 1AP',
 'WA14 5ER',
 'WR1 2HB',
 'B66 2LP',
 'W1X 9DF',
 'W1N 8DP',
 'CF1 6AN',
 'SW3 6RD',
 'XXX',
 'BD19 3TN',
 'NG7 1LB',
 'EC4',
 'NR7 9BB',
 'B2 5JT',
 'B3 3NP',
 'CV32 4LY',
 'W4 2HA',
 'LS1 2AY',
 'CH65 4EZ',
 'WC2N 5JG',
 'RH2 9QP',
 'CV1 2FF',
 'IP1 3HS',
 'BS1 6NA',
 'NE2 1NL',
 'CB8 7AL',
 'EC2A 2BU',
 'TW8 9AX',
 'RH1 5AH',
 'NE1 8BP',
 'KT21 2RD',
 'WA1 4SR',
 'CB8 0AT',
 'XXXXXXXX',
 'W1P 5HH',
 'CV31 2AZ',
 'HA5 3TB',
 'LS2 9NF',
 'NE1 6EF',
 'M3 2LF',
 'HA2 0EE',
 'EC2A 4SS',
 'B70 9EL',
 'W1A 3RT',
 'DL3 0PW',
 'SL9 8ER',
 'BD10 9AA',
 'NR4 6NZ',
 'W6',
 'RH8 0DT',
 'DL14 9PE',
 'ST5 0SU',
 'BB5 1HU',
 'BA6 8LF',
 'UB5 4JL',
 'RH16 1BL',
 'KY12 8JP',
 'OX16 0TH',
 'BS22 7XY',
 'S9 1AR',
 'AL9 7NT',
 'BH5 1ND',
 'M50 2QW',
 'BR3 3QP',
 'HP6 5SS',
 'BT10 0FP',
 'M15 4PN',
 'NR18 0RU',
 'E1 4HP',
 'TN28 8BZ',
 'CM9 6SH',
 'S65 2QR',
 'NE37 1DS',
 'SW15 2PG',
 'RG2 9LB',
 'CV34 5HQ',
 'LE5 4JG',
 'W1W 7AR',
 'CV47 2XB',
 'M1 4DJ',
 'CR4 7HL',
 'SO16 7NP',
 'DY1 1HD',
 'EX1 3PD',
 'XXXXXXXXX',
 'TP4 1AT',
 'SR3 3XP',
 'WN7 2DE',
 'B1 1BD',
 'M2 6DS',
 'M3 7BG',
 'HA1 1EJ',
 'WC1N 1HD',
 'AL6 9SN',
 'BL9 9TB',
 'NN1 5PT',
 'TW16 7AR',
 'LS1 2AL',
 'NG5 1AH',
 'NR31 0LT',
 'XXXX XXX',
 'PL4 0LP',
 'B4 6HQ',
 'SW11 8ET',
 'SO16 3AY',
 'EC4M 7BA',
 'L20 7AD',
 'SL7 3HJ',
 'CF1 6PN',
 'B3 2DL',
 'B3 2DX',
 'SA13 2SP',
 'ST1 3AF',
 'W1Y 1AA',
 'BN2 4QE',
 'EC4A 3AD',
 'LS1 2AJ',
 'BD5 7HW',
 'WD1 7HG',
 'M3 2LX',
 'MK11 3DR',
 'M2 5HR',
 'LS11 5QR',
 'FY7 6EB',
 'HR4 9SF',
 'NE28 6TZ',
 'M3 3BP',
 'L2 9TL',
 'B3 1EH',
 'CV7 7FR',
 'WC1V 7JL',
 'PA3 3TP',
 'RM1 3JT',
 'B44 8LS',
 'HA7 4XR',
 'EN11 8UR',
 'ME14 3EN',
 'EC4R 2SU',
 'E8 4AU',
 'NG6 0JU',
 'EC3N 1AD',
 'E3 3ND',
 'EC4R 9AN',
 'BN2 1QB',
 'TS22 5HW',
 'SW1Y 5EA',
 'RH18 5HN',
 'BN1 4BG',
 'MK41 0GH',
 'SW12 8PZ',
 'DA3 7QA',
 'BH4 8DT',
 'RM3 7PP',
 'CW6 0LN',
 'WS13 6QA',
 'BN2 1QG',
 'SW18 1NY',
 'W4 2ER',
 'EH12 8SJ',
 'EH3 9WJ',
 'RH8 0PG',
 'N16 9BS',
 'RM7 0PL',
 'LE18 3QL',
 'GL6 8DR',
 'SM3 9BY',
 'IP13 8LF',
 'SS9 2AB',
 'ST6 5TT',
 'SL1 2EJ',
 'SE14 6ED',
 'N1 6HL',
 'DN1 2QA',
 'M60 8GT',
 'CM9 4XB',
 'M33 6TT',
 'SA1 6DR',
 'PO6 3AU',
 'W1X 1AE',
 'WD18 0BP',
 'WF9 1JS',
 'WR9 0NG',
 'WF17 5DN',
 'CV34 5YA',
 'HU3 3SN',
 'HA8 7PL',
 'WD6 1JG',
 'HR3 6QQ',
 'CT4 6RL',
 'B98 0TL',
 'M60 2AT',
 'LE9 9JU',
 'SA19 7HR',
 'WD18 0BY',
 'DE55 4RG',
 'M2 3PW',
 'LS7 1LJ',
 'ST1 5TA',
 'BS18 7SA',
 'S1 4FW',
 'SL6 8DA',
 'WR1 1HB',
 'LS1 4DW',
 'LS9 9EL',
 'TS18 3YH',
 'B71 4JW',
 'N19 5NL',
 'DY4 9DD',
 'E16 1BN',
 'OX4 2JB',
 'B6 4HZ',
 'B75 6BP',
 'HP11 1SL',
 'B90 2LW',
 'LL53 6RS',
 'BL9 8DG',
 'S12 3YF',
 'LS1 2SP',
 'M1 4HA',
 'NP44 3UZ',
 'SR3 2PY',
 'W1Y 7PD',
 'DY5 1TX',
 'CF37 5SX',
 'M31 1SU',
 'SW1Y 6QB',
 'S18 6XR',
 'EH16 6YE',
 'B2 5YB',
 'M2 1EW',
 'SG1 2XD',
 'BD7 4DN',
 'LE2 0QS',
 'KT16 9HW',
 'S75 5EA',
 ...]

In [53]:
df[['RegAddress.PostCode','Postcode_FX','Postcode_Fixed']]

        RegAddress.PostCode Postcode_FX                          Postcode_Fixed
0                  LS10 2RU    LS10 2RU  [(LS10 2RU, LS10, LS, 10, 2RU, 2, RU)]
1                   SK6 3DY     SK6 3DY     [(SK6 3DY, SK6, SK, 6, 3DY, 3, DY)]
2                  EC1V 9LT    EC1V 9LT  [(EC1V 9LT, EC1V, EC, 1V, 9LT, 9, LT)]
3                    E4 8EJ      E4 8EJ        [(E4 8EJ, E4, E, 4, 8EJ, 8, EJ)]
4                   SW9 8QS     SW9 8QS     [(SW9 8QS, SW9, SW, 9, 8QS, 8, QS)]
...                     ...         ...                                     ...
4671961             SY1 1XF     SY1 1XF     [(SY1 1XF, SY1, SY, 1, 1XF, 1, XF)]
4671962            EH21 6UQ    EH21 6UQ  [(EH21 6UQ, EH21, EH, 21, 6UQ, 6, UQ)]
4671963              L3 1BP      L3 1BP        [(L3 1BP, L3, L, 3, 1BP, 1, BP)]
4671964             PR2 2DX     PR2 2DX     [(PR2 2DX, PR2, PR, 2, 2DX, 2, DX)]
4671965            BD23 2UE    BD23 2UE  [(BD23 2UE, BD23, BD, 23, 2UE, 2, UE)]

[4671966 rows x 3 columns]

In [57]:
df.loc[df['PostCode1'] == 'XXXXXXXXX']

,CompanyName,CompanyNumber,RegAddress.CareOf,RegAddress.POBox,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,CompanyCategory,CompanyStatus,CountryOfOrigin,DissolutionDate,IncorporationDate,Accounts.AccountRefDay,Accounts.AccountRefMonth,Accounts.NextDueDate,Accounts.LastMadeUpDate,Accounts.AccountCategory,Returns.NextDueDate,Returns.LastMadeUpDate,Mortgages.NumMortCharges,Mortgages.NumMortOutstanding,Mortgages.NumMortPartSatisfied,Mortgages.NumMortSatisfied,SICCode.SicText_1,SICCode.SicText_2,SICCode.SicText_3,SICCode.SicText_4,LimitedPartnerships.NumGenPartners,LimitedPartnerships.NumLimPartners,URI,PreviousName_1.CONDATE,PreviousName_1.CompanyName,PreviousName_2.CONDATE,PreviousName_2.CompanyName,PreviousName_3.CONDATE,PreviousName_3.CompanyName,PreviousName_4.CONDATE,PreviousName_4.CompanyName,PreviousName_5.CONDATE,PreviousName_5.CompanyName,PreviousName_6.CONDATE,PreviousName_6.CompanyName,PreviousName_7.CONDATE,PreviousName_7.CompanyName,PreviousName_8.CONDATE,PreviousName_8.CompanyName,PreviousName_9.CONDATE,PreviousName_9.CompanyName,PreviousName_10.CONDATE,PreviousName_10.CompanyName,ConfStmtNextDueDate,ConfStmtLastMadeUpDate,Reg_Country,PostCode1,Postcode_FX,Postcode_Fixed
1021,00722745 LIMITED,00722745,NaN,NaN,XXXXXXXXXXXXXX,XXXXXXXXXXXXXXXXX,XXXXXXXXXXXXXXXXX,NaN,NaN,XXXXXXXXX,Private Limited Company,Active,United Kingdom,NaN,01/05/1962,31.0,5.0,01/03/1964,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00722745,09/01/2018,PAMETRADA LIMITED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXXXXXXXX,XXXXXXXXX,[]
1304847,E. GORDON HILL & SON LIMITED,00538498,NaN,NaN,XXXXXXXXXX XXXXXXXXXXXXXXX,XXXXXXXXXXXXXXX,XXXXXXXXXXXXXXX,XXXXXXXXXXXXXX,NaN,XXXXXXXXX,Private Limited Company,Liquidation,United Kingdom,NaN,01/01/1900,31.0,1.0,01/11/1901,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00538498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15/01/2017,NaN,NaN,XXXXXXXXX,XXXXXXXXX,[]

In [58]:
df.loc[df['PostCode1'] == 'XXXXXXXX']

,CompanyName,CompanyNumber,RegAddress.CareOf,RegAddress.POBox,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,CompanyCategory,CompanyStatus,CountryOfOrigin,DissolutionDate,IncorporationDate,Accounts.AccountRefDay,Accounts.AccountRefMonth,Accounts.NextDueDate,Accounts.LastMadeUpDate,Accounts.AccountCategory,Returns.NextDueDate,Returns.LastMadeUpDate,Mortgages.NumMortCharges,Mortgages.NumMortOutstanding,Mortgages.NumMortPartSatisfied,Mortgages.NumMortSatisfied,SICCode.SicText_1,SICCode.SicText_2,SICCode.SicText_3,SICCode.SicText_4,LimitedPartnerships.NumGenPartners,LimitedPartnerships.NumLimPartners,URI,PreviousName_1.CONDATE,PreviousName_1.CompanyName,PreviousName_2.CONDATE,PreviousName_2.CompanyName,PreviousName_3.CONDATE,PreviousName_3.CompanyName,PreviousName_4.CONDATE,PreviousName_4.CompanyName,PreviousName_5.CONDATE,PreviousName_5.CompanyName,PreviousName_6.CONDATE,PreviousName_6.CompanyName,PreviousName_7.CONDATE,PreviousName_7.CompanyName,PreviousName_8.CONDATE,PreviousName_8.CompanyName,PreviousName_9.CONDATE,PreviousName_9.CompanyName,PreviousName_10.CONDATE,PreviousName_10.CompanyName,ConfStmtNextDueDate,ConfStmtLastMadeUpDate,Reg_Country,PostCode1,Postcode_FX,Postcode_Fixed
962,00593475 LIMITED,00593475,NaN,NaN,XXXXXXXXXX,XXXXXXXXXX,XXXXXXXXXX,XXXXXXXXXX,NaN,XXXXXXXX,Private Limited Company,Active,United Kingdom,NaN,12/11/2013,1.0,1.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00593475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXXXXXXX,XXXXXXXX,[]
3578907,ROWAN FABRICATIONS CO LIMITED,01322627,XXXXXXX,NaN,XXXXXXXXXX XXXXXXXXX,XXXXXXXXX,XXXXXXXXXX,XXXXXXXXX,NaN,XXXXXXXX,"PRIV LTD SECT. 30 (Private limited company, section 30 of the Companies Act)",Liquidation,United Kingdom,NaN,22/07/1977,NaN,NaN,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/01322627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXXXXXXX,XXXXXXXX,[]
3581259,ROY ROOFING LIMITED,00396181,NaN,NaN,XXXXXXXXXX,XXXXXXXXXX,XXXXXXXXXX,XXXXXXXXXX,NaN,XXXXXXXX,Private Limited Company,Liquidation,United Kingdom,NaN,13/06/1945,NaN,NaN,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00396181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXXXXXXX,XXXXXXXX,[]
4042766,T.GRAY & CO.LIMITED,00975066,NaN,NaN,XXXXXXXXXX,XXXXXXXXXX,XXXXXXXXXX,XXXXXXXXXX,NaN,XXXXXXXX,Private Limited Company,Liquidation,United Kingdom,NaN,19/03/1970,NaN,NaN,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00975066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXXXXXXX,XXXXXXXX,[]
4340013,TURNER WAREHOUSING LIMITED,00070792,NaN,NaN,XXXXXXX,XXXXXXX,XXXXXXX,XXXXXXX,NaN,XXXXXXXX,Private Limited Company,Active,United Kingdom,NaN,01/01/1900,1.0,1.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00070792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15/01/2017,NaN,NaN,XXXXXXXX,XXXXXXXX,[]

In [60]:
df.loc[df['PostCode1'] == 'XXXX']

,CompanyName,CompanyNumber,RegAddress.CareOf,RegAddress.POBox,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,CompanyCategory,CompanyStatus,CountryOfOrigin,DissolutionDate,IncorporationDate,Accounts.AccountRefDay,Accounts.AccountRefMonth,Accounts.NextDueDate,Accounts.LastMadeUpDate,Accounts.AccountCategory,Returns.NextDueDate,Returns.LastMadeUpDate,Mortgages.NumMortCharges,Mortgages.NumMortOutstanding,Mortgages.NumMortPartSatisfied,Mortgages.NumMortSatisfied,SICCode.SicText_1,SICCode.SicText_2,SICCode.SicText_3,SICCode.SicText_4,LimitedPartnerships.NumGenPartners,LimitedPartnerships.NumLimPartners,URI,PreviousName_1.CONDATE,PreviousName_1.CompanyName,PreviousName_2.CONDATE,PreviousName_2.CompanyName,PreviousName_3.CONDATE,PreviousName_3.CompanyName,PreviousName_4.CONDATE,PreviousName_4.CompanyName,PreviousName_5.CONDATE,PreviousName_5.CompanyName,PreviousName_6.CONDATE,PreviousName_6.CompanyName,PreviousName_7.CONDATE,PreviousName_7.CompanyName,PreviousName_8.CONDATE,PreviousName_8.CompanyName,PreviousName_9.CONDATE,PreviousName_9.CompanyName,PreviousName_10.CONDATE,PreviousName_10.CompanyName,ConfStmtNextDueDate,ConfStmtLastMadeUpDate,Reg_Country,PostCode1,Postcode_FX,Postcode_Fixed
1044,00838117 LIMITED,00838117,NaN,NaN,XXXXXXX,XXXXXXX,XXXXXXX,XXXXXXX,NaN,XXXX XXX,Private Limited Company,Active,United Kingdom,NaN,18/02/1965,28.0,2.0,18/12/1966,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00838117,18/02/2014,CHARLES MCCAIN LIMITED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04/03/2017,NaN,NaN,XXXX,XXXX XXX,[]
1156,01047395 LIMITED,01047395,NaN,NaN,XXXXXXXXXXXXX,"XXXXXXXXXXXXX, XXXXXXXXXXXX",XXXXXXXXXXXXXXXXXX,"XXXXXXXXXXXXXXXX, XXXXXXXX",NaN,XXXX XXX,Private Limited Company,Active,United Kingdom,NaN,24/03/1972,24.0,3.0,24/01/1974,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/01047395,10/06/2020,TIVERTON CONSTRUCTION LIMITED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXXX,XXXX XXX,[]
736787,C. H. ELKES & SONS LIMITED,00226156,NaN,NaN,XXXXXXX,XXXXXXX,XXXXXXX,NaN,NaN,XXXX XXX,Private Limited Company,Active,United Kingdom,NaN,01/01/1900,31.0,1.0,01/11/1901,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00226156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXXX,XXXX XXX,[]
2079240,INSTANT HEAT (BIRMINGHAM) LIMITED,00945592,NaN,NaN,XX,XXXXXXX,XXXXXXX,XXXXXXX,UNITED KINGDOM,XXXX,Private Limited Company,Active,United Kingdom,NaN,01/01/1969,31.0,1.0,01/11/1970,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00945592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15/01/2017,NaN,UNITED KINGDOM,XXXX,XXXX,[]
3055881,OLDHAM ROPE AND TWINE COMPANY (THE) LIMITED,00172971,NaN,NaN,XXXX,XXXX,XXXX,XXXX,NaN,XXXX,Private Limited Company,Liquidation,United Kingdom,NaN,01/01/1919,31.0,1.0,01/11/1920,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00172971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXXX,XXXX,[]
3410539,R. CLIFFORD LIMITED,00565506,NaN,NaN,XXXX,NaN,XXXX,NaN,NaN,XXXX,Private Limited Company,Active,United Kingdom,NaN,01/05/1956,NaN,NaN,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00565506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXXX,XXXX,[]

In [61]:
df.loc[df['PostCode1'] == 'XXX']

,CompanyName,CompanyNumber,RegAddress.CareOf,RegAddress.POBox,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,CompanyCategory,CompanyStatus,CountryOfOrigin,DissolutionDate,IncorporationDate,Accounts.AccountRefDay,Accounts.AccountRefMonth,Accounts.NextDueDate,Accounts.LastMadeUpDate,Accounts.AccountCategory,Returns.NextDueDate,Returns.LastMadeUpDate,Mortgages.NumMortCharges,Mortgages.NumMortOutstanding,Mortgages.NumMortPartSatisfied,Mortgages.NumMortSatisfied,SICCode.SicText_1,SICCode.SicText_2,SICCode.SicText_3,SICCode.SicText_4,LimitedPartnerships.NumGenPartners,LimitedPartnerships.NumLimPartners,URI,PreviousName_1.CONDATE,PreviousName_1.CompanyName,PreviousName_2.CONDATE,PreviousName_2.CompanyName,PreviousName_3.CONDATE,PreviousName_3.CompanyName,PreviousName_4.CONDATE,PreviousName_4.CompanyName,PreviousName_5.CONDATE,PreviousName_5.CompanyName,PreviousName_6.CONDATE,PreviousName_6.CompanyName,PreviousName_7.CONDATE,PreviousName_7.CompanyName,PreviousName_8.CONDATE,PreviousName_8.CompanyName,PreviousName_9.CONDATE,PreviousName_9.CompanyName,PreviousName_10.CONDATE,PreviousName_10.CompanyName,ConfStmtNextDueDate,ConfStmtLastMadeUpDate,Reg_Country,PostCode1,Postcode_FX,Postcode_Fixed
932,00527065 LTD,00527065,NaN,NaN,XXX XXX,XXX,XXX,XXX,NaN,XXX,Private Limited Company,Active,United Kingdom,NaN,01/01/1901,31.0,1.0,01/11/1902,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00527065,31/01/2014,MICHAEL MCKENNA LTD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15/01/2017,NaN,NaN,XXX,XXX,[]
960482,COLIN MACANDREW AND PARTNERS LIMITED (77/1420),SC018074,NaN,NaN,XXXXXXXX,NaN,XXXXX,NaN,NaN,XXX XXX,Private Limited Company,Active,United Kingdom,NaN,29/07/1974,1.0,1.0,01/11/1975,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/SC018074,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXX,XXX XXX,[]
1480108,F.DEELEY LIMITED,00361481,NaN,NaN,XXXX,NaN,XXXX,NaN,NaN,XXX XXX,Private Limited Company,Active,United Kingdom,NaN,01/01/1939,1.0,1.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00361481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXX,XXX XXX,[]
1846584,HANCOCK BROS.(CAMBRIDGE)LIMITED,00720967,NaN,NaN,XXXXXXXX,NaN,XXXXX,NaN,NaN,XXX XXX,Private Limited Company,Active,United Kingdom,NaN,09/04/1964,NaN,NaN,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00720967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXX,XXX XXX,[]
2166062,JAMES KERSLAKE LIMITED,00333041,NaN,NaN,XXXXXX,XXXXXX,XXXXXX,NaN,NaN,XXX XXX,Private Limited Company,Liquidation,United Kingdom,NaN,01/01/1900,NaN,NaN,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00333041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXX,XXX XXX,[]
4041830,T.& A.NAYLOR LIMITED,00112983,NaN,NaN,XXX XXX,XXX,XXX,XXX,NaN,XXX,Private Limited Company,Active,United Kingdom,NaN,30/11/1910,30.0,11.0,30/09/1912,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00112983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14/12/2016,NaN,NaN,XXX,XXX,[]
4584064,WM. DRABBLE & SONS LIMITED,00653248,NaN,NaN,XXXXXX,XXXXXX,XXXXXX,NaN,NaN,XXX XXX,Private Limited Company,Active,United Kingdom,NaN,21/03/1960,NaN,NaN,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/00653248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXX,XXX XXX,[]

In [ ]:
df[some_column] == some_value 
df[some_column].isin(some_list_of_values) # This check whether the value of the column is one of the values in the list
df[some_column].str.contains() # You can use it the same as str.contains()
df[some_column].str.isdigit() # Same usage as str.isdigit(), check whether string is all digits, need to make sure column type is string in advance
df[some_column].str.len() == 4 # Filter string with length of 4

In [14]:
df['RegAddress.Country'].unique().tolist()

[nan,
 'UNITED KINGDOM',
 'ENGLAND',
 'SCOTLAND',
 'GUERNSEY',
 'MONGOLIA',
 'GERMANY',
 'POLAND',
 'WALES',
 'ISRAEL',
 'EGYPT',
 'AUSTRIA',
 'KAZAKHSTAN',
 'ROMANIA',
 'BRAZIL',
 'CROATIA',
 'UNITED STATES',
 'CANADA',
 'NORTHERN IRELAND',
 'JERSEY',
 'MALAYSIA',
 'VIRGIN ISLANDS',
 'CAYMAN ISLANDS',
 'CHANNEL ISLANDS',
 'NETHERLANDS',
 'AUSTRALIA',
 'SWITZERLAND',
 'INDIA',
 'FRANCE',
 'IRELAND',
 'SRI LANKA',
 'GHANA',
 'ITALY',
 'GREECE',
 'NIGERIA',
 'UNITED ARAB EMIRATES',
 'DENMARK',
 'BANGLADESH',
 'VIRGIN ISLANDS, BRITISH',
 'ISLE OF MAN',
 'JAPAN',
 'GIBRALTAR',
 'SINGAPORE',
 'PAKISTAN',
 'BAHAMAS',
 'HONG KONG',
 'BERMUDA',
 'RUSSIA',
 'SPAIN',
 'BELIZE',
 'SOUTH KOREA',
 'BELGIUM',
 'URUGUAY',
 'CHINA',
 'NORWAY',
 'SWEDEN',
 'ARGENTINA',
 'MEXICO',
 'LIECHTENSTEIN',
 'SEYCHELLES',
 'IRAN',
 'MOZAMBIQUE',
 'SOUTH AFRICA',
 'TANZANIA',
 'KENYA',
 'MALAWI',
 'RWANDA',
 'UGANDA',
 'ZAMBIA',
 'CZECHOSLOVAKIA',
 'IVORY COAST',
 'ALGERIA',
 'JAMAICA',
 'MALTA',
 'MAURITIUS',
 'NEW ZEALAND',
 'FIJI',
 'SERBIA',
 'ZIMBABWE',
 'CYPRUS',
 'SAUDI ARABIA',
 'OMAN',
 'KUWAIT',
 'IRAQ',
 'ALBANIA',
 'CURACAO',
 'JORDAN',
 'LIBERIA',
 'MARSHALL ISLANDS',
 'LUXEMBOURG',
 'BAHRAIN',
 'UKRAINE',
 'PANAMA',
 'MOROCCO',
 'NETHERLANDS ANTILLES',
 'ANGUILLA',
 'TURKEY',
 'THAILAND',
 'AFGHANISTAN',
 'ARMENIA',
 'LIVERPOOL',
 'TURKS AND CAICOS ISLANDS',
 'CONGO',
 'AZERBAIJAN',
 'PORTUGAL',
 'TRINIDAD AND TOBAGO',
 'COLOMBIA',
 'TAIWAN',
 'CZECH REPUBLIC',
 'BELARUS',
 'BARBADOS',
 'SAINT KITTS AND NEVIS',
 'SAINT LUCIA',
 'BRITISH ISLES',
 'DOMINICA',
 'VENEZUELA',
 'CAMEROON',
 'HONG KONG  CHINA',
 'CONGO, THE DEMOCRATIC REPUBLIC OF THE',
 'USSR',
 'GUINEA',
 'COOK ISLANDS',
 'GUYANA',
 'NORTHERN IRELAND UNITED KINGDOM',
 'KYRGYZSTAN',
 'GEORGIA',
 'BULGARIA',
 'LIBYA',
 'LATVIA',
 'GAMBIA',
 'U',
 'QATAR',
 'KOREA',
 'COSTA RICA',
 'ICELAND',
 'SLOVAKIA',
 'N',
 'BWI',
 'BOSNIA AND HERZEGOVINA',
 'PERU',
 'ETHIOPIA',
 'LEBANON',
 'VANUATU',
 'BRITISH WEST INDIES',
 'FINLAND',
 'PHILIPPINES',
 'MONACO',
 'SUDAN',
 'NEPAL',
 'FAROE ISLANDS',
 'HUNGARY',
 'GY1 2HL',
 'MOLDOVA',
 'SOUTH AFRICAN',
 'UZBEKISTAN',
 'KOSOVO',
 'REUNION',
 'CHILE',
 'PO33 2TG',
 'DUMMY',
 'LITHUANIA',
 'YUGOSLAVIA',
 'MADAGASCAR',
 'CHANNEL ISLANDSSW1W 0AU',
 'CYMRU',
 'VIETNAM',
 'TAJIKSTAN',
 'FAROE ISLAND',
 'BURUNDI',
 'BOTSWANA',
 'GRENADA',
 'ECUADOR',
 'INDONESIA',
 'TURKMENISTAN',
 'SLOVENIA',
 'WEST INDIES',
 'BRUNEI DARUSSALAM',
 'WEST YORKSHIRE',
 'BRITISH CHANNEL ISLANDS',
 'ISLAMIC REPUBLIC OF IRAN',
 'MALI',
 'ENGLAND & WALES',
 'PUERTO RICO',
 'ANTIGUA AND BARBUDA',
 'SCOTLAND  UK',
 'SOUTH-WEST AFRICA',
 'SAINT VINCENT AND THE GRENADINES',
 'BRITISH VIGIN ISLANDS',
 'SW7',
 'SIERRA LEONE',
 'YEMEN']

In [21]:
df.loc[df['RegAddress.Country'] == 'ENGLAND', ['RegAddress.Country']] = 'UNITED KINGDOM'
df.loc[df['RegAddress.Country'] == 'SCOTLAND', ['RegAddress.Country']] = 'UNITED KINGDOM'
df.loc[df['RegAddress.Country'] == 'WALES', ['RegAddress.Country']] = 'UNITED KINGDOM'
df.loc[df['RegAddress.Country'] == 'LIVERPOOL', ['RegAddress.Country']] = 'UNITED KINGDOM'
df.loc[df['RegAddress.Country'] == 'PO33 2TG', ['RegAddress.Country']] = 'UNITED KINGDOM'
df.loc[df['RegAddress.Country'] == 'WEST YORKSHIRE', ['RegAddress.Country']] = 'UNITED KINGDOM'
df.loc[df['RegAddress.Country'] == 'ENGLAND & WALES', ['RegAddress.Country']] = 'UNITED KINGDOM'
df.loc[df['RegAddress.Country'] == 'SCOTLAND  UK', ['RegAddress.Country']] = 'UNITED KINGDOM'
df.loc[df['RegAddress.Country'] == 'SW7', ['RegAddress.Country']] = 'UNITED KINGDOM'

In [22]:
df['RegAddress.Country'].unique().tolist()

[nan,
 'UNITED KINGDOM',
 'GUERNSEY',
 'MONGOLIA',
 'GERMANY',
 'POLAND',
 'ISRAEL',
 'EGYPT',
 'AUSTRIA',
 'KAZAKHSTAN',
 'ROMANIA',
 'BRAZIL',
 'CROATIA',
 'UNITED STATES',
 'CANADA',
 'NORTHERN IRELAND',
 'JERSEY',
 'MALAYSIA',
 'VIRGIN ISLANDS',
 'CAYMAN ISLANDS',
 'CHANNEL ISLANDS',
 'NETHERLANDS',
 'AUSTRALIA',
 'SWITZERLAND',
 'INDIA',
 'FRANCE',
 'IRELAND',
 'SRI LANKA',
 'GHANA',
 'ITALY',
 'GREECE',
 'NIGERIA',
 'UNITED ARAB EMIRATES',
 'DENMARK',
 'BANGLADESH',
 'VIRGIN ISLANDS, BRITISH',
 'ISLE OF MAN',
 'JAPAN',
 'GIBRALTAR',
 'SINGAPORE',
 'PAKISTAN',
 'BAHAMAS',
 'HONG KONG',
 'BERMUDA',
 'RUSSIA',
 'SPAIN',
 'BELIZE',
 'SOUTH KOREA',
 'BELGIUM',
 'URUGUAY',
 'CHINA',
 'NORWAY',
 'SWEDEN',
 'ARGENTINA',
 'MEXICO',
 'LIECHTENSTEIN',
 'SEYCHELLES',
 'IRAN',
 'MOZAMBIQUE',
 'SOUTH AFRICA',
 'TANZANIA',
 'KENYA',
 'MALAWI',
 'RWANDA',
 'UGANDA',
 'ZAMBIA',
 'CZECHOSLOVAKIA',
 'IVORY COAST',
 'ALGERIA',
 'JAMAICA',
 'MALTA',
 'MAURITIUS',
 'NEW ZEALAND',
 'FIJI',
 'SERBIA',
 'ZIMBABWE',
 'CYPRUS',
 'SAUDI ARABIA',
 'OMAN',
 'KUWAIT',
 'IRAQ',
 'ALBANIA',
 'CURACAO',
 'JORDAN',
 'LIBERIA',
 'MARSHALL ISLANDS',
 'LUXEMBOURG',
 'BAHRAIN',
 'UKRAINE',
 'PANAMA',
 'MOROCCO',
 'NETHERLANDS ANTILLES',
 'ANGUILLA',
 'TURKEY',
 'THAILAND',
 'AFGHANISTAN',
 'ARMENIA',
 'TURKS AND CAICOS ISLANDS',
 'CONGO',
 'AZERBAIJAN',
 'PORTUGAL',
 'TRINIDAD AND TOBAGO',
 'COLOMBIA',
 'TAIWAN',
 'CZECH REPUBLIC',
 'BELARUS',
 'BARBADOS',
 'SAINT KITTS AND NEVIS',
 'SAINT LUCIA',
 'BRITISH ISLES',
 'DOMINICA',
 'VENEZUELA',
 'CAMEROON',
 'HONG KONG  CHINA',
 'CONGO, THE DEMOCRATIC REPUBLIC OF THE',
 'USSR',
 'GUINEA',
 'COOK ISLANDS',
 'GUYANA',
 'NORTHERN IRELAND UNITED KINGDOM',
 'KYRGYZSTAN',
 'GEORGIA',
 'BULGARIA',
 'LIBYA',
 'LATVIA',
 'GAMBIA',
 'U',
 'QATAR',
 'KOREA',
 'COSTA RICA',
 'ICELAND',
 'SLOVAKIA',
 'N',
 'BWI',
 'BOSNIA AND HERZEGOVINA',
 'PERU',
 'ETHIOPIA',
 'LEBANON',
 'VANUATU',
 'BRITISH WEST INDIES',
 'FINLAND',
 'PHILIPPINES',
 'MONACO',
 'SUDAN',
 'NEPAL',
 'FAROE ISLANDS',
 'HUNGARY',
 'GY1 2HL',
 'MOLDOVA',
 'SOUTH AFRICAN',
 'UZBEKISTAN',
 'KOSOVO',
 'REUNION',
 'CHILE',
 'DUMMY',
 'LITHUANIA',
 'YUGOSLAVIA',
 'MADAGASCAR',
 'CHANNEL ISLANDSSW1W 0AU',
 'CYMRU',
 'VIETNAM',
 'TAJIKSTAN',
 'FAROE ISLAND',
 'BURUNDI',
 'BOTSWANA',
 'GRENADA',
 'ECUADOR',
 'INDONESIA',
 'TURKMENISTAN',
 'SLOVENIA',
 'WEST INDIES',
 'BRUNEI DARUSSALAM',
 'BRITISH CHANNEL ISLANDS',
 'ISLAMIC REPUBLIC OF IRAN',
 'MALI',
 'PUERTO RICO',
 'ANTIGUA AND BARBUDA',
 'SOUTH-WEST AFRICA',
 'SAINT VINCENT AND THE GRENADINES',
 'BRITISH VIGIN ISLANDS',
 'SIERRA LEONE',
 'YEMEN']

In [23]:
df.loc[df['RegAddress.Country'] == 'USSR']

,CompanyName,CompanyNumber,RegAddress.CareOf,RegAddress.POBox,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,CompanyCategory,CompanyStatus,CountryOfOrigin,DissolutionDate,IncorporationDate,Accounts.AccountRefDay,Accounts.AccountRefMonth,Accounts.NextDueDate,Accounts.LastMadeUpDate,Accounts.AccountCategory,Returns.NextDueDate,Returns.LastMadeUpDate,Mortgages.NumMortCharges,Mortgages.NumMortOutstanding,Mortgages.NumMortPartSatisfied,Mortgages.NumMortSatisfied,SICCode.SicText_1,SICCode.SicText_2,SICCode.SicText_3,SICCode.SicText_4,LimitedPartnerships.NumGenPartners,LimitedPartnerships.NumLimPartners,URI,PreviousName_1.CONDATE,PreviousName_1.CompanyName,PreviousName_2.CONDATE,PreviousName_2.CompanyName,PreviousName_3.CONDATE,PreviousName_3.CompanyName,PreviousName_4.CONDATE,PreviousName_4.CompanyName,PreviousName_5.CONDATE,PreviousName_5.CompanyName,PreviousName_6.CONDATE,PreviousName_6.CompanyName,PreviousName_7.CONDATE,PreviousName_7.CompanyName,PreviousName_8.CONDATE,PreviousName_8.CompanyName,PreviousName_9.CONDATE,PreviousName_9.CompanyName,PreviousName_10.CONDATE,PreviousName_10.CompanyName,ConfStmtNextDueDate,ConfStmtLastMadeUpDate,Reg_Country
969647,"COMMERCIAL BANK ""MOST-BANK",FC018405,NaN,NaN,DR MICHAEL V. BORSHCHEVSKY,32 RINGMORE RISE,LONDON,NaN,USSR,SE23 3DE,Other company type,Active,USSR,NaN,29/12/1994,31.0,12.0,NaN,31/12/1998,FULL,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC018405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/01/2017,NaN,USSR
969650,"COMMERCIAL BANK OF PROMOTION OF PROGRESSIVE TECHNOLOGIES AND INVESTMENTS IN THE FIELD OF POWER INDUSTRY, BIOTECHNOLOGY AND MEDICINE (""ELBIM-BANK"")",FC018634,NaN,NaN,MR SERGEI MOROZOV (+ 1 OTHER),104 SALISBURY HOUSE,LONDON WALL,LONDON,USSR,EC2M 5QQ,Other company type,Active,USSR,NaN,01/05/1995,31.0,12.0,NaN,31/12/1998,FULL,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC018634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15/05/2017,NaN,USSR
969652,COMMERCIAL BANK STROYINVEST,FC017697,NaN,NaN,L.P. BLAKELEY,COMMERCIAL BANK STROYINVEST,"SUITE 252, 2 LANSDOWNE ROW",BERKELEY SQUARE LONDON8HL,USSR,NaN,Other company type,Active,USSR,NaN,13/12/1993,31.0,12.0,NaN,01/01/1999,FULL,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC017697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27/12/2016,NaN,USSR
983371,CONCERN MILAN,FC019167,NaN,NaN,45 LENINSKY PROSPECT,MOSCOW,RUSSIA,NaN,USSR,NaN,Other company type,Active,USSR,NaN,12/04/1996,30.0,4.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC019167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21/05/2017,NaN,USSR
1400849,ENERGY MACHINE BUILDING BANK (ENERGOMASHBANK) (PUBLIC JOINT STOCK COMPANY),FC020646,NaN,NaN,MR ALEXEI FOMINE,276 HIGH STREET,GUILDFORD,SURREY,USSR,GU1 3JL,Other company type,Active,USSR,NaN,26/09/1997,31.0,12.0,NaN,31/12/2001,FULL,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC020646,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10/10/2016,NaN,USSR
1509811,"FEDERAL STATE UNITARY ENTERPRISE ""STATE TRANSPORT COMPANY ""RUSSIA"" T/A - ""ROSSIYA"" - RUSSIAN AIRLINES",FC025213,NaN,NaN,ALEXANDRE SHUKLIN,THE MEWS,ST NICHOLAS LANE,LEWES LEWES EAST SUSSEX,USSR,BN7 2JZ,Other company type,Active,USSR,NaN,21/04/2004,30.0,4.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC025213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05/05/2017,NaN,USSR
2086622,"INTER-REGIONAL PUBLIC ORGANIZATION ""THE CENTER FOR INTERNATIONAL ECONOMIC SCIENTIFIC AND CULTURAL COOPERATION""",FC025214,NaN,NaN,STEPHEN JOHN GOLDSMITH (+1 OTH),2 KNIGHTON PLACE,OFF KNIGHTON LANE,BUCKHURST HILL ESSEXIG9 5EH,USSR,NaN,Other company type,Active,USSR,NaN,28/04/2004,31.0,12.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC025214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/05/2017,NaN,USSR
2099659,"INVESTMENT FUND OF SOCIAL PROTECTION ""PARMA""",FC018729,NaN,NaN,167031 32 PERVOMAYSKAYA ST,SYKTYVKAR,KOMI REPUBLIC,RUSSIA,USSR,NaN,Other company type,Active,USSR,NaN,01/08/1995,31.0,8.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC018729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28/08/2016,NaN,USSR
2109865,IRTYSH SHIPPING COMPANY,FC022524,NaN,NaN,3 K. MARX PROSPECT,644042 OMSK-24,RUSSIA,NaN,USSR,NaN,Other company type,Active,USSR,NaN,10/05/2000,31.0,3.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC022524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03/07/2017,NaN,USSR
2231627,JOINT STOCK BANK IMPERIAL,FC020385,NaN,NaN,ALEXANDER NIKOLAYEVICH KOLCHEV,4TH FLOOR SOUTH WARWICK HOUSE,65/66 QUEEN STREET,LONDON EC4,USSR,NaN,Other company type,Active,USSR,NaN,28/01/1997,31.0,1.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC020385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11/02/2017,NaN,USSR
2231628,"JOINT STOCK COMMERCIAL BANK ""CENTROCREDIT""",FC023473,NaN,NaN,31 PYATNITSKAYA STREET,109017 MOSCOW,RUSSIA,NaN,USSR,NaN,Other company type,Active,USSR,NaN,16/07/2001,30.0,9.0,NaN,NaN,FULL,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC023473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11/10/2016,NaN,USSR
2231631,"JOINT STOCK COMPANY ""ROSSIYSKIY KREDIT BANK""",FC021351,NaN,NaN,MR EVGENY SADOVSKY,26 BARK PLACE,LONDON,NaN,USSR,W2 7AT,Other company type,Active,USSR,NaN,18/09/1998,30.0,9.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC021351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02/10/2016,NaN,USSR
2231687,"JOINT-STOCK COMPANY ""CONCORD"", INC.",FC022361,NaN,NaN,"MOZAOSKOYE AV, 8",MOSCOW 121373,MOSCOW,NaN,USSR,NaN,Other company type,Active,USSR,NaN,12/01/2000,31.0,1.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC022361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06/04/2017,NaN,USSR
2231688,"JOINT-STOCK COMPANY FEDERAL CONTRACT CORPORATION ""ROSCONTRACT""",FC020566,NaN,NaN,DR OLEG PRESKIN,10 CHARLES II STREET,LONDON,NaN,USSR,SW1Y 4AA,Other company type,Active,USSR,NaN,07/08/1997,31.0,8.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC020566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21/08/2016,NaN,USSR
2632700,MANAGING COMPANY OF BANKING GROUP SBS-AGRO,FC020977,NaN,NaN,70 PYATNITSKAYA STR.,MOSCOW 113095,RUSSIA,NaN,USSR,NaN,Other company type,Active,USSR,NaN,18/03/1998,30.0,4.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC020977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20/04/2017,NaN,USSR
2654653,MARITIME JOINT STOCK BANK,FC017615,NaN,NaN,YURIY ALEKSEEVICH BALAGUROV,11-103 SLOANE STREET,LONDON,NaN,USSR,SW1X 9PP,Other company type,Active,USSR,NaN,16/08/1993,31.0,8.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC017615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30/08/2016,NaN,USSR
2750916,MEZHCOMBANK,FC019408,NaN,NaN,MR ALEKSANOR LINTSOV,36/38 CORNHILL,LONDON,NaN,USSR,EC3V 3ND,Other company type,Active,USSR,NaN,06/09/1996,31.0,12.0,NaN,01/01/1997,ACCOUNTS TYPE NOT AVAILABLE,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC019408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20/09/2016,NaN,USSR
2843816,"MOSCOW SCIENTIFIC INDUSTRIAL ASSOCIATION ""SPECTRUM""",FC018175,NaN,NaN,ZAKHAR VLADIMIROVICH KLYUYEV(+1),43 FLORENCE ROAD,LOWESTOFT,SUFFOLK,USSR,NaN,Other company type,Active,USSR,NaN,01/08/1994,31.0,8.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC018175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15/08/2016,NaN,USSR
2913529,NATIONAL KYRGYZSTAN AIRLINES,FC021648,NaN,NaN,MANAS AIRPORT,BISHKEK,KYRGYZSTAN,NaN,USSR,NaN,Other company type,Active,USSR,NaN,05/01/1999,31.0,3.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC021648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17/03/2017,NaN,USSR
3500340,RETUSH,FC021747,NaN,NaN,BOARDROOM 51,ENISEISKAJA 33,MOSCOW,RUSSIA,USSR,NaN,Other company type,Active,USSR,NaN,31/10/1999,30.0,4.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC021747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10/05/2017,NaN,USSR
3639943,"SAINT-PETERSBURG COMMERCIAL BANK ""TAVRICHESKY"" (JOINT STOCK)",FC023991,NaN,NaN,"39 RADISHCHEVA UI,",ST PETERSBURG 191123,RUSSIA,NaN,USSR,NaN,Other company type,Active,USSR,NaN,09/07/2002,31.0,7.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC023991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30/07/2016,NaN,USSR
3937837,"STAYTOR, LIMITED LIABILITY COMPANY",FC023069,NaN,NaN,MS NADEZHDA SCHERBAKOVA,11 LEXHAM MEWS,LONDON,NaN,USSR,W8 6JW,Other company type,Active,USSR,NaN,02/02/2001,28.0,2.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC023069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16/02/2017,NaN,USSR
4163130,"THE JOINT-STOCK BANK ""TORIBANK""",FC020846,NaN,NaN,MR ANTON ISSUPOV,17 PRINCE ALBERT ROAD,LONDON,NaN,USSR,NW1 7ST,Other company type,Active,USSR,NaN,09/06/1997,31.0,12.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC020846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23/06/2017,NaN,USSR
4376414,UNICORN (LMUK) LTD,FC021234,NaN,NaN,9 STAROMONETNY PER,MOSCOW,109017,RUSSIA,USSR,NaN,Other company type,Active,USSR,NaN,15/05/1998,31.0,7.0,NaN,31/12/2000,FULL,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC021234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07/08/2016,NaN,USSR
4643208,YOUR LAWYER JOINT STOCK COMPANY,FC021551,NaN,NaN,MS NATASHA LOBOVA,59 G KENSINGTON COURT,LONDON,NaN,USSR,W8 5DG,Other company type,Active,USSR,NaN,25/11/1998,30.0,11.0,NaN,NaN,NO ACCOUNTS FILED,NaN,NaN,0,0,0,0,None Supplied,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/FC021551,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09/12/2016,NaN,USSR

In [24]:
df.loc[df['RegAddress.Country'] == 'NORTHERN IRELAND']

,CompanyName,CompanyNumber,RegAddress.CareOf,RegAddress.POBox,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,CompanyCategory,CompanyStatus,CountryOfOrigin,DissolutionDate,IncorporationDate,Accounts.AccountRefDay,Accounts.AccountRefMonth,Accounts.NextDueDate,Accounts.LastMadeUpDate,Accounts.AccountCategory,Returns.NextDueDate,Returns.LastMadeUpDate,Mortgages.NumMortCharges,Mortgages.NumMortOutstanding,Mortgages.NumMortPartSatisfied,Mortgages.NumMortSatisfied,SICCode.SicText_1,SICCode.SicText_2,SICCode.SicText_3,SICCode.SicText_4,LimitedPartnerships.NumGenPartners,LimitedPartnerships.NumLimPartners,URI,PreviousName_1.CONDATE,PreviousName_1.CompanyName,PreviousName_2.CONDATE,PreviousName_2.CompanyName,PreviousName_3.CONDATE,PreviousName_3.CompanyName,PreviousName_4.CONDATE,PreviousName_4.CompanyName,PreviousName_5.CONDATE,PreviousName_5.CompanyName,PreviousName_6.CONDATE,PreviousName_6.CompanyName,PreviousName_7.CONDATE,PreviousName_7.CompanyName,PreviousName_8.CONDATE,PreviousName_8.CompanyName,PreviousName_9.CONDATE,PreviousName_9.CompanyName,PreviousName_10.CONDATE,PreviousName_10.CompanyName,ConfStmtNextDueDate,ConfStmtLastMadeUpDate,Reg_Country
1000,007 HEALTHCARE LIMITED,NI637089,NaN,NaN,47 ERINVALE AVENUE,NaN,BELFAST,ANTRIM,NORTHERN IRELAND,BT10 0FP,Private Limited Company,Active - Proposal to Strike off,United Kingdom,NaN,14/03/2016,31.0,3.0,31/12/2019,31/03/2018,NaN,11/04/2017,NaN,0,0,0,0,82990 - Other business support service activities n.e.c.,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/NI637089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28/03/2020,14/03/2019,NORTHERN IRELAND
1803,07 1HH 116 LIMITED,NI664888,NaN,NaN,422 LISBURN ROAD,NaN,BELFAST,NaN,NORTHERN IRELAND,BT9 6GN,Private Limited Company,Active,United Kingdom,NaN,04/10/2019,31.0,10.0,04/07/2021,NaN,NO ACCOUNTS FILED,01/11/2020,NaN,0,0,0,0,68100 - Buying and selling of own real estate,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/NI664888,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14/11/2020,NaN,NORTHERN IRELAND
1804,07 1HH 132 LIMITED,NI664670,NaN,NaN,422 LISBURN ROAD,NaN,BELFAST,NaN,NORTHERN IRELAND,BT9 6GN,Private Limited Company,Active,United Kingdom,NaN,26/09/2019,30.0,9.0,26/06/2021,NaN,NO ACCOUNTS FILED,24/10/2020,NaN,0,0,0,0,68100 - Buying and selling of own real estate,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/NI664670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06/11/2020,NaN,NORTHERN IRELAND
2167,1 - 3 DUNISLAND LTD,NI625148,NaN,NaN,12 MILL ROAD,NaN,BALLYCLARE,NaN,NORTHERN IRELAND,BT39 9DY,Private Limited Company,Active,United Kingdom,NaN,12/06/2014,30.0,6.0,30/06/2021,30/06/2019,DORMANT,10/07/2017,12/06/2016,0,0,0,0,98000 - Residents property management,99999 - Dormant Company,NaN,NaN,0,0,http://business.data.gov.uk/id/company/NI625148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26/06/2021,12/06/2020,NORTHERN IRELAND
2876,1 OAK LEISURE IRELAND LTD,NI610891,NaN,NaN,71 CREAGH ROAD,CASTLEDAWSON,MAGHERAFELT,NaN,NORTHERN IRELAND,BT45 8EY,Private Limited Company,Active,United Kingdom,NaN,27/01/2012,31.0,8.0,31/08/2020,31/08/2018,SMALL,24/02/2017,27/01/2016,5,5,0,0,56101 - Licensed restaurants,56302 - Public houses and bars,NaN,NaN,0,0,http://business.data.gov.uk/id/company/NI610891,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10/03/2021,27/01/2020,NORTHERN IRELAND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4671669,ZZ EDIBLED LIMITED,NI663237,NaN,NaN,112 BURREN ROAD,WARRENPOINT,NEWRY,CO. DOWN.,NORTHERN IRELAND,BT34 3XT,Private Limited Company,Active,United Kingdom,NaN,24/07/2019,31.0,7.0,24/04/2021,NaN,NO ACCOUNTS FILED,21/08/2020,NaN,0,0,0,0,47910 - Retail sale via mail order houses or via Internet,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/NI663237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03/09/2020,NaN,NORTHERN IRELAND
4671896,IRE B&B LIMITED,NI653898,NaN,NaN,39 GRANGE ROAD,BALLYMENA,TOOMEBRIDGE,ANTRIM,NORTHERN IRELAND,BT41 3QB,Private Limited Company,Active,United Kingdom,NaN,21/06/2018,30.0,6.0,30/06/2021,30/06/2019,DORMANT,19/07/2019,NaN,0,0,0,0,55100 - Hotels and similar accommodation,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/NI653898,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01/08/2020,20/06/2019,NORTHERN IRELAND
4671897,IRVIS TECHNOLOGY LTD,NI667281,NaN,NaN,33 GALLAUN,NaN,DOWNPATRICK,NaN,NORTHERN IRELAND,BT30 6GA,Private Limited Company,Active,United Kingdom,NaN,27/01/2020,31.0,1.0,27/10/2021,NaN,NO ACCOUNTS FILED,24/02/2021,NaN,0,0,0,0,27120 - Manufacture of electricity distribution and control apparatus,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/NI667281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09/03/2021,NaN,NORTHERN IRELAND
4671911,KO FOR PURPOSE LTD,NI669364,NaN,NaN,15 PRIMROSE GARDEN VILLAGE,NaN,LISBURN,NaN,NORTHERN IRELAND,BT28 1LY,Private Limited Company,Active,United Kingdom,NaN,11/05/2020,31.0,5.0,11/02/2022,NaN,NO ACCOUNTS FILED,08/06/2021,NaN,0,0,0,0,47910 - Retail sale via mail order houses or via Internet,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/NI669364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24/05/2021,NaN,NORTHERN IRELAND
4671930,IR CONSULTING LTD,NI662497,NaN,NaN,48 GILFORD ROAD,PORTADOWN,CRAIGAVON,NaN,NORTHERN IRELAND,BT63 5EF,Private Limited Company,Active,United Kingdom,NaN,24/06/2019,30.0,6.0,24/06/2021,NaN,NO ACCOUNTS FILED,22/07/2020,NaN,0,0,0,0,62020 - Information technology consultancy activities,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/NI662497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04/08/2020,NaN,NORTHERN IRELAND